{% import './tools/_macros.css' %}
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


{## Table of contents

  1. Variables
    1a. Containers
    1b. Colors
    1c. Typography
    1d. Buttons
    1e. Forms
    1f. Tables
    1g. Website header
    1h. Website footer
  2. Containers / Grid / DND areas
  3. Typography
  4. Buttons
  5. Forms
  6. Tables
  7. Website header
  8. Website footer
  9. Blog
  10. System pages
  11. Modules

##}

{###########################################################################}
{############################   1. Variables   #############################}
{###########################################################################}

/* 1a. Containers */

{% set container_width = theme.spacing.maximum_content_width ~ 'px' %}
{% set dnd_section_padding = theme.spacing.vertical_spacing ~ 'px ' ~ '1rem' %}

/* 1b. Colors */

{% set primary_color = theme.global_colors.primary.color  %}
{% set secondary_color = theme.global_colors.secondary.color %}

/* 1c. Typography */

{% set primary_font = theme.global_fonts.primary %}
{% set secondary_font = theme.global_fonts.secondary %}

{% set h1_font = theme.text.h1.font %}
{% set h1_text_transform = theme.text.h1.transform %}

{% set h2_font = theme.text.h2.font %}
{% set h2_text_transform = theme.text.h2.transform %}

{% set h3_font = theme.text.h3.font %}
{% set h3_text_transform = theme.text.h3.transform %}

{% set h4_font = theme.text.h4.font %}
{% set h4_text_transform = theme.text.h4.transform %}

{% set h5_font = theme.text.h5.font %}
{% set h5_text_transform = theme.text.h5.transform %}

{% set h6_font = theme.text.h6.font %}
{% set h6_text_transform = theme.text.h6.transform %}

{% set body_font = theme.text.body_font.font %}

{% set anchor_font = theme.text.links.font %}

/* 1d. Buttons */

{% set button_font = theme.buttons.text.font %}
{% set button_text_transform = theme.buttons.text.transform %}
{% set button_bg_color = color(theme.buttons.background.color) %}
{% set button_border = theme.buttons.border.border.css %}
{% set button_corner_radius = theme.buttons.corner.radius ~ 'px' %}
{% set button_spacing = theme.buttons.spacing.spacing.css %}

/* 1e. Forms */

{% set form_title_font_color = theme.forms.title.text.color.color %}

{% set form_label_font_color = theme.forms.labels.text.color.color %}

{% set form_help_text_font_color = theme.forms.help_text.text.color.color %}

{% set form_field_placeholder_color = theme.forms.fields.placeholder.color.color %}
{% set form_field_font_color = theme.forms.fields.text.color.color %}
{% set form_field_bg_color = color(theme.forms.fields.background.color) %}
{% set form_field_border = theme.forms.fields.border.border.css %}
{% set form_field_corner_radius = theme.forms.fields.corner.radius ~ 'px' %}

/* 1f. Tables */

{% set table_head_bg_color = color(theme.tables.header.background.color) %}
{% set table_head_font_color = theme.tables.header.text.color.color %}

{% set table_bg_color = color(theme.tables.table_body.background.color) %}
{% set table_font_color = theme.tables.table_body.text.color.color %}

{% set table_footer_bg_color = color(theme.tables.footer.background.color) %}
{% set table_footer_font_color = theme.tables.footer.text.color.color %}

{% set table_cell_spacing = theme.tables.cells.spacing.spacing.css %}
{% set table_border = theme.tables.cells.border.border.css %}

/* 1g. Website header */

{% set nav_font_color = theme.header.menu.text.color.color %}
{% set nav_drop_down_font_color = theme.header.menu.drop_downs.text.color.color %}
{% set nav_drop_down_bg_color = color(theme.header.menu.drop_downs.background.color) %}
{% set nav_drop_down_border = theme.header.menu.drop_downs.border.border.css %}

{% set header_bg_color = color(theme.header.background.color) %}

/* 1h. Website footer */

{% set footer_bg_color = color(theme.footer.background.color) %}
{% set footer_font_color = theme.footer.text.color.color %}

{###########################################################################}
{##################   2. Containers / Grid / DND areas   ###################}
{###########################################################################}

.content-wrapper {
  max-width: {{ container_width }};
}

.dnd-section,
.content-wrapper--vertical-spacing {
  padding: {{ dnd_section_padding }};
}

.dnd-section > .row-fluid {
  max-width: {{ container_width }};
}

{###########################################################################}
{###########################   3. Typography   #############################}
{###########################################################################}

html {
  font-size: {{ body_font.size ~ body_font.size_unit }};
}

body {
  {{ body_font.style }};
  color: {{ body_font.color }};
  font-size: {{ body_font.size ~ body_font.size_unit }};
}

/* Paragraphs */
 

/* Anchors */

a {
/*   {# {{ anchor_font.style }}; #} */
  color: {{ anchor_font.color }};
}

a:hover,
a:focus {
/*   {# {{ anchor_font.style }}; #} */
  color: {{ color_variant(anchor_font.color, -40) }};
}

a:active {
/*   {# {{ anchor_font.style }}; #} */
  color: {{ color_variant(anchor_font.color, 40) }};
}

/* Headings */

h1,
.h1 {
  {{ h1_font.style }};
  color: {{ h1_font.color }};
  font-size: {{ h1_font.size ~ h1_font.size_unit }};
  text-transform: {{ h1_text_transform }};
}

.products-listing h3 {color: {{ secondary_color }};}
.products-listing h3.text-yellow {color: {{ primary_color }};}

h2,
.h2 {
  {{ h2_font.style }};
  color: {{ h2_font.color }};
  font-size: {{ h2_font.size ~ h2_font.size_unit }};
  text-transform: {{ h2_text_transform }};
}

h3,
.h3 {
  {{ h3_font.style }};
  color: {{ h3_font.color }};
  font-size: {{ h3_font.size ~ h3_font.size_unit }};
  text-transform: {{ h3_text_transform }};
}

h4,
.h4 {
  {{ h4_font.style }};
  color: {{ h4_font.color }};
  font-size: {{ h4_font.size ~ h4_font.size_unit }};
  text-transform: {{ h4_text_transform }};
}

h5,
.h5 {
  {{ h5_font.style }};
  color: {{ h5_font.color }};
  font-size: {{ h5_font.size ~ h5_font.size_unit }};
  text-transform: {{ h5_text_transform }};
}

h6,
.h6 {
  {{ h6_font.style }};
  color: {{ h6_font.color }};
  font-size: {{ h6_font.size ~ h6_font.size_unit }};
  text-transform: {{ h6_text_transform }};
}

/* Blockquote */

blockquote {
  border-left-color: {{ secondary_color }};
}

{###########################################################################}
{############################   4. Buttons   ###############################}
{###########################################################################}

button,
.button {
  {{ button_border }}
  {{ button_spacing }}
  {{ button_font.style }};
  background-color: {{ primary_color }};
  border-radius: {{ button_corner_radius }};
  color: {{ button_font.color }};
  font-size: {{ button_font.size ~ button_font.size_unit }};
  text-transform: {{ button_text_transform }};
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  {# {{ button_font.style }}; #}
 {# background-color: rgba({{ color_variant(theme.buttons.background.color.color, -40)|convert_rgb }}, {{ theme.buttons.background.color.opacity / 100 }}); #}
  {#border-color: {{ color_variant(theme.buttons.border.border.top.color, -40) }}; #}
  background-color:  {{ primary_color }};
  border-color:  {{ primary_color }}; 
}

button:active,
.button:active {
  {#{{ button_font.style }}; #}
  {#  background-color: rgba({{ color_variant(theme.buttons.background.color.color, 40)|convert_rgb }}, {{ theme.buttons.background.color.opacity / 100 }});
  border-color: {{ color_variant(theme.buttons.border.border.top.color, 40) }}; #}
   background-color:  {{ primary_color }};
   border-color: {{ primary_color }}; 
  
}
button:hover,
button:focus,
.button:hover,
.button:focus{ 
 color: #ffffff;
}

{###########################################################################}
{##############################   5. Forms   ###############################}
{###########################################################################}

form,
.submitted-message {
  {{ body_font.style }};
}

/* Form title */

.form-title {
  color: {{ form_title_font_color }};
}

/* Labels */

form label {
  color: {{ form_label_font_color }};
}

/* Help text */

form legend {
  color: {{ form_help_text_font_color }};
}

/* Inputs */

form input[type=text],
form input[type=email],
form input[type=password],
form input[type=tel],
form input[type=number],
form input[type=file],
form select,
form textarea {
  {{ form_field_border }}
  background-color: {{ form_field_bg_color }};
  color: {{ form_field_font_color }};
  border-radius: {{ form_field_corner_radius }};
}

/* Form placeholder text */

::-webkit-input-placeholder {
  color: {{ form_field_placeholder_color }};
}

::-moz-placeholder {
  color: {{ form_field_placeholder_color }};
}

:-ms-input-placeholder {
  color: {{ form_field_placeholder_color }};
}

::placeholder {
  color: {{ form_field_placeholder_color }};
}

/* Inputs - date picker */

.hs-fieldtype-date .input .hs-dateinput:before {
  color: {{ form_field_placeholder_color }};
}

.fn-date-picker td.is-selected .pika-button {
  background: {{ primary_color }};
}

.fn-date-picker td .pika-button:hover {
  background-color: {{ primary_color }} !important;
}

.fn-date-picker td.is-today .pika-button {
  color: {{ primary_color }};
}

/* Submit button */

form input[type=submit],
form .hs-button {
  {{ button_border }}
  {{ button_spacing }}
  {{ button_font.style }};
  background-color: {{ button_bg_color }};
  border-radius: {{ button_corner_radius }};
  color: {{ button_font.color }};
  font-size: {{ button_font.size ~ button_font.size_unit }};
  text-transform: {{ button_text_transform }};
}

form input[type=submit]:hover,
form input[type=submit]:focus,
form .hs-button:hover,
form .hs-button:focus {
  {#background-color: rgba({{ color_variant(theme.buttons.background.color.color, -40)|convert_rgb }}, {{ theme.buttons.background.color.opacity / 100 }});
  border-color: {{ color_variant(theme.buttons.border.border.top.color, -40) }}; #}
  background-color:  {{ primary_color }};
  border-color:  {{ primary_color }}; 
  color: #fff;
}

form input[type=submit]:active,
form .hs-button:active {
  {# background-color: rgba({{ color_variant(theme.buttons.background.color.color, 40)|convert_rgb }}, {{ theme.buttons.background.color.opacity / 100 }});
  border-color: {{ color_variant(theme.buttons.border.border.top.color, 40) }}; #}
background-color:  {{ primary_color }};
border-color:  {{ primary_color }}; 
   color: #fff;
}

{###########################################################################}
{#############################   6. Tables   ###############################}
{###########################################################################}

/* Table */

table {
  {{ table_border }}
  background-color: {{ table_bg_color }};
}

/* Table cells */

td,
th {
  {{ table_border }}
  {{ table_cell_spacing }}
  color: {{ table_font_color }};
}

/* Table header */

thead th {
  background-color: {{ table_head_bg_color }};
  color: {{ table_head_font_color }};
}

/* Table footer */

tfoot td {
  background-color: {{ table_footer_bg_color }};
  color: {{ table_footer_font_color }};
}

{###########################################################################}
{###########################   7. Website header   #########################}
{###########################################################################}

.header {
  background-color: {{ header_bg_color }};
}

.menu__link,
.header__logo .logo-company-name,
.header__language-switcher-label-current,
.header__language-switcher .lang_list_class li a {
  color: {{ nav_font_color }};
  font-family: {{ body_font.font }};
}

.menu__child-toggle-icon {
  border-top-color: {{ nav_font_color }};
}

.menu .menu__link:hover,
.menu .menu__link:focus,
.header__language-switcher-label-current:hover,
.header__language-switcher-label-current:focus,
.header__language-switcher .lang_list_class li:hover a,
.header__language-switcher .lang_list_class li a:focus {
  color: {{ color_variant(nav_font_color, -40) }};
}

.menu__child-toggle-icon:hover,
.menu__child-toggle-icon:focus {
  border-top-color: {{ color_variant(nav_font_color, -40) }};
}

.menu .menu__link:active,
.header__language-switcher-label-current:active,
.header__language-switcher .lang_list_class li a:active {
  color: {{ color_variant(nav_font_color, 40) }};
}

.menu__child-toggle-icon:active {
  border-top-color: {{ color_variant(nav_font_color, 40) }};
}

.menu .menu__item--depth-1 > .menu__link--active-link:after {
  background-color: {{ nav_font_color }};
}

@media (min-width: 767px) {
  .menu .menu__submenu,
  .header__language-switcher .lang_list_class {
    {{ nav_drop_down_border }}
    background-color: {{ nav_drop_down_bg_color }};
  }
  
  .header-search form { display:inline-flex; }

  .menu__submenu--level-2 > .menu__item:first-child:before {
    {{ nav_drop_down_border }}
    background-color: {{ nav_drop_down_bg_color }};
  }
}

.menu__submenu .menu__link,
.menu__submenu .menu__link:hover,
.menu__submenu .menu__link:focus {
  color: {{ nav_drop_down_font_color }};
  background-color: {{ nav_drop_down_bg_color }};
}

.header__language-switcher .lang_list_class:before {
  border-bottom-color: {{ theme.header.menu.drop_downs.border.border.top.color }};
}

.menu__submenu .menu__link:hover,
.menu__submenu .menu__link:focus,
.header__language-switcher .lang_list_class li:hover,
.menu__submenu--level-2 > .menu__item:first-child:hover:before,
.menu__submenu--level-2 > .menu__item:first-child.focus:before {
  background-color: {{ header_bg_color }};
}

.header__language-switcher .lang_list_class.first-active::after {
  border-bottom-color: {{ header_bg_color }};
}

.header__language-switcher-label-current,
.header__language-switcher .lang_list_class li a {
  font-family: {{ body_font.font }};
}

.header__language-switcher-label-current:after {
  border-top-color: {{ nav_font_color }};
}

@media(max-width: 767px) {
  .header__navigation {
    background-color: {{ header_bg_color }};
  }
  
  .header-search form button { position: absolute; top: 0; right: 0; width: 52px; }

  .header__navigation-toggle svg,
  .menu-arrow svg {
    fill: {{ nav_font_color }};
  }
}

{###########################################################################}
{###########################   8. Website footer   #########################}
{###########################################################################}

.footer {
  background-color: {{ footer_bg_color }};
}

/* Footer content */

.footer p,
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6,
.footer label,
.footer span,
.footer li,
.footer img {
  color: {{ footer_font_color }};
}

{###########################################################################}
{##############################   9. Blog   ################################}
{###########################################################################}

.blog-post,
.blog-header__inner,
.blog-related-posts {
  padding: {{ theme.spacing.vertical_spacing ~ 'px' }} 0;
}

/* Blog post */

.blog-post__meta a {
  color: {{ body_font.color }};
}

.blog-post__tag-link {
  color: {{ body_font.color }};
}

.blog-post__tag-link:hover,
.blog-post__tag-link:focus {
  color: {{ color_variant(body_font.color, -40) }};
}

.blog-post__tag-link:active {
  color: {{ color_variant(body_font.color, 40) }};
}

/* Blog related posts */

.blog-related-posts__title-link,
.blog-related-posts__title-link:hover,
.blog-related-posts__title-link:focus,
.blog-related-posts__title-link:active {
  {{ h2_font.style }};
  text-transform: {{ h2_text_transform }};
}

.blog-related-posts__title-link {
  color: {{ h2_font.color }};
}

.blog-related-posts__title-link:hover,
.blog-related-posts__title-link:focus {
  color: {{ color_variant(h2_font.color, -40) }};
}

.blog-related-posts__title-link:active {
  color: {{ color_variant(h2_font.color, 40) }};
}

/* Blog comments */

.blog-comments {
  margin-bottom: {{ theme.spacing.vertical_spacing }}px;
}

#comments-listing .comment-reply-to {
  color: {{ anchor_font.color }};
}

#comments-listing .comment-reply-to:hover,
#comments-listing .comment-reply-to:focus {
  color: {{ color_variant(anchor_font.color, -40) }};
}

#comments-listing .comment-reply-to:active {
  color: {{ color_variant(anchor_font.color, 40) }};
}

{###########################################################################}
{##########################   10. System pages   ###########################}
{###########################################################################}

.hs-search-results__title {
  {{ h1_font.style }};
  color: {{ h1_font.color }};
}

{###########################################################################}
{############################   11. Modules   ##############################}
{###########################################################################}

/* Blog listing */

.blog-index__post-title-link,
.blog-index__post-title-link:hover,
.blog-index__post-title-link:focus,
.blog-index__post-title-link:active {
  {{ h2_font.style }};
  text-transform: {{ h2_text_transform }};
}

.blog-index__post-title-link {
  color: {{ h2_font.color }};
}

.blog-index__post-title-link:hover,
.blog-index__post-title-link:focus {
  color: {{ color_variant(h2_font.color, -40) }};
}

.blog-index__post-title-link:active {
  color: {{ color_variant(h2_font.color, 40) }};
}

.blog-index__post-tag,
.blog-index__post-author-name {
  color: {{ body_font.color }};
}

/* Blog pagination */

.pagination__link-text,
.pagination__link--number {
  color: {{ body_font.color }};
}

.pagination__link:hover .pagination__link-text,
.pagination__link:focus .pagination__link-text,
.pagination__link--number:hover,
.pagination__link--number:focus {
  color: {{ color_variant(body_font.color, -40) }};
}

.pagination__link:active .pagination__link-text,
.pagination__link--number:active {
  color: {{ color_variant(body_font.color, 40) }};
}

.pagination__link-icon svg {
  fill: {{ body_font.color }};
}

/* Pricing card */

.card__price {
  {{ h3_font.style }};
  color: {{ h3_font.color }};
  font-size: {{ h3_font.size ~ h3_font.size_unit }};
}

.card__body svg {
  fill: {{ primary_color }};
}

/* Social follow */

.social-links__icon {
  background-color: {{ primary_color }};
}

.social-links__icon:hover,
.social-links__icon:focus {
  background-color: {{ color_variant(primary_color, -40) }};
}

.social-links__icon:active {
  background-color: {{ color_variant(primary_color, 40) }};
  {{ h3_font.style }};
  color: {{ h3_font.color }};
  font-size: {{ h3_font.size ~ h3_font.size_unit }};
}


{% set sairaCondensed = "'Saira Condensed', sans-serif" %}
{% set roboto = "'Roboto', sans-serif" %}
{% set robotoCondensed = "'Roboto Condensed', sans-serif" %}
 
/* All heading font size reduced 4px compare to XD design  */
 html.scroll-smooth { scroll-behavior: smooth; }
*, *::before, *::after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body { margin: 0; padding: 0; overflow-x: hidden; line-height: 30px; }
h1, h2, h3, h4, h5, h6 { line-height: 1.1; }
a { display: inline-block; max-width: 100% !important; text-decoration: none !important; vertical-align: middle; }
img { max-width: 100%; height: auto; vertical-align: middle; }
.content-wrapper { max-width: {{ container_width }};  width: 100%; float: none !important; display: block; margin: 0 auto !important; padding-left: 40px; padding-right: 40px;  }
ul, ol { padding: 0; margin: 0; list-style: none; }
.text-yellow h1 > span, .text-yellow h2 > span, .text-yellow h3 > span, .text-yellow h4 > span, .text-yellow h5 > span, .text-yellow h6 > span { color: #E9951B; }
.page-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap; }
.align-center { -webkit-align-items: center; align-items: center; }
.j-end { -webkit-justify-content: flex-end; justify-content: flex-end; }
.j-center { -webkit-justify-content: center; justify-content: center; }
.float-left { float: left; }
.fullwidth { float: left; width: 100%; }
.text-upper { text-transform: uppercase; }

.btn-yellow a { min-width: 160px; border: 1px solid #E9951B; background-color: #E9951B; color: #fff; font-size: 16px; line-height: normal; padding: 11px 31px; font-weight: 700; margin-top:10px; text-transform: uppercase; font-family: {{ robotoCondensed }}; transition: 0.4s ease all; text-align: center; }
.btn-yellow a:hover { background-color:  {{ primary_color }}; border-color:  {{ primary_color }}; color: #000; }
.btn-yellow.btn-check-icon a { position: relative; padding: 13px 30px 13px 58px; font-size: 16px; }
.btn-check-icon a:before { content: " "; position: absolute; left: 15px; top: 50%; transform: translateY(-50%); background: url(https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/ic_check_circle_24px.svg) no-repeat top/contain; width: 29px; height: 29px; }
.btn-check-icon a:hover:before { filter: invert(1); }

.slick-arrow {  position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 41px; height: 41px; font-size: 0; padding: 0; background: transparent; border: 1px solid #fff; -webkit-border-radius: 50%; border-radius: 50%; z-index: 1;  }
/* .slick-arrow.slick-prev { left: calc((100vw - 1380px)/2); }
.slick-arrow.slick-next { right: calc((100vw - 1380px)/2); } */
.slick-arrow:before { content: " "; position: absolute; left: 50%; top: 50%; width: 15px; height: 15px; transform: translateY(-50%) rotate(45deg); }
.slick-arrow.slick-prev:before { border-left: 3px solid #fff; border-bottom: 3px solid #fff;  margin-left: -5px; }
.slick-arrow.slick-next:before { border-right: 3px solid #fff; border-top: 3px solid #fff; margin-left: -10px; }
.slick-arrow.slick-prev { left: 0; }
.slick-arrow.slick-next { right: 0; }

.slick-arrow-dark .slick-arrow { border-color: #000; }
.slick-arrow-dark .slick-arrow.slick-prev:before { border-left-color: #000; border-bottom-color: #000; }
.slick-arrow-dark .slick-arrow.slick-next:before { border-right-color: #000; border-top-color: #000; }
.slick-arrow-dark .slick-arrow.slick-prev:hover:before, .slick-arrow-dark .slick-arrow.slick-prev:active:before, .slick-arrow-dark .slick-arrow.slick-prev:focus:before { border-left-color: #fff; border-bottom-color: #fff; }
.slick-arrow-dark .slick-arrow.slick-next:hover:before, .slick-arrow-dark .slick-arrow.slick-next:active:before, .slick-arrow-dark .slick-arrow.slick-next:focus:before { border-right-color: #fff; border-top-color: #fff; }
.slick-arrow-dark .slick-arrow:hover { background:  {{ primary_color }}; } 

.slick-arrow-graylight .slick-arrow { border-color: #F1EFEF; }
.slick-arrow-graylight .slick-arrow.slick-prev:before { border-left-color: #F1EFEF; border-bottom-color: #F1EFEF; }
.slick-arrow-graylight .slick-arrow.slick-next:before { border-right-color: #F1EFEF; border-top-color: #F1EFEF; }
.slick-arrow-graylight .slick-arrow.slick-prev:hover:before, .slick-arrow-graylight .slick-arrow.slick-prev:active:before, .slick-arrow-dark .slick-arrow.slick-prev:focus:before { border-left-color: #F1EFEF; border-bottom-color: #F1EFEF; }
.slick-arrow-graylight .slick-arrow.slick-next:hover:before, .slick-arrow-graylight .slick-arrow.slick-next:active:before, .slick-arrow-dark .slick-arrow.slick-next:focus:before { border-right-color: #F1EFEF; border-top-color: #F1EFEF; }
.slick-arrow-graylight .slick-arrow:hover { background:  {{ primary_color }}; border-color:  {{ primary_color }}; }  
 
.slick-dots { text-align: center; }
.slick-dots li { display: inline-block; line-height: 10px; margin: 12px; } 
.slick-dots li button { padding: 0; outline: 0; border: 0; width: 9px; height: 9px; background: #fff; font-size: 0; vertical-align: middle; }
.slick-dots li.slick-active button { background: #FFA000; }
 
.ov-color { position: relative; z-index: 1; }
.ov-color:before { content: " "; position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: -1; }

.text-center { text-align: center; }

form label, form legend { font-weight: 600; }
form .hs-input:not([type="checkbox"]):not([type="radio"]){ width: 100% !important; }
form .hs-input:not([type="checkbox"]):not([type="radio"])::placeholder { color: #D9D9D9 !important; font-size: 14px; }
form select { color: #D9D9D9; -webkit-appearance: none; padding-right: 30px; padding-right: 30px; background: url(https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/select-arrow.png) no-repeat center right 20px/10px 7px; }
form select option { color: #000; }
form .input { margin-right: 0 !important; }
form .hs-form-required { margin-left: 4px;  }
form .hs-form-field { margin-bottom: 25px; }
form .form-columns-2 .hs-form-field { width: 47% !important; }
form .form-columns-2 .hs-form-field:last-child { margin-left: 6%; }
form .form-columns-3 .hs-form-field { width: 32% !important; margin-right: 2%; }
form .form-columns-3 .hs-form-field:last-child { margin-right: 0; }
form textarea { resize: none; }
form ul[role="checkbox"] .hs-form-checkbox { margin: 0; }
form ul[role="checkbox"] .hs-form-checkbox label { font-weight: 400;  line-height: normal; }
form ul[role="checkbox"] .hs-form-checkbox > label { padding: 0 0 0 25px; position: relative; }
form ul[role="checkbox"] input[type="checkbox"] { display: none; }
form ul[role="checkbox"] input[type="checkbox"] + span:before { content: " "; position: absolute; left: 0; top: 2px; width: 15px; height: 15px; border-radius: 2px; border: 1px solid #707070; }
form ul[role="checkbox"] input[type="checkbox"] + span:after { content: " "; position: absolute; left: 3px; top: 4px; width: 9px; height: 6px; border-left: 1px solid {{ primary_color }}; border-bottom: 1px solid {{ primary_color }}; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); opacity: 0;  }
form ul[role="checkbox"] input[type="checkbox"]:checked + span:after { opacity: 1; }
form .grecaptcha-badge { margin-left: 0; }

.submitted-message { font-size: 24px; text-align: center; }
.breadcrumb-menu li.hs-breadcrumb-menu-item.first-crumb { padding-left: 0; }
 


/***** Site Header *****/
.header-top { padding: 15px 0 0; } 
.header-logo { width: 40%; float: left; margin-bottom:-22px; z-index:5; }
.header-logo > a:first-child > img { max-width: 100% !important; margin-right: 30px; }
{#.header-logo > a:last-child > img { max-width: 48px !important; }#}
.header-top-links { width: 58%; float: left; margin-left: 2%; text-align: right; }
.header-top-links > div { display: inline-block; vertical-align: top; }
.header-top-inner ul { padding: 0; margin: 0; }
.header-top-inner ul li { float: left; margin: 0 35px 0 0; }
.header-top-inner ul li a, .header-swicther a { font-size: 26px; font-weight: 700; font-family: {{ roboto }}; }
.header-swicther a { color: {{ secondary_color }}; }
.header-swicther img { margin-top: -6px; }
.header-top-inner ul li a svg { width: 20px; fill: #E9951B; vertical-align: middle; margin-top: -6px; }
.header-top-inner ul li:nth-child(2) a svg { width: 24px; }
.header-top-inner ul li:nth-child(3) a svg { width: 22px;  }
.header-top-inner ul li a > span { display: inline-block; vertical-align: middle; }

.header-menu-section .content-wrapper { position: relative; padding-top: 15px; padding-bottom: 15px; }
.header-menu { width: 40%; float: left; }
.menu-popup { opacity: 0; visibility: hidden; position: absolute; left: 0; padding: 80px 40px 40px; top: 0; max-width: 380px; background: {{ secondary_color }}; transition: 0.3s ease-out; }
.menu-popup.menu-active-not { display: none; transform: translateY(-100%); }
.menu-show .menu-popup { opacity: 1; visibility: visible; z-index: 2;}
.menu-popup ul li { width: 100%; margin: 10px 0 0; }
.menu-popup ul li a { padding: 15px 26px 15px 0; font-weight: 700; color: {{ nav_font_color }}; font-size: 24px; display: block; font-family: {{ sairaCondensed }}; border-bottom: 2px solid #fff;  }
.menu-popup ul li.hs-item-has-children > a { position: relative; }
.menu-popup ul li.hs-item-has-children > a:before { content: ""; position: absolute; width: 50px; left: 100%; height: 100%; top: 0; opacity: 0; visibility: hidden; }
.menu-popup ul li.hs-item-has-children > a:after { content: " "; position: absolute; right: 3px; top: 50%; transform: translateY(-50%) rotate(-45deg); border-bottom: 3px solid #fff; border-right: 3px solid #fff; width: 13px; height: 13px;  }
.menu-popup ul li:hover > a, .menu-popup ul li.active > a { color: #E9951B; border-bottom-color: #E9951B; }
.menu-popup ul li:hover > a:after, .menu-popup ul li.active > a:after { border-bottom-color: #E9951B; border-right-color: #E9951B; }
.menu-popup ul li.hs-item-has-children:hover > a:before { opacity: 1; visibility: visible; }
.menu-popup li.hs-item-has-children > .hs-menu-children-wrapper { min-width: 380px; left: calc(100% + 50px) !important;  top: -50px !important; padding: 40px; background: {{ secondary_color }}; opacity: 0; visibility: hidden; }
.menu-popup li.hs-item-has-children:hover > .hs-menu-children-wrapper { opacity: 1; visibility: visible; }
.menu-trigger { display: inline-block; font-size: 30px; color: #fff; font-weight: 900;  padding: 0 0 0 58px; position: relative; cursor: pointer; font-family: {{ sairaCondensed }}; margin: 5px 0 0;  }
.menu-show .menu-trigger { color: #E9951B; z-index: 3;  }
.menu-show .menu-trigger > span { background: #E9951B; }
.menu-trigger > span { position: absolute; left: 0; top: 0; width: 30px; height: 4px; background: #fff; border-radius: 30px; }
.menu-show .menu-trigger > span:first-child { transform: rotate(45deg); top: 12px; }
.menu-trigger > span:nth-child(2) { top: 8px; }
.menu-show .menu-trigger > span:nth-child(2) { opacity: 0; }
.menu-trigger > span:nth-child(3) { top: 16px; }
.menu-show .menu-trigger > span:nth-child(3) { top: 13px; transform: rotate(-45deg); }
.menu-trigger > span:nth-child(4) { top: 24px; width: 20px; }
.menu-show .menu-trigger > span:nth-child(4) { opacity: 0; }

.header-search { width: 58%; float: left; margin-left: 2%; text-align: right; }
.header-search .hs-search-field { max-width: 312px; width: 100%; margin-left: auto;  }
.header-search form { padding: 0; }
.header-search form .hs-search-field__input {background: #fff; border-right: 0; border: 1px solid #fff; border-radius: 5px 0 0 5px; color: #666; font-family: Roboto Condensed,sans-serif; font-size: 22px;  line-height: 25px;
    outline: 0;  padding: 6px 10px; }
.header-search form .hs-search-field__input::placeholder { color: #666 !important; }
.header-search form button { background: transparent; padding: 0; outline: 0;}
.header-search form button img { max-width:52px;}
.header-search .hs-search-field--open .hs-search-field__suggestions { background: #fff; text-align: left; padding: 25px; position: absolute; top: 100%; left: 0; width: 100%; margin: 8px 0 0;  z-index: 1; }
.header-search .hs-search-field__suggestions a { background: transparent !important; }
.header-search #results-for { margin: 0 0 10px; }
.search-btn { display: none; }
.slide-max { max-width: 670px; width: 100%; padding: 0 0 0 100px; }
.slide-max .title-color h2 { font-size: 60px; line-height: 70px; }
.slide-max .text-color { line-height: 34px; font-size: 20px; font-family: {{ robotoCondensed }};  }
.slide-max .btn-yellow a { margin: 40px 0 0; border-radius: 5px; }
.slider-container .slick-dots { position: absolute; left: 0; bottom: 28px; width: 100%;  }
.slider-container .slick-arrow.slick-prev { left: calc((100vw - 1380px)/2); }
.slider-container .slick-arrow.slick-next { right: calc((100vw - 1380px)/2); }
.slider-container.slick-slider .slick-track .slick-slide { height: 450px; display: flex; align-items: center; display: -webkit-flex; -webkit-align-items: center; }
.slider-container.slick-slider .slick-track { display: flex; display: -webkit-flex; }


.map-section { text-align: center; }
.map-section .title-color h1 { font-size: 50px; line-height: 60px;  }
.map-section .text-color { max-width: 1136px; margin: 0 auto; font-family: {{ robotoCondensed }}; font-size: 16px;  }
.map-block { margin: 46px 0 0; position: relative; }
.map-loc-box { display: none; width: 530px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);  background: #F1EFEF; box-shadow: 0px 3px 6px #00000029; border: 4px solid  {{ primary_color }}; border-radius: 5px; text-align: left; padding: 40px; }
.map-loc-box.loc-active-pop { display: block; }
.map-loc-box > div span { color:  {{ primary_color }}; font-family: {{ robotoCondensed }}; }
.map-hours { margin: 0 0 25px; }
.map-cn-num a { color: #000; }
.map-cn-num { display: inline-block; margin: 0 15px 15px 0; }
.dropdown-map { display: none; } 
.map-btn-yellow > div { margin: 0 10px 10px 0; display: inline-block; }
 
.map-center { max-width: 864px; margin: 0 auto; width: 100%;  }
#Group_1795 > path { position: relative; z-index: 1; cursor: pointer;  }
#Group_1795 > path:hover { fill: #000; }
#Group_1795 > path.cls-23:hover { fill: #000; }


.ts-section { min-height: 723px; }
.ts-section.ov-color:before { backdrop-filter: blur(6px); }
.ts-right { width: 53.5%; float: right; padding: 0 53px; }
.ts-right .title-color h2 { margin: 0 0 70px; }
.ts-img { position: absolute; left: calc((100vw - 1300px) / 2); bottom: 0; max-width: 380px; z-index: -1; }
.ts-slider { padding: 0 54px; }
.ts-slide-bg { border-radius: 5px; padding: 100px 53px 90px 64px; background: linear-gradient(270deg,  {{ primary_color }} 0%, #000000 100%); position: relative; }
.ts-slide-bg:before { content: " "; position: absolute; left: 57px; top: -40px; background: url(https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/quote-img.png) no-repeat center top/contain; width: 68px; height: 59px; }
.ts-slide-bg:after { content: " "; position: absolute; right: 10px; top: 0; background: url(https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/Group%201584.svg) no-repeat center top/contain; width: 153px; height: 96px; }
 
.ts-slide .text-color { font-family: {{ robotoCondensed }}; }
.ts-slide p { margin: 0 0 8px; }
.ts-slide-bg .slick-arrow { width: 32px; height: 32px; }
.ts-slide-bg .slick-arrow:before { width: 12px; height: 12px; }
.ts-slide-bg .slick-arrow.slick-prev { left: -54px; }
.ts-slide-bg .slick-arrow.slick-next { right: -54px; }
.ts-slide-bg .slick-arrow.slick-next:before { margin-left: -8px; }
.ts-slide-bg .slick-dots { position: absolute; top: 100%; width: 100%; text-align: center; left: 0; margin: 10px 0 0; }
  
.lt-column { width: 42%; float: left; position: relative; }
.lt-column:last-child { margin-left: 16%; }
.lt-column:after { content: " "; position: absolute; top: 0; right: -16%; width: 3px; height: 100%; background: #E7E5E4; opacity: 0.49; }
.lt-column:last-child:after { display: none; }
.lt-column > .title-color h2 { margin: 0 0 5px; font-size: 55px; }
.lt-column > .text-color { padding: 0 0 40px; }
.lt-column > .text-color h3 { margin: 0 0 40px; }
.lt-img { width: 28%; float: left; min-height: 103px; }
.lt-column .text-color { font-family: {{ robotoCondensed }};  }
.lt-img { width: 30%; float: left; min-height: 103px; }
.lt-body { width: 63%; float: left; margin-left: 7%; }
.lt-body .title-color h5 {  font-family: {{ roboto }};  font-weight: 400; text-transform: none; margin: 0 0 5px; }
.lt-column .text-color, .lt-body .title-color h5 { font-size: 20px; }


.lt-box { margin: 0 0 36px; }
.text-link a { color: #E9951B; margin: 5px 0 0; }
.text-link a:hover { color: {{ primary_color }};  }

.video-outer { padding: 0 50px;  }
.video-left { width: 45%; float: left; padding: 0 20px 0 0;  }
.video-left .title-color h2 { font-size: 55px; line-height: 70px;  }
.video-left .btn-yellow a { margin: 10px 0 0; font-size: 15px; }
.video-right { width: 50%; float: left; margin-left: 5%; position: relative; min-height: 327px; }

.image-outer {align-items:center;}
.image-left { width: 50%;  padding: 0 20px 0 0;  }
.image-left .title-color h2 { font-size: 55px; line-height: 70px;  }
.image-left .btn-yellow a { margin: 10px 0 0; font-size: 15px; }
.image-right { width: 44%; position: relative; padding: 2% 3%; }
.image-left img {width:100%;}

.vidPlay { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; }
.vidPlay:before, .vidPlay:after { content: " "; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.vidPlay:before { width: 76px; height: 76px; border: 6px solid #fff; border-radius: 50%; }
.vidPlay:after {  border-left: 15px solid #fff; border-top: 10px solid transparent; border-bottom: 10px solid transparent; }
.videoPopup { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 99; align-items: center; background: rgba(0, 0, 0, .80); }
.videoPopup .content-wrapper { max-width: 700px; }
.videoPopup .tcInner { padding: 56.25% 0 0; position: relative; overflow: hidden; }
.videoPopup iframe { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.tcClose { float: right; margin: -22px -20px 0 0; font-size: 36px; color: #fff; }
.tcClose:hover { color: rgba(255, 200, 47, 100%); }
.pOpen .videoPopup.active { display: -webkit-flex; display: flex; }
.videoPopup .tcInner > .hs-video-widget { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

.logo-section .btn-yellow a { margin: 40px 0 0; }
.logo-section .btn-yellow + .logo-slides { margin: 40px 0 0; }
.logo-section .text-color { max-width: 800px; margin: 0 auto; }
.logo-slides { padding: 0 50px; }
.logo-slides .slick-track { display: flex; align-items: center; }
.logo-slide-box { padding: 0 18px; }
.logo-slide-box img { display: inline-block; }
.logo-slides .slick-arrow { width: 37px; height: 37px; }

.footer { font-family: {{ roboto }}; }
.footer-col { width: 25%; float: left; padding-right: 20px;  }
.footer-col:last-child {padding-right: 0; }
.footer-logo:not(.o2) img { margin: 0 0 15px; }
.footer-logo.o2 img { margin: 0 0 15px; }
.footer-col .hs-menu-wrapper ul li a, .footer-col .text-color { font-size: 16px; line-height: 26px; }
.footer-col > .title-color { min-height: 36px; }
.footer-col .hs-menu-wrapper { margin: 10px 0 0; }
.footer-col .hs-menu-wrapper ul li { width: 100%; margin: 0 0 5px; }
.footer-call-us a { margin: 10px 0 0; font-size: 20px; /*font-family: {{ sairaCondensed }};*/ font-weight: 500; } 
.footer-social-links ul li { display: inline-block; margin: 0 6px 15px 0; }
.footer-col:nth-child(2) > .title-color, .footer-col:nth-child(3) > .title-color { margin: 0 0 30px; font-size: 20px;  }
.footer-address .title-color { font-size: 20px; }
.footer-call-us img { max-width: 20px; }


.product-left { width: calc(25% + 40px); float: left; margin-left: -40px; }
.product-filter { padding: 40px 30px 267px; background: {{ secondary_color }}; color: #fff; position: relative; z-index: 1; }
.product-filter:after { content: " "; position: absolute; right: -2px; bottom: 0; height:37px; background: url(https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/lines-featured.png) no-repeat 0 0; width: 100%; z-index: -1;  } 
.ess-ltd-block { padding: 50px 30px;  background: {{ primary_color }}; margin: 60px 0 0; }
.product-list-right { width: 75%; float: left; padding: 0 0 0 30px;overflow:hidden; }
.product-list-right .breadcrumb-menu ul li { font-size: 16px; }  
.product-crumb ul li { float: left; font-size: 15px; margin: 0; position: relative; font-weight:bold;} 
.product-crumb ul li:last-child { color:  {{ primary_color }}; }
/* .line-divider { position: absolute; right: -18px; top: 0; } */
.breadcrumb-menu ul {display:inline-flex;}
.breadcrumb-menu ul li:last-child {color:#E9951B;}
.line-divider {padding-right: 8px;  padding-left: 5px;}
.products-listing .ui-group.add-sec { display: block; }
.products-listing .ui-group { display: none; }
.ui-group { border-bottom: 1px solid rgba(255, 255, 255, 0.27); margin: 0 0 10px; padding: 0 0 10px; }
.ui-group ul { display: none; padding: 10px; max-height: 330px; overflow-y: auto; }
.ui-group ul li a { position: relative; padding: 0 0 0 40px; }
.ui-group ul li a, .ui-group > span { font-size: 20px;  } 
/* .ui-group ul li a:before { content: ""; position: absolute; left: 15px; top: 10px; width: 15px; height: 15px; border: 2px solid #fff; border-radius: 2px; } */
.ui-group ul li a:before { content: ""; position: absolute; left: 10px; top: 4px; width: 22px; height: 22px; border: 2px solid #fff; border-radius: 2px; }
.ui-group ul li a:after { content: ""; position: absolute; left: 14px; top: 8px; width: 14px; height: 8px; border-left: 2px solid #fff; border-bottom: 2px solid #fff; transform: rotate(-45deg); opacity: 0;  }
.ui-group ul li a.is-checked:after { opacity: 1; }
.ui-group ul li a.is-checked:before, .ui-group ul li a.is-checked:after { border-color: #E9951B; }
.ui-group ul li a.is-checked { color: #E9951B !important; }

.ui-group > span { padding: 0 40px 0 0; position: relative; display: block; font-family: {{ robotoCondensed }}; cursor: pointer; }
.ui-group > span:before { content: " "; position: absolute; right: 0; top: 50%; width: 13px; height: 13px; border-left: 1px solid #fff; border-bottom: 1px solid #fff; transform: rotate(-45deg) translateY(-50%); margin-top: -6px; }
/* width */
.ui-group ul::-webkit-scrollbar { width: 8px; }
/* Track */
.ui-group ul::-webkit-scrollbar-track { box-shadow: inset 0 0 5px #fff; border-radius: 10px; }
/* Handle */
.ui-group ul::-webkit-scrollbar-thumb { background:  {{ primary_color }}; border-radius: 10px; border: 1px solid rgb(255 255 255 / 54%); }
/* Handle on hover */
.ui-group ul::-webkit-scrollbar-thumb:hover { background: #000072;  }

.product-block { width: 33.33%; float: left; padding: 30px; margin: 30px 0 10px; position: relative; }
.product-block:hover { background: #F1EFEF; box-shadow: 0px 0px 11px #93939380; border-radius: 10px; }
.product-featured { padding: 72.25% 0 0; border-radius: 10px; margin: 0 0 30px;background-color: #f1efef !important; }
/* .product-block .title-color h3 { font-size: 25px; } */
.product-block .text-color { font-size: 20px; line-height: 36px; }
.product-block .title-color.text-yellow h3 { font-weight: 900; }
.product-block .title-color.text-yellow h3 > span { color: #E9951B; }
.product-stext { margin: 0 0 20px; color: rgba(0, 0, 0, 100%); font-size: 20px; line-height: 36px; }
.product-block:nth-child(3n+1) { clear: left; }
.pro-link-wrap { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
#custom-pagination { margin: 30px 0 0; }
.paginationjs-prev, .paginationjs-next { background: #131BA1; font-size: 0; }
.paginationjs-prev a:before, .paginationjs-next a:before { content: " "; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%) rotate(45deg); width: 15px; height: 15px;border-left: 4px solid #F7AE03; border-bottom: 4px solid #F7AE03; }
.paginationjs-prev a:before { margin-left: 4px; }
.paginationjs-next a:before { transform: translate(-50%, -50%) rotate(-135deg); margin-left: -4px; }
.paginationjs-pages li { float: left; margin: 0 25px 25px 0; }
.paginationjs-pages li a { width: 43px; height: 43px; border: 2px solid #131BA1; text-align: center; line-height: 43px; color: #F7AE03; font-weight: 700; position: relative; }
.paginationjs-pages li a:hover, .paginationjs-pages li.active a { background: #131BA1; }

.hs-product-detail { padding: 54px 0 50px; }
.slide-img { position: relative; }
.hs-inner-left { width: 55%; float: left; }
.slider-nav .slide-img { min-height: 472px; }
.slider-for .slide-img { min-height: 113px; margin: 0 20px; }
.hs-inner-right { width: 45%; padding: 0 0 0 50px; }
.hs-inner-right .title-color h1 { font-size: 55px; color: {{ secondary_color }} }
.hs-inner-left .slider-for { margin: 60px 0 0; padding: 0 10px; }
.slider-for .vidPlay:before { width: 50px; height: 50px; } 
.pro-share-social ul li { float: left; margin: 0 15px 0 0; font-size: 14px; }
.pro-share-social a img { margin-top: -4px; }
.slider-for .slide-img.slick-slide.slick-active.slick-current { border: 4px solid #E9951B; }
.slider-for .slick-track { display: flex; }
.slider-for .slide-img  { flex-grow: 1; }
.slider-for .slick-arrow.slick-prev { left: -20px; }
.slider-for .slick-arrow.slick-next { right: -20px; }

.hs-inner-right .btn-yellow a { position: relative; padding: 13px 30px 13px 58px;  margin: 26px 26px 0 0; }
.hs-inner-right .btn-yellow > a:before { content: " "; position: absolute; left: 15px; top: 50%; transform: translateY(-50%); background: url(https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/ic_check_circle_24px.svg) no-repeat center top/contain; filter: invert(1);  width: 29px; height: 29px; }
.hs-inner-right .btn-yellow > a:nth-child(2):before { background: url(https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/ic_get_app_24px.svg) no-repeat center top/contain;  }
.hs-inner-right .btn-yellow > a:hover:before {  background: url(https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/ic_check_circle_24px.svg) no-repeat center top/contain; filter: invert(0); }
.hs-inner-right .btn-yellow > a:hover:nth-child(2):before {background: url(https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/ic_get_app_24px.svg) no-repeat center top/contain; filter: invert(0);}
.product-details { margin: 50px 0 0; }
.pro-details-wrap:not(.fullwidth) { width: 50%; float: left; }
.specs-title { font-family: {{ robotoCondensed }}; padding: 0 0 2px; margin: 0 0 8px; border-bottom: 1px solid #F1EFEF; font-size: 14px; }
.pro-details-wrap h3 { font-size: 20px; }

.pro-tab-sec { padding: 50px 0 30px; }
.pro-tabs { border-bottom: 1px solid  {{ secondary_color }}; }
.pro-tabs li { float: left; margin: 0 2px 0 0;  }
.pro-tabs li a { text-align: center; text-transform: uppercase; font-family: {{ sairaCondensed }}; color:  {{ secondary_color }}; font-size: 24px; min-width: 271px; line-height: 34px; padding: 12px; background: #F1EFEF; font-weight: 700; }
.pro-tabs li.active a, .pro-tabs li a.active { color:  {{ primary_color }}; background:  {{ secondary_color }};}
.pro-tab-content { margin: 40px 0 0; }
.pro-tab-content h1, .pro-tab-content h2, .pro-tab-content h3, .pro-tab-content h4, .pro-tab-content h5 { color: {{ secondary_color }} }
.pro-tab-desc ul { list-style: disc; padding: 0 0 0 20px; margin: 20px 0; }
.pro-tab-content p { margin: 0 0 10px; }
.pro-tab-content a.cta_button { margin: 20px 0 0; background-color: #E9951B; border: 1px solid #E9951B; color: #000; font-family: Roboto Condensed,sans-serif; font-size: 16px; font-weight: 700; line-height: normal; min-width: 160px; padding: 13px 31px; text-align: center; transition: all .4s ease; box-sizing: border-box !important; }
.pro-tab-content a.cta_button:hover { background-color: #140a9a; border-color: #140a9a; color: #fff; }



.advantage-section { padding: 50px 0 40px; }
.advg-title { padding: 0 0 20px; }
.advg-title h2, .feature-section h2, .feature-section .title-color h3 {color: {{ secondary_color }};}
.feature-section .title-color.text-yellow h3 {font-size:40px;}
.advantage-col { position: relative; background: linear-gradient(3deg,  {{ primary_color }} 0%, #000000 100%); box-shadow: 0px 0px 12px #d2d2d2; padding: 72px 42px 55px; width: 31%; float: left; margin: 0 3.5% 50px 0; border-radius: 4px; }
.advantage-col h3 { color: #E9951B; }
.advantage-col:nth-child(3n) { margin-right: 0; }
.advantage-col:before { content: " "; position: absolute; right: 10px; top: 0; background: url(https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/Group%201584.svg) no-repeat center top/contain; width: 153px; height: 96px; }
.advantage-text { color: #fff; font-family: {{ robotoCondensed }}; }
.adv-linkwrap { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; }

.feature-section { padding: 50px 0 100px; }
.feature-outer .product-block:nth-child(3n+1) { clear: none; }
.feature-outer .slick-arrow.slick-prev { left: -30px; }
.feature-outer .slick-arrow.slick-next { right: -30px; }
 
.ess-ltd-block.is-smalller-device { display: none; }
.hero-others .text-color { font-family: {{ robotoCondensed }}; }
.hero-others .btn-yellow a { margin: 10px 0 0; } 

.form-act { overflow: hidden; }
.form-popup { position: fixed; left: 0; top: 0; z-index: 1; background: rgba(173,169,219,.65); display: -webkit-flex; -webkit-align-items: center; display: flex; align-items: center; flex-flow: row wrap; overflow-y: auto; height: 100%; padding: 50px 0; opacity: 0; visibility: hidden; transition: 0.2s ease-in; }
.form-popup.form-active { opacity: 1; visibility: visible; }
.form-popup.fm-act-not { display: none; transform: translateY(-100%); }
.form-header { padding: 15px 25px; position: relative; }
.form-header h2 { margin: 0; padding: 0 40px 0 0; font-size: 36px; line-height: 40px; }
.form-close { cursor: pointer; font-size: 0; position: absolute; right: 22px; top: 20px; width: 30px; height: 30px; z-index: 1;  }
.form-close:before, .form-close:after { content: " "; position: absolute; left: 50%; top: 50%; background: #fff; width: 4px; height: 100%; border-radius: 30px; }
.form-close:before { transform: translate(-50%, -50%) rotate(-45deg); }
.form-close:after { transform: translate(-50%, -50%) rotate(45deg); }
.form-title:empty { display: none; }
.form-outer { background: #fff; max-width: 700px; width: 100%; margin: 0 auto; }
.form-main { padding: 25px; }
.form-main form .grecaptcha-badge { margin-left: 0; }
.form-main form input[type="submit"] { font-size: 18px; }

.breadcrumb-menu .hs-breadcrumb-menu-item a { color: #000; font-family: {{ robotoCondensed }}; }
.breadcrumb-menu .hs-breadcrumb-menu-item.last-crumb { color:  {{ primary_color }}; }
.breadcrumb-menu .hs-breadcrumb-menu-divider:before { content: "/"; }

.br-text-section .text-color { font-size: 18px; max-width: 1130px; margin: 0 auto;  }
.br-left { float: left; width: 55%; }
.br-left iframe { width: 100%; }
.br-right { float: left; width: 45%; padding: 0 0 0 125px; }
.br-right .title-color h2 { margin: 0 0 40px; }
.br-right .text-color { font-size: 26px; line-height: 36px; }
.br-address { margin: 0 0 40px; max-width: 350px;  }
.br-num a:hover { color: #E9951B !important; }

.tab-hubdb.pro-tabs li a { min-width: 250px;  }
/* .tab-content { display: none; } */ 
.grid-row-iso { margin: 0 -50px; }
.tab-column { width: 28%; float: left; margin: 60px 8% 0 0; padding: 30px; background: #FFFFFF; border: 1px solid  {{ primary_color }}; border-radius: 10px; text-align: center; }
/* .tab-column:nth-child(3n) { margin-right: 0; } */

.tab-logo-img img { margin: 0 0 10px; }
.tab-list-item { line-height: 29px; font-weight: 600; }
.tab-list-item p { margin: 0 0 10px; }
.tab-list-item a:not(:hover) { color: #000; }
.tab-column { width: calc(33.33% - 100px);  margin: 60px 50px 0; }

.hs-blog-max { max-width: 550px; }
.hs-blog-max .text-color { font-family: {{ robotoCondensed }}; } 
.blog-index { padding: 0 0 100px; }
.blog-index .blog-index-left { width: 60%; float: left; }
.blog-index .blog-index__post--small { flex: 0 0 46%; padding: 0; margin: 0 8% 100px 0; }
.blog-index .blog-index__post--small:nth-child(2n) { margin-right: 0; }
.blog-index .blog-index__post--small .blog-index__post-image { display: none; }
.blog-index .blog-index__post-image-wrapper--small { min-height: 300px; border-radius: 15px; width: 100%; margin: 0 0 50px; } 
.blog-index h2.blog-index__post-title { font-size: 24px; line-height: 36px; font-family: {{ sairaCondensed }};  }
.blog-index .author-time-row, .blog-index  .post-btm-row { justify-content: space-between; }
.blog-index .blog-index__post-author-name { margin-left: 6px; }
.blog-index .blog-index__post-author, .blog-index .blog-index__post-author-name, .blog-index .blog-index__post-timestamp { color:  {{ primary_color }}; font-family: {{ robotoCondensed }};  }
.blog-index .blog-index__post-author, .blog-index .blog-index__post-timestamp { margin: 0 0 5px; font-size: 16px;}

.blog-index .blog-index__post-button-wrapper a.readMore { color: #E9951B; font-family: {{ sairaCondensed }}; font-weight: 500; text-transform: uppercase; }
.blog-index .blog-index__post-button-wrapper a.readMore:hover { color:  {{ primary_color }}; }
.blog-index .post-btm-row  { margin: 5px 0 0; }
.pagination a { margin: 15px 15px 0; display: inline-block; width: 50px; height: 50px; border: 2px solid #131ba1; text-align: center; line-height: 40px; color: #f7ae03; font-weight: 700; position: relative; border-radius: 0; font-size: 18px; outline: 0; }
.pagination a.pagination-link--disabled { pointer-events: none; opacity: 0.6; }



.pagination .show-for-sr--mobile { display: none; }
.pagination .pagination__link-icon svg, .pagination .pagination__link-icon svg { margin: 0; }
.pagination .pagination__link--prev > span:first-child, .pagination .pagination__link--next > span:last-child { display: none; }
.pagination .pagination__link--prev:before, .pagination .pagination__link--next:before{ content: " "; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%) rotate(45deg); width: 15px; height: 15px; border-left: 4px solid #f7ae03; border-bottom: 4px solid #f7ae03; }
.pagination .pagination__link--prev:before { margin-left: 4px; }
.pagination .pagination__link--next:before { transform: translate(-50%,-50%) rotate(-135deg); margin-left: -4px; }
.pagination .pagination__link--prev, .pagination .pagination__link--next { background:  {{ primary_color }}; color: #f7ae03;  } 
.pagination  .pagination__link--active, .pagination .pagination__link--number:focus, .pagination  .pagination__link--number:hover { background:  {{ primary_color }}; border-color:  {{ primary_color }}; color: #f7ae03; }

.custompagination, .isotope-pager { margin: 50px 0 0; display:inline-block; }
.custompagination a, .isotope-pager a {padding: 6px 17px; margin-right: 25px; background:#fff; border:1px solid #000; color:#000;}
.custompagination a:last-child, .isotope-pager a:last-child {margin-right:0;}
.custompagination a.active, .isotope-pager a.active, .isotope-pager a:hover,  .custompagination a:hover {background: #000;  color: #e9951b !important;}
.custompagination a.previous-posts-link, .isotope-pager a.previous-posts-link, .custompagination a.next-posts-link, .isotope-pager a.next-posts-link  {padding:6px 16px; background: #000;  color: #e9951b;}
.custompagination a.previous-posts-link img, .custompagination a.next-posts-link img {width:12px;} 
.job-section .loadmore-listing a { background: #140a9a; color: #fff;  }


.blog-sidebar { width: 35%; float: left; margin-left: 5%; }
.side-search-box { background: #10198E; padding: 48px 40px; }
.side-search-box form { position: relative; }
.side-search-box input.hs-search-field__input { background: #fff; color: #000; padding: 6px 70px 6px 24px; line-height: 37px; font-family: {{ robotoCondensed }}; font-size: 18px; outline: 0; border: 0;  }
.side-search-box input.hs-search-field__input::placeholder { color: #000 !important; font-family: {{ robotoCondensed }}; }
.side-search-box form > button { position: absolute; right: 0; top: 0; width: 49px; height: 49px; padding: 0; background: #000;  }
.side-search-box .hs-search-field__bar button svg { fill: #fff; height: 20px; }
.side-search-box .hs-search-field--open ul.hs-search-field__suggestions { background: #fff; position: absolute; padding: 20px; top: 100%; border-radius: 5px; border: 0; box-shadow: 0px 2px 3px rgb(0 0 0 / 10%); margin: 10px 0 0; z-index: 1;  }
.side-search-box .hs-search-field__suggestions li { margin: 10px 0; }
.side-search-box .hs-search-field__suggestions #results-for { color: #10198e; margin: 10px 0 30px; font-size: 30px;  font-family: {{ sairaCondensed }}; }
.side-search-box .hs-search-field__suggestions a { color: #000; font-size: 20px; line-height: 28px; font-family: {{ robotoCondensed }}; background: transparent !important;  }
.side-search-box .hs-search-field__suggestions a:hover { color: #10198e;  }
.sidebar-tags { margin: 60px 0 0; padding: 40px; background: #10198E; position: relative; overflow: hidden; }
.sidebar-tags:before { content: " "; position: absolute; right: -10px; top: 0; background: url(https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/Group%201584.svg) no-repeat top/contain; width: 250px; height: 150px; }
.sidebar-tags h3 { color: #E9951B; }
.sidebar-tags ul li { display: none; }
.sidebar-tags ul li a { text-transform: capitalize; color: #fff; font-size: 22px; line-height: 36px; font-family: {{ robotoCondensed }}; } 
.sidebar-tags ul li a:hover { color: #E9951B; }
.sidebar-tags ul { padding: 0 0 0 15px; }
.see-more-tags a { color: #E9951B; margin: 15px 0 0; font-size: 16px;  }
 
.blog-post-content { padding: 50px 0 100px; } 
.blog-post-content .breadcrumb-menu { margin: 0 0 30px; }
.blog-post-left { width: 60%; float: left; }
.post-body-block { font-size: 16px; }
.post-body-block h2, .post-body-block h3, .post-body-block h4, .post-body-block h5, .post-body-block h6, .post-body-block p { margin: 0 0 30px; }
.post-body-block ul { margin: 20px 0; list-style: disc; padding-left: 20px; }
.post-body-block ul li { margin: 0 0 5px; }

.comment-title { padding: 0 0 20px; }
.blog-comment-form { padding: 50px 0 0; float: left; width: 100%; }
.blog-comments { max-width: 100%; }
.blog-comments form .hs-input:not([type=checkbox]):not([type=radio]) { background: #F1EFEF; border: 0;  }
.blog-comments form .hs-form-field { width: 49%; float: left; margin-right: 2%;  }
.blog-comments form .hs-form-field:nth-child(2n) { margin-right: 0; }
.blog-comments .submitted-message, .blog-comments form { font-family: {{ robotoCondensed }}; }
.blog-comments form .hs_comment.hs-comment.hs-form-field, .blog-comments form .hs_recaptcha.hs-recaptcha.hs-form-field, .blog-comments .hs-submit { width: 100%; margin-right: 0; }
.blog-comments form .hs_submit.hs-submit { width: 100%; float: left; text-align: left;  }
.blog-comments form .grecaptcha-badge { margin-left: 0; }
.blog-comments form label, .blog-comments form legend { font-weight: 400; font-size: 16px; }
.blog-comments form textarea { min-height: 100px; }
.blog-comments form label.hs-error-msg { font-size: 15px; }
.blog-comments .hs-comment-message.hs-common-confirm-message { background:  {{ primary_color }} !important; color: #fff !important; border-color:  {{ primary_color }} !important; padding: 10px 20px!important; margin: 0 0 30px !important; } 

.similar-posts { padding: 70px 50px 0 0; width: 100%; float: left; }
.similar-posts.sm-hide-sec { display: none; }
.similar-posts .blog-index .blog-index__post-author, .similar-posts .blog-index .blog-index__post-timestamp { font-size: 16px; }
.similar-posts .blog-index .blog-index__post--small { flex: 0 0 100%; padding: 0; margin: 0 0 80px 0; }
.similar-posts .blog-index .blog-index__post-image-wrapper--small { min-height: 350px; }

.blog-comments div#comments-listing .comment  { background:  {{ primary_color }}; padding: 40px; color: #fff; margin: 0 0 30px; border-radius: 5px; }
.blog-comments .comment-from h4, .blog-comments .comment-from a, .blog-comments .comment-from, .blog-comments .comment-date, .blog-comments #comments-listing .comment-reply-to { color: #fff; } 
.blog-comments .comment-reply-to { background-image: none !important;  position: relative;}
.blog-comments .comment-reply-to:before { content: " "; position: absolute; left: 0; top: 50%; transform: translateY(-50%); background: url(//static.hsappstatic.net/pictos_images/static-1.40/img/pictos-1-png/16/pictos-set1-21.png) no-repeat center center/contain; width: 16px; height: 10px; filter:invert(1); }
.blog-comments .comment-date { margin-left: 10px; }
.blog-comments .comment-reply-to { text-transform: none; font-weight: 400; }

.zigzag-section { position: relative; }
.zz-outer { min-height: 560px; }
.zz-img { position: absolute; left: 0; top: 0; height: 100%; }
.zz-img, .zz-content { width: 50%; float: left; }
.zz-content { padding: 80px 0 50px 80px; }
.zz-content .title-color h2 { font-size: 40px; }
.zz-content .text-color { font-size: 16px; line-height: 24px;  }
.zz-content .text-color ul { padding: 0 0 0 20px; margin: 0 0 20px; list-style: disc;  }
.zz-content .text-color ul li { margin: 0 0 5px; } 

.zz-reverse .zz-outer { -webkit-justify-content: flex-start; justify-content: flex-start; }
.zz-reverse .zz-img { left: auto; right: 0; }
.zz-reverse .zz-content { padding-right: 80px; padding-left: 0;  }
.req-form-section .content-wrapper > .text-color { max-width: 915px; width: 100%; margin: 0 auto; font-size: 20px; font-weight: 600; }
.zz-outer .btn-yellow a { margin: 10px 0 0; }
 
.sq-outer { margin: 80px 0 0; }
.sq-left { width: 55%; padding-right: 30px; }
.sq-left .text-color p { margin: 0 0 50px; }
.sq-right { width: 40%; float: left; margin-left: 5%;  }

.hs-max-content { max-width: 1105px; margin: 0 auto;  width: 100%; }
.cta-section .text-color + .btn-yellow a { margin: 20px 0 0; }
 
.wss-section .btn-yellow a { margin: 20px 0 50px; }
.wss-col { width: 100%; float: left; margin: 40px 0 0 0; padding: 50px 30px 30px; background: #FFFFFF; -moz-box-shadow: 0px 0px 12px #D2D2D2; -webkit-box-shadow: 0px 0px 12px #D2D2D2; box-shadow: 0px 0px 12px #D2D2D2; } 

.wss-three-col .wss-col, .wss-two-col .wss-col { margin: 15px 2% 0 0; }
.wss-three-col .wss-col { width: 32%; }
.wss-three-col .wss-col:nth-child(3n) { margin-right: 0; }
.wss-two-col .wss-col { width: 49%; }
.wss-two-col .wss-col:nth-child(2n) { margin-right: 0; }
.wss-icon img { margin: 20px 0 50px; max-width: 190px !important; }

.om-sec.text-center .hs-max-content { margin: 0 auto; }
.om-sec .btn-yellow a { margin: 30px 0 0; }

.cta-section .title-color + .btn-yellow a { margin: 10px 0 0;  }

.job-listing { width: 100%; margin: 0 0 50px; }
.job-section .product-filter { padding-bottom: 40px; }
.job-section .product-list-right { padding: 0 0 0 50px;  }

/* .job-list-layout { height: auto !important; } */
/* .job-listing { width: 100%; position: static !important; margin: 0 0 50px; left: auto !important; top: 0 !important; transform: none !important; opacity: 0 !important; transition: none !important; display: none !important; }
.job-listing.actives { display: block !important; opacity: 1 !important; }
 */

/* .product-list-right .breadcrumb-menu { transform: translateY(-18px); } */
.hero-others.o2 { -webkit-align-items: flex-end; align-items: flex-end; min-height: 600px; }

.about-year-left { width: 38%; float: left; }
.about-year-img img { margin: 0 0 30px; }
.about-year-right  { width: 57%; margin-left: 5%; }
.slider-nav-year .slick-list { position: relative; }
.slider-nav-year .slick-list:before, .slider-nav-year .slick-list:after { content: " "; position: absolute; left: 0;  width: 100%; height: 200px; z-index: 1; }
.slider-nav-year .slick-list:before { top: 0; background: linear-gradient(to bottom, #140a9ac4, transparent); }
.slider-nav-year .slick-list:after { bottom: 0;  background: linear-gradient(to top, #140a9ac4, transparent);  }

.yslide-left { width: 20%; float: left; }
.yslide-right { width: 40%; float: right; padding: 65px 40px; margin: 50px 0 50px 10%; background: transparent linear-gradient(5deg, #140A9A 0%, #000000 100%) 0% 0% no-repeat padding-box; border-radius: 5px; position: relative; z-index: 1; overflow: hidden; }
.yslide-right:before { content: " "; position: absolute; right: -10px; top: 0; background: url(https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/Group%201584.svg) no-repeat top/contain; width: 250px; height: 150px; z-index: -1; }
.slider-nav-year .slick-list { padding: 232px 0 !important; }
.yslide-box h2 { margin: 0; padding: 10px;  text-align: center; border-radius: 3px; transform: scale(0.8); opacity: 0.8; cursor: pointer; }
.yslide-box.slick-current.slick-active.slick-center h2 { background: rgba(0,0,0,0.31); transform: scale(1); opacity: 1;  }
.year-slider { display: flex; align-items: center; justify-content: space-between; flex-flow: row wrap; }
.yslide-text ul li { position: relative; padding-left: 20px; display: flex; align-items: center; margin: 10px 0; }
.yslide-text ul li:before { content: ""; border-right: 2px solid; border-bottom: 2px solid; position: absolute; transform: rotate(-45deg); width: 10px; height: 10px; top: 10px; left: 0; }


.fitab-outer { margin: 40px 0 0; }
.fitab-left { width: 30%; float: left; }
.fitab-left ul li a { background: #F1EFEF; color: #140A9A; font-size: 22px; font-family: {{ sairaCondensed }}; font-weight: 700; display: block; padding: 13px 25px; margin: 0 0 4px; }
.fitab-right { width: 65%; margin: 0 0 0 5%; float: left;  }

.advantage-section.o2 .btn-yellow a { margin: 40px 0 0; }
.advantage-section.o2 .advantage-col { margin-left: 10px; margin-right: 10px; margin-top: 10px;  }
.advantage-section.o2 .slick-list { margin: 0 -5px; }
.advantage-section.o2 .slick-arrow.slick-prev { left: -35px; }
.advantage-section.o2 .slick-arrow.slick-next { right: -35px; }
.advantage-section.o2 .slick-arrow { width: 31px; height: 31px; }
.advantage-section.o2 .slick-arrow:before { width: 12px; height: 12px; }
.yin-outer { padding: 0 30px; margin: 20px 0 0; }
.yin-block { width: 18%; padding: 30px; margin: 20px 2.5% 0 0; font-size: 16px; line-height: 24px; font-weight: 700; font-family: {{ robotoCondensed }}; display: flex; align-items: center; justify-content: center;  }
.yin-block:nth-child(5n) { margin-right: 0; }
 
.btn-row .btn-yellow { display: inline-block; margin-right: 30px;  }
.btn-row .btn-yellow:last-child { margin-right: 0; }
.fleet-title { max-width: 900px; margin: 0 auto; }
.bullet-two-columns { padding: 0 80px; }
.bullet-items { width: 45%; margin: 50px 10% 0 0; }
.bullet-items:nth-child(2n) { margin-right: 0; }
.bullet-items ul li { padding: 0 0 0 40px; margin: 0 0 20px; position: relative; }
.bullet-items ul li:before { content: " "; position: absolute; left: 0; top: 0; background: url(https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/checkmark-blue.png) no-repeat center center/contain; width: 28px; height: 28px; }

.fbvideo-cols { width: 28%; float: left; margin: 50px 8% 0 0; }
.fbvideo-cols:nth-child(3n) { margin-right: 0; }
.fbv-poster { border-radius: 15px; overflow: hidden; position: relative; min-height: 300px; margin: 0 0 40px;  }
.fbv-poster img { position: absolute; height: 100% !important; width: 100%; left: 0; top: 0; object-fit: cover; }
.fbv-poster > a { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.fbv-poster a:before, .fbv-poster a:after { content: " "; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.fbv-poster > a:before {  background: transparent linear-gradient(270deg, #140A9A 0%, #0A054D 100%); border: 1px solid #140A9A; border-radius: 10px; width: 100px; height: 70px; }
.fbv-poster > a:after { width: 39px; height: 33px; background: url(https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/play-icon-white.png) no-repeat center top/contain; }
.fb-title-color h3 { line-height: 38px; }

.cta-section.o1 { font-size: 16px; }
.cta-section.o1 .hs-max-content { max-width: 100%; }
.cta-section.o1 .title-color { padding: 0 0 20px; }

.hero-outer-part { padding: 20px 0; border-bottom: 2px solid #e0e0e0; }
.hero-outer-part h1 { margin: 0; line-height: 40px; font-size: 38px; }
.safety-content-section h2 { font-size: 30px;  }
.safety-content-section .text-color { font-size: 16px; line-height: 26px; }
.safety-content-section .text-color p { margin: 0 0 15px; }

.scm .title-color h2 { font-size: 35px; } 
.scm-column { background-color: #fff; padding: 30px; min-height: 300px; text-align: center; transition: box-shadow .3s; width: 23%; float: left; margin: 15px 2.66% 0 0;  }
.scm-column:nth-child(4n) { margin-right: 0; }
.scm-column:hover { box-shadow: 0 0 11px #666; }
.scm-color { color: #333; font-size: 16px; font-weight: 500; line-height: 24px; }
.scm-text { font-size: 16px; font-weight: 500; line-height: 24px; color: #333; }
.scm-logo img { margin: 0 0 10px; }
.scm .btn-yellow a { margin: 10px 0 30px; } 

.eq-video-row h2 { font-size: 30px; margin: 0;  }
.eq-video-box { width: 24%; float: left; padding: 18.6% 0 0; margin: 15px 1.33% 0 0; position: relative; }
.eq-video-box:nth-child(4n) { margin-right: 0; }
.eq-video-box > a { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; }
.eq-video-box a .fas { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #fff; font-size: 75px; }
.eq-video-box a .fas:hover { color: lightgray; }
.hs-v1 .title-color h2 { font-size: 40px; }
.capp-section .text-color { font-size: 16px; line-height: 24px; }
.capp-section .text-color p { margin: 0 0 30px; }
.capp-icon img { max-width: 250px !important;  margin: 0 0 15px; width: 100%;  }
.capp-row { margin: 0 0 30px; }
.capp-row .title-color h2 { font-size: 30px;  }
.capp-row { border: 1px solid #e0e0e0; padding: 25px; }
.capp-column { width: 33.33%; padding: 0 10px; float: left; }
.capp-text { font-size: 20px; color: #2a338f; font-weight: 800; }
.app-btns-row > div { display: inline-block; margin: 14px 7px 0;}
.app-btns-row .btn-yellow a { position: relative;  }
.app-btns-row .btn-yellow a i { display: inline-block; margin-right: 4px; color: #fff;  }

@media(min-width: 768px){
  .header-search .hs-search-field { display: block !important; }
}
@media(min-width: 992px){
  .child-trigger { display: none; }
  .menu-popup li.hs-item-has-children > .hs-menu-children-wrapper { display: block !important; }
}
@media(min-width: 1500px){
  .advantage-section.o2 .slick-arrow.slick-prev { left: -60px; }
  .advantage-section.o2 .slick-arrow.slick-next { right: -60px; }
}

@media(max-width: 1439px) { 
    
  .content-wrapper { max-width: 1170px; }
  
  .header-swicther a, .header-top-inner ul li a { font-size: 18px; }    
  .menu-popup { max-width: 350px; }
  .menu-popup ul li a { padding: 10px 26px 10px 0; font-size: 22px; } 
  .menu-popup ul li.hs-item-has-children > a:after { width: 11px; height: 11px; } 
  .menu-popup li.hs-item-has-children > .hs-menu-children-wrapper { min-width: 350px; }
   
  
  .slider-container .slick-arrow.slick-prev { left: calc((100vw - 1100px)/2); }
  .slider-container .slick-arrow.slick-next { right: calc((100vw - 1100px)/2); }
  .slide-max .text-color { line-height: 28px; }
  
  .ts-right { padding: 0; }
  .ts-img { left: calc((100vw - 1170px)/2); }
  .ts-slide .text-color, .ts-slide .text-yellow { font-size: 22px; line-height: 36px; }
  .footer-call-us a { font-size: 24px; }
  .footer-call-us a img { max-width: 20px; }
  
  .product-block { padding: 20px; }
  .product-block .text-color { font-size: 18px; line-height: 28px; }
  .ui-group ul li a {  padding: 0 0 0 35px; }
  .ui-group > span, .ui-group ul li a { font-size: 18px;  line-height: 30px; }
  .ui-group ul li a:before { width: 15px; height: 15px; top: 6px; }
  .ui-group ul li a:after { left: 13px; top: 9px; width: 9px; height: 6px; }
  .ess-ltd-block .text-color { font-size: 16px; }
  
  .slider-nav .slide-img { min-height: 450px; }
  .slider-for .slide-img { margin: 0 10px; }
  .hs-inner-right .btn-yellow a { font-size: 18px; margin-right: 8px;  }
  .hs-inner-right .btn-yellow > a:before { width: 25px; height: 25px; }
  .hs-inner-right .title-color h1 { font-size: 55px; }
  .pro-tabs li a { font-size: 22px; }
   
  
  .btn-yellow.btn-check-icon a {  padding: 13px 30px 13px 58px; font-size: 16px; }
  .btn-check-icon a:before { left: 20px; width: 29px; height: 29px; }
  .br-text-section .text-color { font-size: 18px; line-height: 28px; }
  .tab-hubdb.pro-tabs li a { min-width: 200px; font-size: 20px; }
  .br-right .text-color { font-size: 28px; line-height: 40px; }
  
/* .footer-address .title-color, .footer-col:nth-child(2) > .title-color, .footer-col:nth-child(3) > .title-color, .footer-col:nth-child(4) > .title-color { font-size: 18px; } */
  
  .zz-content { padding: 40px 0 40px 50px; }
  .zz-reverse .zz-content { padding-right: 50px; }
  
  body .contactSection .content-wrapper { margin-left:-282px !important; }
  body .mapTop { padding: 30px; }
  .mapWrap { padding: 10px 24px; min-height:364px; }
  
  
}
@media(max-width: 1220px) { 

  body { font-size: 16px; line-height: 26px; }
  .content-wrapper { max-width: 900px; }
  h1 { font-size: 55px; line-height: 65px; }
  h2 { font-size: 40px; line-height: 50px; }
 .h3, h3 { font-size: 24px; }
  
  .header-swicther a, .header-top-inner ul li a { font-size: 16px; }
  .header-top-inner ul li a svg { width: 15px; }
  .header-top-inner ul li:nth-child(2) a svg { width: 19px; }
  .header-top-inner ul li:nth-child(3) a svg { width: 16px; }
  
  .menu-trigger > span { height: 3px; }
  .menu-popup { max-width: 300px; }
  .menu-popup li.hs-item-has-children > .hs-menu-children-wrapper { min-width: 300px; }
  .menu-popup ul li a { font-size: 18px; }
  .header-search form .hs-search-field__input { font-size: 18px; }
  
  .slide-max { padding: 0 0 0 40px; max-width: 580px; }
  .slide-max .title-color h2 { font-size: 55px; line-height: 65px; }
  
  .slider-container .slick-arrow.slick-prev { left: calc((100vw - 900px)/2); }
  .slider-container .slick-arrow.slick-next { right: calc((100vw - 900px)/2); }
  .slide-max .btn-yellow a { margin: 30px 0 0; } 
  .map-section .title-color h1 { font-size: 40px; }
  
  .ts-section { min-height: 646px; }
  .ts-img { max-width: 340px; }
  .ts-right { width: 100%; }
   .lt-body .title-color h5, .lt-column .text-color { font-size: 16px; }
  
  .video-left .title-color h2, .image-left .title-color h2 { font-size: 40px; line-height: 50px; }
  .video-right{ min-height: 300px; }
  .footer-call-us a { font-size: 18px; }
  .footer-call-us a img { max-width: 16px; }
  
  
  .hs-inner-left { width: 100%; order: 2;  margin: 50px 0 0;  }
  .hs-inner-right { width: 100%; padding: 0; order: 1; }
  .hs-inner-left .slider-for { margin: 40px 0 0; }
  .hs-inner-right .btn-yellow a { font-size: 16px; }
  .product-block { width: 50%;  }  
  .advantage-col { width: 100%; margin: 0 0 30px;  }
  
  .br-left { width: 100%; }
  .br-right { width: 100%; padding: 0; margin: 50px 0 0; }
/*   .tab-column { width: 46%; }
  .tab-column:nth-child(2n) { margin-right: 0; }
  .tab-column:nth-child(2n+1) { margin-right: 8%; } */
  .tab-column { width: calc(50% - 100px);  }
  
  .lt-column > .title-color h2 { font-size: 40px; line-height: 50px; }
  .video-outer, .image-outer { padding: 0; }
  .video-left,  .image-left { padding: 0; } 
  
  .blog-index { padding: 0 0 80px; }
  .blog-index .blog-index-left { width: 100%; }
  .blog-sidebar { width: 100%; margin: 80px 0 0; }
  .blog-post-left { width: 100%; }
  
  .wss-three-col .wss-col { width: 49%; }   
  .wss-three-col .wss-col:nth-child(2n) { margin-right: 0; }
  .wss-three-col .wss-col:nth-child(2n+1) { margin-right: 2%; }
  
  .hero-others.o2 { min-height: 500px; }
  .yslide-right { width: 50%; margin-left: 5%; }
  .yin-outer { padding: 0; }
  .yin-block { padding: 20px; }
  
  .bullet-two-columns { padding: 0; }
  .fbvideo-cols { width: 46%; }
  .fbvideo-cols:nth-child(2n) { margin-right: 0; }
  .fbvideo-cols:nth-child(2n+1) { margin-right: 8%; }
  
  .scm-column { width: 48.67%; }
  .scm-column:nth-child(2n) { margin-right: 0; }
  
  body .contactSection .content-wrapper { margin-left:-127px !important; }
  
}

@media(max-width: 991px) { 

  .content-wrapper { max-width: 700px; padding-left: 25px; padding-right: 25px;  }
  
  .header-top-inner ul li { margin: 0 15px 0 0; }
  .menu-popup { padding-left: 25px; padding-right: 25px; max-width: 100%; width: 100%;  } 
  .menu-popup li.hs-item-has-children > .hs-menu-children-wrapper { display: none; min-width: auto; position: static !important; opacity: 1 !important; visibility: visible !important; padding: 0 10px 10px; background: rgb(0 0 0 / 12%);  }
  .menu-popup ul li.hs-item-has-children > a:after, .menu-popup ul li.hs-item-has-children > a:before { display: none; }
  .child-trigger { position: absolute; right: 0; top: 0; width: 100%; height: 48px; z-index: 1; }
  .child-trigger i:before { content: " "; position: absolute; right: 3px; top: 50%; transform: translateY(-50%) rotate(-45deg); border-bottom: 3px solid #fff; border-right: 3px solid #fff; width: 13px; height: 13px; }
  .child-trigger.child-open i:before { transform: translateY(-50%) rotate(45deg); }
  .menu-popup ul li:hover > .child-trigger i:before { border-bottom-color: #E9951B; border-right-color: #E9951B;  }
   
  .slider-container .slick-arrow.slick-prev { left: calc((100vw - 700px)/2);  }
  .slider-container .slick-arrow.slick-next { right: calc((100vw - 700px)/2); }
  .lt-column:after { display: none; }
  .lt-column { width: 100%; }
  .lt-column:last-child { margin: 40px 0 0; padding: 40px 0 0; border-top: 3px solid #e7e5e4; }
  
  .video-left, .image-left { width: 100%; }
  .video-right { padding: 56.25% 0 0; width: 100%; margin: 40px 0 0; min-height: auto; }
  .image-right { width: 100%; padding:6% 3%;}
  .footer-col:first-child { width: 100%; margin-right: 0; }
  .footer-col { width: 33.33%; margin-bottom: 40px;  }
  .footer-col:nth-child(4) { width: 33.33%; } 
  .footer-col:last-child { width: 100%; margin-bottom: 0; } 
  .footer-col > .title-color { min-height: 28px; }
  .footer-col:nth-child(2) > .title-color, .footer-col:nth-child(3) > .title-color, .footer-col:nth-child(4) > .title-color { margin: 0 0 20px; }
   
  .product-filter { padding-bottom: 40px; }
  .product-left { width: 100%; margin-left: 0; }
  .product-list-right { margin: 50px 0 0; }
  .product-block { margin: 30px 0 0;  }
  .ess-ltd-block:not(.is-smalller-device) { display: none; }
  .ess-ltd-block.is-smalller-device { display: block; width: 100%; float: left; }
  
  .hs-product-detail { padding-top: 50px; }
  .product-list-right { width: 100%; padding-left: 0; }
  .hs-inner-right .title-color h1 { font-size: 48px; }
  .slider-nav .slide-img { min-height: auto; padding: 11% 0 0; }
  .pro-tabs li, .pro-tabs li a { width: 100%; }
  
  .similar-posts { padding: 40px 0 0 0; }
  .similar-posts .blog-index .blog-index__post--small:last-child { margin-bottom: 0; }
  
  .map-block { margin: 0; }
  .map-block .image-holder { display: none;  }
  .dropdown-map { display: block; }
  .dropdown-inline { position: relative; display: inline-block; }
  .dropdown-inline > span { color:  {{ primary_color }}; font-weight: 700; font-family: {{ robotoCondensed }}; position: relative; border: 2px solid  {{ primary_color }}; padding: 10px 30px 10px 10px; display: block; min-width: 250px; text-align: left;     text-transform: uppercase; }
  .dropdown-inline > span:before { content: " "; position: absolute; margin-top: -3px; right: 15px; top: 50%; transform: translateY(-50%) rotate(-45deg); width: 10px; height: 10px; border-left: 2px solid  {{ primary_color }}; border-bottom: 2px solid  {{ primary_color }};    }
  .dropdown-map ul { display: none; position: absolute; left: 0; top: 100%; width: 100%; border: 2px solid  {{ primary_color }}; padding: 10px; margin: 5px 0 0; z-index: 2; background: #fff;  }
  .dropdown-map ul li a { display: block;  color: #000; border-bottom: 2px solid #e7e5e4; text-align: left; }
  .map-loc-box { width: 100%; display: none; position: static; transform: none;  margin: 40px auto 0; }
  .map-btn-yellow > div { display: inline-block; margin: 0 20px 10px 0; } 
  
  .zigzag-section { padding-bottom: 56.25%; }
  .zz-outer { min-height: auto; }
  .zz-content, .zz-img { width: 100%; }
  .zz-img { top: auto; bottom: 0; padding: 56.25% 0 0; height: auto; }
  .zz-content { padding-left: 0; }
  .zz-reverse .zz-content { padding-right: 0; }
  .req-form-section .content-wrapper > .text-color { font-size: 18px; max-width: 100%; }
  .sq-outer { margin: 50px 0 0; }
  .sq-left { width: 100%; padding-right: 0; }
  .sq-left .text-color p { margin: 0 0 35px; }
  .sq-right { width: 100%; margin: 40px 0 0; }
  .job-section .product-list-right { padding: 0; }
  
  .about-year-left { width: 100%; }
  .about-year-right { width: 100%; margin: 30px 0 0; }
  .about-year-img img  { max-width: 200px; }
  .fitab-outer { margin: 20px 0 0; }
  .fitab-left { width: 100%; text-align: center; }
  .fitab-right { width: 100%; margin: 40px 0 0; }
  .yin-block { width: 48.75%; }
  .yin-block:nth-child(2n) { margin-right: 0; }
  .yin-block:nth-child(4n+1) { margin-right: 2.5%; }
  
  .bullet-items ul li:before { top: 2px; width: 22px; height: 22px; }
  .fbv-poster { min-height: 250px; }
  .fbv-poster > a:before { width: 70px; height: 50px; }
  .fbv-poster > a:after { width: 29px; height: 23px; }
  .cta-section.o1 .title-color { padding: 0 0 10px; }
  .eq-video-box { width: 49.335%; padding: 38% 0 0; }
  .eq-video-box:nth-child(2n) { margin-right: 0; }
  
  .capp-icon img { max-width: 150px!important; }
  
  body .contactSection .content-wrapper { margin-left:-27px !important; }
  
}

@media(max-width: 767px){
  .content-wrapper { max-width: 100%;  }
   
  h1 { font-size: 42px; line-height: 55px; }
  h2 { font-size: 34px; line-height: 45px; }
  h3 { font-size: 22px; }
  
  form .hs-input:not([type=checkbox]):not([type=radio]) { padding: 10px; }
  form label, form legend { font-size: 16px; }
  form .hs-form-field { margin-bottom: 25px; }
  form .form-columns-2 .hs-form-field { width: 100% !important; }
  form .form-columns-2 .hs-form-field:last-child { margin-left: 0; }
  .btn-yellow a { min-width: 150px;  }
  
  .header-logo { flex-flow: row; }
  .header-logo > a:first-child > img { max-width: 100% !important; width: 100%; }
  .header-logo > a:last-child > img { max-width: 30px !important; width: 100%; }
  .menu-trigger { font-size: 24px; }
  .header-top-inner ul li { margin: 2px 8px 2px 0; }
  .header-top-inner ul li a { font-size: 0; background:  {{ primary_color }}; padding: 5px; width: 40px; text-align: center; border-radius: 4px; }
  .header-top-inner ul li a svg { margin-top: 0; }
  .header-swicther img { margin-top: 0; }
  .header-top-links > div { vertical-align: middle; }
  .search-btn { display: inline-block; }
  .header-search .hs-search-field { display: none; position: absolute; top: 100%; max-width: 100%; left: 0; margin: -2px 0 0; padding: 25px; background: rgba(20, 10, 154, 100%); z-index: 1; }
  .header-search form { padding-right: 0; }
  .header-search form button { display: none; } 
  
  .slick-arrow { width: 30px; height: 30px;  }
  .slick-arrow:before { width: 10px; height: 10px; }
  .slick-arrow.slick-prev:before { margin-left: -4px; }
  .slick-arrow.slick-next:before { margin-left: -7px; }
  .slider-container .slick-arrow.slick-prev { left: 10px; }
  .slider-container .slick-arrow.slick-next { right: 10px; }
  .slide-max { padding: 0 30px; }
  .slide-max .title-color h2 { font-size: 36px; line-height: 45px; }
  .slide-max .text-color { font-size: 18px; }
  
   
   
  .ts-section { min-height: auto; }
  .ts-img { left: -100px; max-width: 280px; }
  .ts-right .title-color h2 { margin: 0 0 50px; }
  .ts-slide-bg { padding: 50px 30px; }
  .ts-slide-bg:before { left: 30px; top: -29px; width: 48px; height: 42px;  }
  .ts-slider { padding: 0 20px; }
  .ts-slide .text-color, .ts-slide .text-yellow { font-size: 18px; line-height: 30px;  }
  .ts-slide-bg .slick-arrow.slick-prev { left: -34px; }
  .ts-slide-bg .slick-arrow.slick-next { right: -34px; }
  .footer-col > .title-color { min-height: auto; }
  .video-left .title-color h2, .image-left .title-color h2 { font-size: 36px; line-height: 45px; }
  .footer-col { width: 100%; margin-right: 0; }
  .footer-col .hs-menu-wrapper ul li { margin: 0 0 5px; }
  .lt-column > .title-color h2 { font-size: 36px; line-height: 45px; }
  .footer-call-us a { margin: 20px 0 0; }
  .footer-col .hs-menu-wrapper { margin: 0; }
  .footer-col, .footer-col:nth-child(4) { width: 100%; }
  .footer-col .title-color::empty { margin: 0; }
  .product-block { width: 100%;  padding: 15px; margin: 20px 0 0;  }
  .ess-ltd-block { margin: 40px 0 0; }
 
  .product-filter, .ess-ltd-block { padding: 30px 20px; }
  .paginationjs-pages li a { width: 30px; height: 30px; line-height: 30px; } 
  .paginationjs-prev a:before { margin-left: 2px; }
  .paginationjs-next a:before { margin-left: -2px; }
  .paginationjs-next a:before, .paginationjs-prev a:before { width: 10px; height: 10px; border-width: 3px; }
  .paginationjs-pages li { margin: 0 15px 15px 0; }
  .paginationjs-pages li a { font-size: 14px; }
  
  .hs-product-detail { padding-top: 40px; }
  .hs-inner-right .btn-yellow a { padding: 13px 15px 13px 40px; } 
  .hs-inner-right .btn-yellow > a:before { width: 20px; height: 20px; }
  .hs-inner-right .btn-yellow > a:before { left: 12px; }
  
  .advantage-section { padding-bottom: 20px; }
  .advg-title { padding: 0 0 10px; }
  .advantage-col { padding: 50px 20px 40px; }
  .feature-section { padding: 30px 0 50px; }
  .feature-outer .slick-arrow.slick-prev { left: -20px; }
  .feature-outer .slick-arrow.slick-next { right: -20px; }
  
  .br-left iframe { height: 300px; }
  .br-right .title-color h2 { margin: 0 0 20px; }
  .br-right .text-color { font-size: 22px; line-height: 36px; }
  .br-right .title-color h2 { margin: 0 0 20px; }
  .br-address { margin: 0 0 20px; }
  .tab-content-wrap { padding: 20px 0 0; }
  .grid-row-iso { margin: 0; }
  .tab-column { width: 100%; margin: 20px 0 0; }
   
  .form-header { padding: 10px 20px; }
  .form-close { top: 30px; right: 25px; width: 25px; height: 25px; }
  .form-main { padding: 25px 20px; }
/*   .form-main form input[type=submit] { font-size: 18px;  min-width: 200px; } */
  .slider-for .vidPlay:before { width: 40px; height: 40px; }
  .slider-for .vidPlay:after { border-left: 8px solid #fff; border-top: 5px solid transparent; border-bottom: 5px solid transparent; }
  
  .video-right .vidPlay:before { width: 50px; height: 50px; }
  .video-right .vidPlay:after { border-left: 8px solid #fff; border-top: 5px solid transparent; border-bottom: 5px solid transparent; }
  .search-btn img { max-width: 30px;  }
  
  .blog-index { padding: 0 0 50px; }
  .blog-index .blog-index__post--small { flex: 0 0 100%; margin: 0 0 50px; }
  .blog-index .blog-index__post-image-wrapper--small { margin: 0 0 30px; }
  .pagination a { width: 30px; height: 30px; line-height: 19px; font-size: 14px; margin: 8px 8px 0; }
  .pagination .pagination__link--prev:before, .pagination .pagination__link--next:before { width: 10px; height: 10px; }
  .pagination .pagination__link--prev:before { margin-left: 2px; }
  .pagination .pagination__link--next:before { margin-left: -2px; }
  .blog-sidebar { margin: 50px 0 0; }
  .side-search-box, .sidebar-tags { padding: 25px; }
  .sidebar-tags { margin: 40px 0 0; }
  .sidebar-tags ul li a { font-size: 16px; line-height: 30px; }
  
  .blog-post-content .breadcrumb-menu { margin: 0 0 20px; }
  .blog-post-content { padding: 30px 0 50px; }
  .blog-comments div#comments-listing .comment { padding: 25px; }
  .comment-title { padding: 0 0 5px; }
  .blog-comment-form { padding: 30px 0 0; }
  
  .form-header h2 { font-size: 30px; }
  .form-close { top: 18px; }
  
  .zz-content .title-color h2 { font-size: 34px; } 
   
  .wss-three-col .wss-col, .wss-two-col .wss-col { width: 100%; margin: 20px 0 0 !important; }
  .hero-others.o2 { min-height: 300px; } 
  .yslide-left { width: 100%; }
  .yslide-right { width: 100%; margin-left: 0; }
  .slider-nav-year .slick-list:after, .slider-nav-year .slick-list:before { display: none; }
  .slider-nav-year .slick-list { padding: 50px 0 !important; }
  .yslide-box h2, .yslide-text h2 { font-size: 28px; line-height: 40px; }
  .yslide-right{ padding: 60px 30px 20px; }
  .yslide-right:before { width: 200px; height: 100px; right: -20px; }
  
  .fitab-left ul li a { font-size: 18px; }
  .o2 .adv-outer { padding: 0 20px; }
  .advantage-section.o2 .slick-arrow.slick-prev { left: -15px; }
  .advantage-section.o2 .slick-arrow.slick-next { right: -15px; }
  .yin-outer { margin: 0; }
  
  .btn-row .btn-yellow { margin-right: 10px; }
  .bullet-items:first-child { margin: 30px 0 0; }
  .bullet-items { width: 100%; margin: 0; }
  .fbvideo-cols { width: 100%; margin-right: 0; }
  .fbvideo-cols:first-child { margin-top: 20px; }
  .fbvideo-cols:nth-child(2n+1) { margin-right: 0; }
  .fbv-poster { padding: 56.25% 0 0; }
  .fb-title-color h3 { line-height: 34px; }
  
  .hero-outer-part h1 { font-size: 30px; line-height: 35px;  }
  .scm-column { width: 100%; margin-right: 0; min-height: auto; }
  .safety-content-section h2 { line-height: 35px; }
  .eq-video-row h2 { font-size: 28px; line-height: 35px; }
  .eq-video-box { width: 100%; margin-right: 0; padding: 75% 0 0; }
   
  .hs-v1 .title-color h2 { font-size: 30px; }
  .capp-column { width: 100%; padding: 0; margin: 0 0 40px;  }
  .capp-column:last-child { margin-bottom: 0; }
  .app-btns-row > div {  display: block; width: 100%; margin-right: 0; margin-left: 0; }
  .app-btns-row .btn-yellow a { width: 100%; }
  
  body .mapTop { padding: 20px; }
  body .contactSection .content-wrapper, body .contactSection .content-wrapper .mapInfos { max-width:100%; }
  body .contactSection .content-wrapper { position: static; transform: none; max-width: 100%; margin: 0 0 30px !important; float:left !important; }
  body #map { height:480px; float: left; width: 100%; }
  body .mapGeneralbtn a { padding: 10px 20px; min-width: 0; font-size: 16px; }
  body .mapWrap { padding: 16px 24px; }
  body .mapInfo h3 { font-size: 19px; margin: 0 0 7px; }
}

@media(max-width: 480px){
  .header-top-inner ul li a { min-width: auto; width: 30px; height: 30px; line-height: 30px; padding: 0; }
  .header-top-inner ul li a svg { width: 12px; }
  .header-top-inner ul li:nth-child(2) a svg { width: 15px; }
  .header-top-inner ul li:nth-child(3) a svg { width: 13px; }
  
  .blog-comments form .hs-form-field { width: 100%; margin-right: 0; }
  .yin-block { width: 100%; margin-right: 0 !important; }
  .eq-video-box a .fa { font-size: 50px; }
  
}
.adbnrimage {text-align:center;}
.adbnrimage img {width:100%;}
.dnd-section .dnd-column {padding:0 !important;}

@media(max-width:766px){
.header-top {
    padding: 15px 0 20px !important;
}
.header-top-inner ul li a svg{
  fill:#fff;
  }
}
