{% if module.style.section_show_hide_ %}
<div class="fullwidth sec-space sec-bg-color">
  <div class="content-wrapper">
    {% for item in module.rows %}
    <div class="eq-video-row fullwidth">
      <div class="title-color text-yellow">
        <h2>{{ item.title }}</h2>
      </div>
      <div class="fullwidth page-wrap eq-video-columns">
        {% for item2 in item.columns %}
        <div class="eq-video-box">
          {% if item2.select_video_type  == 'youtube_video' %}
          <a data-fancybox href="{{ item2.youtube_url }}"><i class="fas fa-play-circle"></i></a>
          {% elif item2.select_video_type  == 'vimeo_video' %}
          <a data-fancybox href="https://vimeo.com/{{ item2.vimeo_id }}"><i class="fas fa-play-circle"></i></a>
          {% elif item2.select_video_type  == 'mp4_video' %}
          <a data-fancybox data-width="640" data-height="360" href="{{ item2.mp4_url }}"><i class="fas fa-play-circle"></i></a>
          {% elif item2.select_video_type  == 'external_video' %}
          {% set href = item2.video_external_link.url.href %}
          {% if item2.video_external_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          <a href="{{ href }}"
             {% if item2.video_external_link.open_in_new_tab %}target="_blank"{% endif %}
             {% if item2.video_external_link.rel %}rel="{{ item2.video_external_link.rel }}"{% endif %}
             >
            <i class="fas fa-play-circle"></i>
          </a>
          {% else %}
          {% endif %}
        </div>  
        {% endfor %}
      </div>
    </div>   
    {% endfor %}
  </div>  
</div>  
{% endif %}
   
{% require_css %}
<style>
  
  {% if module.style.section_background.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: {{ module.style.section_background.css }}; }
  {% endif %}
  
  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}
  
  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}
  
  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
  
  {% for item in module.rows %}
    {% set ploop = loop.index %}
    {% for item2 in item.columns %}
     #hs_cos_wrapper_{{ name }} .eq-video-row:nth-child({{ ploop }}) .eq-video-box:nth-child({{ loop.index }}) { background: url({{ item2.poster_image.src }}) no-repeat center top/cover; }
    {% endfor %}
    #hs_cos_wrapper_{{ name }} .eq-video-row:nth-child({{ ploop }}) { padding-top: {{ item.top_spacing ~ 'px' }}; padding-bottom: {{ item.bottom_spacing ~ 'px' }}; }
  {% endfor %}
   
  
 /***  Responsive Media Query ***/
 @media(max-width: 991px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }
  
  @media(max-width: 767px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  
</style>  
{% end_require_css %}