.dnd-section .dnd-column {
    padding: 0 0rem;
}

.tabs_buttons {
    display: flex;
}

.tab-button {
    cursor: pointer;
    padding: 10px 20px;
    border:none;
}

.tabs-content {
    display: flex;
    flex-direction: column;
}

.tab-content {
    display: none;
    padding: 20px;
}

.tab-content.active {
    display: flex;
}

.left--side,
.right--side {
    width: 50%;
    padding: 10px;
}

.right--side .right--side_img img {
    max-width: 500px;
    max-height: 400px;
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.right--side{ text-align: center;}

.right--side .eq-video-boxs {
padding: 180px;
position: relative;
border-radius: 10px; 
position: relative;
}

.eq-video-boxs a .fas {
color: #fff;
font-size: 75px;
left: 40%;
position: absolute;
top: 40%;
  z-index:2;
}
.eq-video-boxs .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.right--side .eq-video-boxs::before {
content: "";
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
border-radius: 10px; 
}


.right--side .eq-video-box-no_pop { position: relative; border-radius: 10px;}

@media(max-width:992px){

.tabs_buttons {
    display: flex;
    flex-wrap: wrap;
}

.tab-button {
    flex-grow: 1;
}
.tabs-content,.tabs-content .active {
    flex-direction: column;
    padding: 0px;
}

.left--side,
.right--side {
    width: 100%;
}
.right--side video {
    max-width: 100%;
    height: auto;
}
}