<!-- module html  -->
<div class="fullwidth space-section-IVT">
  <div class="content-wrapper">
    <div class="title-color text-yellow">
      <h2>{{ module.title }}</h2>
    </div>
    <!-- Start of tabs -->
    <div class="tabs-container">
      <!-- Tabs buttons -->
      <div class="tabs_buttons">
        {% for item in module.tab_group %}
        <div class="tab-button {% if forloop.first %}active{% endif %}" data-tab="{{ forloop.index }}">{{ item.tabs_heading }}</div>
        {% endfor %}    
      </div>
      <!-- Tabs Content -->
      <div class="tabs-content">
        {% for item in module.tab_group %}
        <div class="tab-content {% if forloop.first %}active{% endif %}" data-tab="{{ forloop.index }}">
          <div class="left--side">
            {{ item.content }}
          </div>
          <div class="right--side">
            {% if item.video_or_image == "media_type_selection" %}

            {% if item.media_type_selection.video_popup == true %}
            <div class="eq-video-boxs" style="background: url({{ item.media_type_selection.thumbnail_image.src }}) no-repeat center top/cover;">
              {% if item.media_type_selection.media_type  == 'youtube_video' %}
              <a data-fancybox href="{{ item.media_type_selection.youtube_url }}"><i class="fas fa-play-circle"></i></a>
              {% elif item.media_type_selection.media_type  == 'vimeo_video' %}
              <a data-fancybox href="https://vimeo.com/{{ item.media_type_selection.vimeo_id }}"><i class="fas fa-play-circle"></i></a>
              {% elif item.media_type_selection.media_type  == 'mp4_video' %}
              <a data-fancybox data-width="640" data-height="360" href="{{ item.media_type_selection.mp4_url }}"><i class="fas fa-play-circle"></i></a>
              {% elif item.media_type_selection.media_type  == 'external_video' %}
              {% set href = item.media_type_selection.video_external_link.url.href %}
              {% if item.media_type_selection.video_external_link.url.type is equalto "EMAIL_ADDRESS" %}
              {% set href = "mailto:" + href %}
              {% endif %}
              <a href="{{ href }}"
                 {% if item.media_type_selection.video_external_link.open_in_new_tab %}target="_blank"{% endif %}
                 {% if item.media_type_selection.video_external_link.rel %}rel="{{ item.media_type_selection.video_external_link.rel }}"{% endif %}
                 >
                <i class="fas fa-play-circle"></i>
              </a>
              {% endif %}
              <div class="overlay" style="background: rgba(0, 0, 0, {{ item.media_type_selection.thumbnail_image_overlay_opacity / 100 }});"></div>
            </div>
            {% endif %}

            {% if item.media_type_selection.video_popup == false %}
            <div class="eq-video-box-no_pop">
              {% if item.media_type_selection.media_type  == 'youtube_video' %}
              {% set youtube_id = item.media_type_selection.youtube_url.split('=')[1].split('&')[0] %}
              <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;border-radius: 24px;">
                <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/{{ youtube_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              {% elif item.media_type_selection.media_type  == 'vimeo_video' %}
              {% set vimeo_id = item.media_type_selection.vimeo_id %}
              <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;border-radius: 24px;">
                <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://player.vimeo.com/video/{{ vimeo_id }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
              </div>
              {% elif item.media_type_selection.media_type  == 'mp4_video' %}
              {% set mp4_url = item.media_type_selection.mp4_url %}
              <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;border-radius: 24px;">
                <video style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" controls>
                  <source src="{{ mp4_url }}" type="video/mp4">
                </video>
              </div>
              {% elif item.media_type_selection.media_type  == 'external_video' %}
              {% set href = item.media_type_selection.video_external_link.url.href %}
              {% if item.media_type_selection.video_external_link.url.type is equalto "EMAIL_ADDRESS" %}
              {% set href = "mailto:" + href %}
              {% endif %}
              <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; border-radius: 24px;">
                <iframe src="{{ href }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" frameborder="0" allowfullscreen></iframe>
              </div>
              {% endif %}
            </div>
            {% endif %}
            
            {% else %} 
            <div class="right--side_img">
              {% if item.image.src %}
              {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
              {% if item.image.size_type == 'auto' %}
              {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}" style="max-width: 100%; height: auto;"' %}
              {% elif item.image.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
              {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
              <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
              {% endif %}
            </div>

            {% endif %}
          </div>

        </div>
        {% endfor %} 
      </div>
    </div>
    <!-- End of tabs -->
  </div>
</div>

{% require_css %}
<style>

  {% if module.styles.spacing.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .space-section-IVT{ {{ module.styles.spacing.desktop_spacing.css }} }
  {% endif %}

  /***  Responsive Media Query ***/
  @media(max-width: 991px){
    #hs_cos_wrapper_{{ name }} .space-section-IVT { {{ module.styles.spacing.tablet_spacing.css }} }
  }

  @media(max-width: 767px){
    #hs_cos_wrapper_{{ name }} .space-section-IVT  { {{ module.styles.spacing.mobile_spacing.css }} }
  }

  .tab-button { background-color:{{ module.styles.color_setting.tabs_color_bg.color }};   color: {{module.styles.color_setting.tabs_color_text.color}};
  }

  .tab-button.active { background-color:{{ module.styles.color_setting.tabs_color_bg_active.color }} ; color: {{ module.styles.color_setting.tabs_color_text_active.color }};
  }


  {% if module.styles.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h2
  { color: rgba({{ module.styles.title_color.color |convert_rgb }}, {{ module.styles.title_color.opacity ~ '%' }}); }
  {% endif %}

  #hs_cos_wrapper_{{ name }} .eq-video-boxs {background: url({{ item.media_type_selection.thumbnail_image.src }}) no-repeat center top/cover;}

  #hs_cos_wrapper_{{ name }} .eq-video-boxs::before {background: rgba(0, 0, 0,{{ item.media_type_selection.thumbnail_image_overlay_opacity ~ '%'}}); }

</style>
{% end_require_css %}



