/* .fs-form-wrapper {
    width: 65%;
} */

.fs-form-wrapper form .hs-button,
form input[type=submit] {
    padding: 15px 30px !important;
    color: #fff;
}

.fs-title {
    font-size: 30px;
    margin: 0 0 2px 0;
}

.fs-content {
    font-size: 16px;
    padding-top: 15px;
}

.fs-yellow-ul {
    background-color: #edbd3c;
    height: 15px;
    width: 50px;
    margin: 5px 0;

}

.fs-form-wrapper form .hs-form-field {
    margin-bottom: 15px !important;
}

.fs-form-wrapper form .hs-input.invalid.error {
    border-color: #afafaf !important;
}

.fs-form-wrapper form input[type=email],
.fs-form-wrapper form input[type=file],
.fs-form-wrapper form input[type=number],
.fs-form-wrapper form input[type=password],
.fs-form-wrapper form input[type=tel],
.fs-form-wrapper form input[type=text],
.fs-form-wrapper form select,
.fs-form-wrapper form textarea {
    padding: 11px;
    border-radius: 0px;
}

.fs-form-wrapper form input[type=email]:focus,
.fs-form-wrapper form input[type=file]:focus,
.fs-form-wrapper form input[type=number]:focus,
.fs-form-wrapper form input[type=password]:focus,
.fs-form-wrapper form input[type=tel]:focus,
.fs-form-wrapper form input[type=text]:focus,
.fs-form-wrapper form select:focus,
.fs-form-wrapper form textarea {
    outline: none
}

;

.fs-form-wrapper form select {
    color: #000 !important;
}

@media(max-width: 767px) {
    /* .fs-form-wrapper {
        width: 100%;
    } */
}