{% if module.styles.section_show_hide_ %}
<div id="form-section" class="fullwidth fs-form-section">
    <div class="content-wrapper">
        <div class="fs-container">
            <div class="fs-title-container">
                <h2 class="fs-title">
                    {{ module.title }}
                </h2>
                <div class="fs-yellow-ul">
                </div>
                <p class="fs-content">
                   {{ module.content }}
                </p>
            </div>
            <div class="fs-form-wrapper">
                {% form
                    form_to_use="{{ module.form.form_id }}"
                    response_response_type="{{ module.form.response_type }}"
                    response_message="{{ module.form.message }}"
                    response_redirect_id="{{ module.form.redirect_id }}"
                    response_redirect_url="{{module.form.redirect_url}}"
                    gotowebinar_webinar_key="{{ module.form.gotowebinar_webinar_key }}"
                %}
            </div>
        </div>
    </div>
</div>
{% endif %}


{% require_css %}
<style>
{% scope_css %}
.fs-form-section{
    background-color: {{ module.styles.background_color.color }} ;
    opacity:{{ module.styles.background_color.opacity }};
    {{ module.styles.spacing.desktop_spacing.css }}
    
}

@media(max-width: 767px){
.fs-form-section{
    {{ module.styles.spacing.Mobile_spacing.css }}
}
}


.fs-title{
    {% if module.styles.color_settings.title_color.color %}
    color:{{ module.styles.color_settings.title_color.color }} ;
    opacity: {{ module.styles.color_settings.title_color.opacity }}
    {% endif %}
}

.fs-content{
    color: {{ module.styles.color_settings.content_color.color }} ;
    opacity:{{ module.styles.color_settings.content_color.opacity }};
}
{% end_scope_css %}


</style>
{% end_require_css %}






