{% if module.style.section_show_hide_ %}
<div class="fullwidth sec-space sec-bg-color text-center yin-section">
  <div class="content-wrapper">
    <div class="title-color text-yellow">
      <h2>{{ module.title }}</h2>
    </div>
     <div class="page-wrap fullwidth yin-outer">
       {% for item in module.columns %}
      
        
           {% set href = item.add_link.url.href %}
           {% if item.add_link.url.type is equalto "EMAIL_ADDRESS" %}
           {% set href = "mailto:" + href %}
           {% endif %}
           <a href="{{ href }}"
              {% if item.add_link.open_in_new_tab %}target="_blank"{% endif %}
              {% if item.add_link.rel %}rel="{{ item.add_link.rel }}"{% endif %}
             class="yin-block text-upper">
             {{ item.column_title }}
           </a>
           
       {% endfor %}
    </div>  
  </div>  
</div>  
{% endif %}
  

{% require_css %}
<style>
  
  {% if module.style.section_background.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: {{ module.style.section_background.css }}; }
  {% endif %}
  
  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}
  
  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}
  
  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
  {% for item in module.columns %}
   #hs_cos_wrapper_{{ name }} .yin-block:nth-child({{ loop.index }}) { background: rgba({{ item.block_background_color.color|convert_rgb }}, {{ item.block_background_color.opacity ~ '%' }}); color: rgba({{ item.text_color.color|convert_rgb }}, {{ item.text_color.opacity ~ '%' }}); }
  {% endfor %}
   
 /***  Responsive Media Query ***/
 @media(max-width: 991px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }
  
  @media(max-width: 767px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  
</style>  
{% end_require_css %}