{% if module.style.section_show_hide_ %}
<div class="fullwidth sec-space sec-bg-color safety-content-section">
  <div class="content-wrapper">
    <div class="title-color text-yellow">
      <h2>{{ module.title }}</h2>
    </div>
    <div class="text-color">
      {{ module.content }}
    </div>  
    
    <div class="btn-yellow btn-color">
      {% for item in module.multi_buttons %}
      	{% set href = item.button_link.url.href %}
	{% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
		{% set href = "mailto:" + href %}
	{% endif %}
      <a href="{{ href }}"
		{% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
		{% if item.button_link.rel %}rel="{{ item.button_link.rel }}"{% endif %}
		>
		{{ item.button_text }}
	</a>
      {% endfor %}     
    </div> 
  
  </div>  
</div>  
{% endif %}


{% require_css %}
<style>

  {% if module.style.section_background.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: {{ module.style.section_background.css }}; }
  {% endif %}

  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}

  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}

  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}

  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }

  /***  Responsive Media Query ***/
  @media(max-width: 991px){
    #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }

  @media(max-width: 767px){
    #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  .btn-yellow a {margin-right:20px;}
  .btn-yellow a:last-child {margin-right:0;}
  .safety-content-section {text-align:center;}
</style>  
{% end_require_css %}