.noResult { display:none; text-align: center; padding: 200px 0; } 
.text-color.spec{border-bottom: 2px dotted #000;}

#myCarousel {
	max-width: 640px;
	margin: 0 auto;
}

#myCarousel .f-carousel__slide {
	display: flex;
	justify-content: center;
	align-items: center;
  max-height: 800px;
}

#myCarousel .f-carousel__slide a {
	height: 100%
}

#myCarousel .f-carousel__slide a img {
	object-fit: cover;
	height: 100%;
	width: 100%;
  padding:0 50px;
}

@media (max-width: 1220px) {
#myCarousel .f-carousel__slide {

  max-height: 500px;
}
}