{% set dynamic_page_hubdb_table_id = module.select_hubdb_table %}
{% set dynamic_listing = dynamic_page_hubdb_table_id %}
 
{# <!-- {% if dynamic_page_route_level == 0 %}
	Top Level Template
{% elif dynamic_page_route_level == 1 %}
	Parent table template (/food /beverage)
{% elif dynamic_page_route_level == 2 %}
	Child table template (/food/banana etc., /beverage/soda etc.)
{% endif %} --> #}


{% if dynamic_page_hubdb_row %}        
<div class="fullwidth hs-product-detail">
  <div class="content-wrapper">
    <div class="fullwidth page-wrap">
       <div class="hs-inner-left">
        <div class="f-carousel" id="myCarousel">
          
          {% if dynamic_page_hubdb_row.slide_image_1.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_1.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_1.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_1.url }}" /></a>
        </div>
           {% endif %}
          {% if dynamic_page_hubdb_row.slide_image_2.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_2.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_2.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_2.url }}" /></a>
        </div>
           {% endif %}
          {% if dynamic_page_hubdb_row.slide_image_3.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_3.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_3.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_3.url }}" /></a>
        </div>
           {% endif %}
          {% if dynamic_page_hubdb_row.slide_image_4.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_4.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_4.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_4.url }}" /></a>
        </div>
           {% endif %}
          {% if dynamic_page_hubdb_row.slide_image_5.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_5.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_5.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_5.url }}" /></a>
        </div>
           {% endif %}
          {% if dynamic_page_hubdb_row.slide_image_6.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_6.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_6.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_6.url }}" /></a>
        </div>
           {% endif %} 
          {% if dynamic_page_hubdb_row.slide_image_7.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_7.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_7.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_7.url }}" /></a>
        </div>
           {% endif %} 
          {% if dynamic_page_hubdb_row.slide_image_8.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_8.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_8.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_8.url }}" /></a>
        </div>
           {% endif %} 
          {% if dynamic_page_hubdb_row.slide_image_9.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_9.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_9.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_9.url }}" /></a>
        </div>
           {% endif %} 
          {% if dynamic_page_hubdb_row.slide_image_10.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_10.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_10.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_10.url }}" /></a>
        </div>
           {% endif %}     
          {% if dynamic_page_hubdb_row.slide_image_11.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_11.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_11.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_11.url }}" /></a>
        </div>
           {% endif %}     
          {% if dynamic_page_hubdb_row.slide_image_12.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_12.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_12.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_12.url }}" /></a>
        </div>
           {% endif %}     
          {% if dynamic_page_hubdb_row.slide_image_13.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_13.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_13.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_13.url }}" /></a>
        </div>
           {% endif %}     
          {% if dynamic_page_hubdb_row.slide_image_14.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_14.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_14.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_14.url }}" /></a>
        </div>
           {% endif %}     
          {% if dynamic_page_hubdb_row.slide_image_15.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_15.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_15.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_15.url }}" /></a>
        </div>
           {% endif %}     
          {% if dynamic_page_hubdb_row.slide_image_16.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_16.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_16.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_16.url }}" /></a>
        </div>
           {% endif %}     
          {% if dynamic_page_hubdb_row.slide_image_17.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_17.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_17.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_17.url }}" /></a>
        </div>
           {% endif %}      
      </div>
        {% require_js %}
        
      <script>
      document.addEventListener("DOMContentLoaded", function () {
        const container = document.getElementById("myCarousel");
        const options = {
          Dots: false,
          Thumbs: true,
          
        };

        new Carousel(container, options, { Thumbs });

        Fancybox.bind("[data-fancybox]", {
          // Your custom options
        });
      });
    </script>
        {% end_require_js %}
      </div>
      <div class="hs-inner-right">
        <div class="product-crumb fullwidth">
          <ul>
            <li>Home <span class="line-divider">/</span></li>
            <li>Products <span class="line-divider">/</span></li>
            <li>{{ dynamic_page_hubdb_row.product_title }}</li>
          </ul> 
        </div>
        <div class="fullwidth page-wrap">
          <div class="title-color fullwidth">
            <h1>{{ dynamic_page_hubdb_row.product_title }}</h1>
          </div>
          <div class="pro-share-social fullwidth">
            <ul>
              <li><a href="mailto:?subject={{ dynamic_page_hubdb_row.location.name }}&body={{ dynamic_page_hubdb_row.request_url }}/{{ dynamic_page_hubdb_row.hs_path }}"><img src="https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/ic_share_24px-yellow.svg"></a></li>
              <li>Share</li>
            </ul>  
          </div> 

          <div class="btn-yellow fullwidth text-upper">
            {% if dynamic_page_hubdb_row.get_a_qoute_button_text %}
              <a href="{{ dynamic_page_hubdb_row.get_a_qoute_button_link }}" target="blank_">{{ dynamic_page_hubdb_row.get_a_qoute_button_text }}</a>
            {% endif %}
            {% if dynamic_page_hubdb_row.download_button_link %}
              <a href="{{ dynamic_page_hubdb_row.download_button_link }}" target="blank_">{{ dynamic_page_hubdb_row.download_specs }}</a>
            {% endif %}
          </div>
          <div class="fullwidth product-details">
            <div class="pro-details-wrap">
              {% if dynamic_page_hubdb_row.year.name %}   
              <div class="specs-title text-upper">
                Year
              </div>
              <h3>{{ dynamic_page_hubdb_row.year.name }}</h3>  
              {% endif %}
            </div>
             
              <div class="pro-details-wrap">
              {% if dynamic_page_hubdb_row.hours %}   
              <div class="specs-title text-upper">
                Hours
              </div>
              <h3>{{ dynamic_page_hubdb_row.hours}}</h3>  
              {% endif %}
            </div>
             <div class="pro-details-wrap">
              {% if dynamic_page_hubdb_row.price %}   
              <div class="specs-title text-upper">
                Price
              </div>
              <h3>{{ dynamic_page_hubdb_row.price}}</h3>  
              {% endif %}
            </div>
             <div class="pro-details-wrap">
              {% if dynamic_page_hubdb_row.currency %}   
              <div class="specs-title text-upper">
                Currency
              </div>
              <h3>{{ dynamic_page_hubdb_row.currency}}</h3>  
              {% endif %}
            </div>
            
            
            <div class="pro-details-wrap">
              {% if dynamic_page_hubdb_row.manufacturer.name %}   
              <div class="specs-title text-upper">
                Manufacturer
              </div>
              <h3>{{ dynamic_page_hubdb_row.manufacturer.name }}</h3>  
              {% endif %}
            </div>
            
                         <div class="pro-details-wrap">
              {% if dynamic_page_hubdb_row.vin_serial_number %}   
              <div class="specs-title text-upper">
                Serial Number
              </div>
              <h3>{{ dynamic_page_hubdb_row.vin_serial_number}}</h3>  
              {% endif %}
            </div> 
            
            <div class="fullwidth pro-details-wrap">
              {% if dynamic_page_hubdb_row.model.name %}   
              <div class="specs-title text-upper">
                Model
              </div>
              <h3>{{ dynamic_page_hubdb_row.model.name }}</h3>  
              {% endif %}
            </div>
            <div class="fullwidth pro-details-wrap">
              {% if dynamic_page_hubdb_row.condition.name %}
              <div class="specs-title text-upper">
                Condition
              </div>
              <h3>{{ dynamic_page_hubdb_row.condition.name }}</h3>  
              {% endif %}
            </div>
            <div class="fullwidth pro-details-wrap">
              {% if dynamic_page_hubdb_row.location.name %}
              <div class="specs-title text-upper">
                Location
              </div>
              <h3>{{ dynamic_page_hubdb_row.location.name }}</h3>  
              {% endif %}
            </div>
            
          </div>
        </div>
      </div>  
    </div>
  </div>  
</div>
<div class="fullwidth pro-tab-sec">
  <div class="content-wrapper">
    <div class="pro-tabs ui-tab fullwidth">
      <ul>
        {% if dynamic_page_hubdb_row.tab_1_category %}
          <li><a href="#{{ dynamic_page_hubdb_row.tab_1_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">{{ dynamic_page_hubdb_row.tab_1_category }}</a></li>
        {% endif %}
        {% if dynamic_page_hubdb_row.tab_2_category %}
          <li><a href="#{{ dynamic_page_hubdb_row.tab_2_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">{{ dynamic_page_hubdb_row.tab_2_category }}</a></li>
        {% endif %}
        {% if dynamic_page_hubdb_row.tab_3_category %}
          <li><a href="#{{ dynamic_page_hubdb_row.tab_3_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">{{ dynamic_page_hubdb_row.tab_3_category }}</a></li>
        {% endif %}
        
      </ul>
    </div>
    <div class="pro-tab-content fullwidth">
      {% if dynamic_page_hubdb_row.tab_1_content %}
      <div class="pro-tab-desc ui-content" id="{{ dynamic_page_hubdb_row.tab_1_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">
        {{ dynamic_page_hubdb_row.tab_1_content }}
      </div>
      {% endif %}
      {% if dynamic_page_hubdb_row.tab_2_content %}
      <div class="pro-tab-desc ui-content" id="{{ dynamic_page_hubdb_row.tab_2_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">
        {{ dynamic_page_hubdb_row.tab_2_content }}
      </div>
      {% endif %}
      {% if dynamic_page_hubdb_row.tab_3_content %}
      <div class="pro-tab-desc ui-content" id="{{ dynamic_page_hubdb_row.tab_3_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">
        {{ dynamic_page_hubdb_row.tab_3_content }}
      </div>
      {% endif %}
    </div>  
  </div>  
</div>
{% if dynamic_page_hubdb_row.advantages_section_show_hide %} 
  <div class="advantage-section fullwidth"> 
    <div class="content-wrapper">
      <div class="text-center advg-title">
      <h2>{{ dynamic_page_hubdb_row.advantage_section_title }}</h2>
      </div>  
      <div class="page-wrap fullwidth adv-outer">
        <div class="advantage-col">
          {% if dynamic_page_hubdb_row.advantage_block_1_link  %}
          <a class="adv-linkwrap" href="{{ dynamic_page_hubdb_row.advantage_block_1_link  }}"></a>
          {% endif %}
          <h3>{{ dynamic_page_hubdb_row.advantage_1_title  }}</h3>
          <div class="advantage-text">
            {{ dynamic_page_hubdb_row.advantage_1_content }}
          </div>  
        </div>  
        <div class="advantage-col">
          {% if dynamic_page_hubdb_row.advantage_block_2_link  %}
          <a class="adv-linkwrap" href="{{ dynamic_page_hubdb_row.advantage_block_2_link  }}"></a>
          {% endif %}
          <h3>{{ dynamic_page_hubdb_row.advantage_2_title  }}</h3>
          <div class="advantage-text">
            {{ dynamic_page_hubdb_row.advantage_2_content }}
          </div>  
        </div>  
        <div class="advantage-col">
          {% if dynamic_page_hubdb_row.advantage_block_3_link  %}
          <a class="adv-linkwrap" href="{{ dynamic_page_hubdb_row.advantage_block_3_link  }}"></a>
          {% endif %}
          <h3>{{ dynamic_page_hubdb_row.advantage_3_title  }}</h3>
          <div class="advantage-text">
            {{ dynamic_page_hubdb_row.advantage_3_content }}
          </div>  
        </div>  
      </div>  
    </div>
  </div>  
{% endif %} 
{% if dynamic_page_hubdb_row.slide_video  %}  
<div id="tcVid21" class="videoPopup fullwidth">
  <div class="content-wrapper">
    <a class="tcClose hubspot">X</a>
    <div class="tcInner fullwidth o2">
      {% video_player "embed_player" player_id="{{ dynamic_page_hubdb_row.slide_video }}" %}
    </div>
  </div>
</div>
{% endif %}
  

{% elif dynamic_listing %}
  
  {% set types = hubdb_table_column(dynamic_listing, "types").options %}  
  {% set inventory_type = hubdb_table_column(dynamic_listing, "inventory_type").options %}
  {% set category = hubdb_table_column(dynamic_listing, "category").options %}  
  {% set manufacturer = hubdb_table_column(dynamic_listing, "manufacturer").options %} 
  {% set model = hubdb_table_column(dynamic_listing, "model").options %}
  {% set condition = hubdb_table_column(dynamic_listing, "condition").options %}
  {% set location = hubdb_table_column(dynamic_listing, "location").options %} 
  {% set year = hubdb_table_column(dynamic_listing, "year").options %} 
  {% if module.hide_filter_and_listing_show_no_available_message_ %}
    <div class="fullwidth products-listing sec-space sec-bg-color">
  <div class="content-wrapper">
  <div class="product-left">  
    <div class="product-filter">
      <div class="title-color text-yellow">
        <h3><span>Filters</span></h3>
      </div>  
      <div class="filters">
        <!--  Types -->
        
        <div class="ui-group">
          <span>Type</span>
          <ul class="button-group js-radio-button-group" data-filter-group="type">
            <li><a class="is-checked is-first" data-filter="">All</a></li> 
            {% for row in hubdb_table_rows(dynamic_listing) %}
              {% for row in row.types %} 
                <li class="filter-con"><a data-filter=".{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">{{ row.name }}</a></li> 
              {% endfor %}
            {% endfor %}
          </ul>  
        </div>

       <!-- Inventory Type -->
      {#  <div class="ui-group">
          <span>Inventory Type</span>
          <ul class="button-group js-radio-button-group" data-filter-group="inventory">
            <li><a class="is-checked is-first" data-filter="">All</a></li> 
            {% for row in hubdb_table_rows(dynamic_listing) %}        
            {% for row in row.inventory_type %}
              <li class="filter-con"><a data-filter=".{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">{{ row.name }}</a></li> 
            {% endfor %}
            {% endfor %}
          </ul>  
        </div> #}

        <!-- Category -->
        <div class="ui-group">
          <span>Category</span>
          <ul class="button-group js-radio-button-group" data-filter-group="category">
            <li><a class="is-checked is-first" data-filter="">All</a></li> 
            {% for row in hubdb_table_rows(dynamic_listing) %} 
            {% for row in row.category %}
              <li class="filter-con {{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}"><a data-filter=".{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">{{ row.name }}</a></li> 
            {% endfor %}
            {% endfor %}     
          </ul>  
        </div>

         <!-- Manufacturer -->
        <div class="ui-group">
          <span>Manufacturer</span>
          <ul class="button-group js-radio-button-group" data-filter-group="manufacturer">
            <li><a class="is-checked is-first" data-filter="">All</a></li> 
            {% for row in hubdb_table_rows(dynamic_listing) %} 
              {% for row in row.manufacturer %}
                <li class="filter-con"><a data-filter=".{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">{{ row.name }}</a></li> 
              {% endfor %}
            {% endfor %}
          </ul>   
        </div>

        <!-- Modal -->
        <div class="ui-group">
          <span>Model</span>
          <ul class="button-group js-radio-button-group" data-filter-group="model">
            <li><a class="is-checked is-first" data-filter="">All</a></li> 
            {% for row in hubdb_table_rows(dynamic_listing) %}
              {% for row in row.model %}
                <li class="filter-con"><a data-filter=".{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">{{ row.name }}</a></li> 
              {% endfor %}
            {% endfor %}
          </ul>  
        </div>

        <!-- Condition -->
        <div class="ui-group">
          <span>Condition</span>
          <ul class="button-group js-radio-button-group" data-filter-group="condition">
            <li><a class="is-checked is-first" data-filter="">All</a></li> 
            {% for row in hubdb_table_rows(dynamic_listing) %}
            {% for row in row.condition %}
              <li class="filter-con"><a data-filter=".{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">{{ row.name }}</a></li> 
            {% endfor %}
            {% endfor %}
          </ul>  
        </div>

        <!-- Location -->
        <div class="ui-group">
          <span>Location</span>
          <ul class="button-group js-radio-button-group" data-filter-group="location">
            <li><a class="is-checked is-first" data-filter="">All</a></li> 
            {% for row in hubdb_table_rows(dynamic_listing) %}
            {% for row in row.location %}
              <li class="filter-con"><a data-filter=".{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">{{ row.name }}</a></li> 
            {% endfor %}
            {% endfor %}
          </ul>  
        </div>

        <!-- Year -->
        <div class="ui-group">
          <span>Year</span>
          <ul class="button-group js-radio-button-group" data-filter-group="year">
              <li><a class="is-checked is-first" data-filter="">All</a></li> 
            {% for row in hubdb_table_rows(dynamic_listing,"&orderBy=-year") %}  
            {% for row in row.year %}
              <li class="filter-con"><a data-filter=".{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">{{ row.name }}</a></li> 
            {% endfor %}
            {% endfor %}
          </ul>  
        </div>       
 <p><button class="button button--reset">Reset</button></p>
      </div> 
    </div>
   {% if module.boolean_field %}
    <div class="ess-ltd-block">
      <div class="title-color text-yellow">
        <h3><span>{{ module.title }}</span></h3>
      </div>
      <div class="text-color">
      {{ module.description }}
      </div>  
    </div> 
    {% endif %}
  </div>   
  <div class="product-list-right">
   {# <div class="breadcrumb-menu fullwidth">
     <ul>
        <li><strong>Products <span class="line-divider">/</span> </strong></li>
        <li><strong>Aftermarket</strong></li>
      </ul> 
     
      {% menu "breadcrumb" id=module.menu_field, site_map_name='Breadcrumb Menu ESS - 2022', overrideable=False, root_type='breadcrumb', flyouts='false', max_levels='8', flow='horizontal', label='Breadcrumb Menu ESS - 2022' %} 
      
    </div>  #}
    <div class="product-list-layout fullwidth grid O1" id="products">      

{% set query = "limit=" ~ batch_num ~ "&offset=" ~ offset_num %}
        {% for row in hubdb_table_rows(dynamic_listing, query) %}
       {% if row.display_on_site.name == "TRUE" %}
          <div class="product-block item {% for item in row.category %} {{ item.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {% endfor %} {% for item in row.types %} {{ item.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {% endfor %} {{ row.inventory_type.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.manufacturer.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.model.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.condition.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.model.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.location.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.year.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">
            <a href="{{ request.path }}/{{ row.hs_path }}" class="pro-link-wrap"></a>
            <div class="product-featured" style="background: url({{ row.product_image.url }}) no-repeat center; background-size: contain; ">
            </div>
            <div class="title-color">
              <h3>{{ row.product_title }}</h3>
            </div>
            {% if row.sub_text %}
            <div class="product-stext">
              {{ row.sub_text }}
            </div>      
            {% endif %}
            {% if row.price %}
            <div class="title-color text-yellow">
              <h3><span>{{ row.price }}</span></h3>
            </div> 
             {% endif %}
             {% if row.hours %}
            <div class="title-color text-yellow">
              <h3>Hours - <span>{{ row.hours }}</span></h3>
            </div>
             {% endif %}
            <div class="text-color spec">
              {{ row.location.name }}
            </div>  
          </div>
      {% endif %}
        {% endfor %}        
     </div>
     <div class="noResult">{{ module.no_result_text }}</div>
      <div class="fullwidth loadmore-listing"><a class="button" id="load-more"> Load More</a></div> 
     
  </div>    
</div>
   {% else %}
   <div class="no-available-mess fullwidth sec-space sec-bg-color text-center">{{ module.no_result_text }}</div>  
  {% endif %}   



{% require_js %}
<script src="{{ get_asset_url('/Selix - Theme 2022/js/pagination.js') }}"></script>
<script src="{{ get_asset_url('/Selix - Theme 2022/js/isotope.js') }}"></script>
 
<script>
  $(document).ready(function(){
    
    if ($('.ui-group ul li').hasClass("filter-con")) {
      $('li.filter-con').parents('.ui-group').addClass('add-sec');
    }
    
    
     var seen = {};
     $('.ui-group ul li.filter-con a').each(function() {
      var txt = $(this).text();
      if (seen[txt])
          $(this).parent().remove();
      else
          seen[txt] = true;
     });
    
     if($('.grid').length > 0){ 
      
  //   let companyList = $('.grid .product-block'); 
     
 // init Isotope
    
    var $grid = $('.grid').isotope({
      layoutMode: 'fitRows',
      itemSelector: '.product-block',
      
    });
    
    // store filter for each group
    var filters = {};

    $('.filters').on( 'click', 'a', function( event ) {
      var $button = $( event.currentTarget );
      
      // get group key
      var $buttonGroup = $button.parents('.button-group');
      var filterGroup = $buttonGroup.attr('data-filter-group');
       
      // set filter for group
      filters[ filterGroup ] = $button.attr('data-filter');
      
      // combine filters
      var filterValue = concatValues( filters );
       
      // set filter for Isotope
      $grid.isotope({ filter: filterValue });

      
    });
       
         var $anyButtons = $('.filters').find('a[data-filter=""]');
        var $buttons = $('.filters a');
       
        $('.button--reset').on( 'click', function() {
    // reset filters
    filters = {};
    $grid.isotope({ filter: '*' });
    // reset buttons
    $buttons.removeClass('is-checked');
    $anyButtons.addClass('is-checked');
    $.removeCookie('type', { path: '/' });      
  });
       
       

    // change is-checked class on buttons
    $('.button-group').each( function( i, buttonGroup ) {
      var $buttonGroup = $( buttonGroup );
      $buttonGroup.on( 'click', 'a', function( event ) {
        $buttonGroup.find('.is-checked').removeClass('is-checked');
        var $button = $( event.currentTarget );
        $button.addClass('is-checked');
           
      });
       
    });

    // flatten object by concatting values
    function concatValues( obj ) {
      var value = '';
      for ( var prop in obj ) {
        value += obj[ prop ];
      }
      return value;
    }
//      
 //****************************
  // Isotope Load more button
  //****************************
  var initShow = 12; //number of items loaded on init & onclick load more button
  var counter = initShow; //counter for load more button
  var iso = $grid.data('isotope'); // get Isotope instance

  loadMore(initShow); //execute function onload

  function loadMore(toShow) {
    $grid.find(".hidden").removeClass("hidden");

    var hiddenElems = iso.filteredItems.slice(toShow, iso.filteredItems.length).map(function(item) {
      return item.element;
    });
    $(hiddenElems).addClass('hidden');
    $grid.isotope('layout');

    //when no more to load, hide show more button
    if (hiddenElems.length == 0) {
      jQuery("#load-more").hide();
    } else {
      jQuery("#load-more").show();
    };

  }

  //append load more button
  

  //when load more button clicked
  $("#load-more").click(function() {
    if ($('.filters').data('clicked')) {
      //when filter button clicked, set initial value for counter
      counter = initShow;
      $('.filters').data('clicked', false);
    } else {
      counter = counter;
    };

    counter = counter + initShow;

    loadMore(counter);
  });
       
       
       
       
  //when filter button clicked
  $(".filters").click(function() {
    $(this).data('clicked', true);
    loadMore(initShow);
    if ( !$grid.data('isotope').filteredItems.length ) {
     $('.noResult').show();
      } else {
        $('.noResult').hide();
     }
    
    
  });
    
  }
  });
</script>  

<script>
    
        var itemSelector = ".item"; 
        var $checkboxes = $('.filter-item');
        var $container = $('#products').isotope({ itemSelector: itemSelector });
    
        //Ascending order
        var responsiveIsotope = [ [480, 4] , [720, 6] ];
        var itemsPerPageDefault = 6;
        var itemsPerPage = defineItemsPerPage();
        var currentNumberPages = 1;
        var currentPage = 1;
        var currentFilter = '*';
        var filterAttribute = 'data-filter';
        var filterValue = "";
        var pageAttribute = 'data-page';
        var pagerClass = 'isotope-pager';
    
        // update items based on current filters    
        function changeFilter(selector) { $container.isotope({ filter: selector }); }
    
        //grab all checked filters and goto page on fresh isotope output
        function goToPage(n) {
            currentPage = n;
            var selector = itemSelector;
            var exclusives = [];
                // for each box checked, add its value and push to array
                $checkboxes.each(function (i, elem) {
                    if (elem.checked) {
                        selector += ( currentFilter != '*' ) ? '.'+elem.value : '';
                        exclusives.push(selector);
                    }
                });
                // smash all values back together for 'and' filtering
                filterValue = exclusives.length ? exclusives.join('') : '*';
                
                // add page number to the string of filters
                var wordPage = currentPage.toString();
                filterValue += ('.'+wordPage);
           
            changeFilter(filterValue);
        }
    
        // determine page breaks based on window width and preset values
        function defineItemsPerPage() {
            var pages = itemsPerPageDefault;
    
            for( var i = 0; i < responsiveIsotope.length; i++ ) {
                if( $(window).width() <= responsiveIsotope[i][0] ) {
                    pages = responsiveIsotope[i][1];
                    break;
                }
            }
            return pages;
        }
        
//         function setPagination() {
    
//             var SettingsPagesOnItems = function(){
//                 var itemsLength = $container.children(itemSelector).length;
//                 var pages = Math.ceil(itemsLength / itemsPerPage);
//                 var item = 1;
//                 var page = 1;
//                 var selector = itemSelector;
//                 var exclusives = [];
//                     // for each box checked, add its value and push to array
//                     $checkboxes.each(function (i, elem) {
//                         if (elem.checked) {
//                             selector += ( currentFilter != '*' ) ? '.'+elem.value : '';
//                             exclusives.push(selector);
//                         }
//                     });
//                     // smash all values back together for 'and' filtering
//                     filterValue = exclusives.length ? exclusives.join('') : '*';
//                     // find each child element with current filter values
//                     $container.children(filterValue).each(function(){
//                         // increment page if a new one is needed
//                         if( item > itemsPerPage ) {
//                             page++;
//                             item = 1;
//                         }
//                         // add page number to element as a class
//                         wordPage = page.toString();
                        
//                         var classes = $(this).attr('class').split(' ');
//                         var lastClass = classes[classes.length-1];
//                         // last class shorter than 4 will be a page number, if so, grab and replace
//                         if(lastClass.length < 4){
//                             $(this).removeClass();
//                             classes.pop();
//                             classes.push(wordPage);
//                             classes = classes.join(' ');
//                             $(this).addClass(classes);
//                         } else {
//                             // if there was no page number, add it
//                            $(this).addClass(wordPage); 
//                         }
//                         item++;
//                     });
//                 currentNumberPages = page;
//             }();
    
//             // create page number navigation
//             var CreatePagers = function() {
    
//                 var $isotopePager = ( $('.'+pagerClass).length == 0 ) ? $('<div class="'+pagerClass+'"></div>') : $('.'+pagerClass);
    
//                 $isotopePager.html('');
//                 if(currentNumberPages > 1){
//                   var active="";
//                   for( var i = 0; i < currentNumberPages; i++ ) {
//                     active = (i==0) ? "active": "";
//                       var $pager = $('<a href="javascript:void(0);" class="pager '+active+'" '+pageAttribute+'="'+(i+1)+'"></a>');
//                           $pager.html(i+1);

//                           $pager.click(function(){
//                               var page = $(this).eq(0).attr(pageAttribute);
//                               goToPage(page);
//                           });
//                       $pager.appendTo($isotopePager);
//                   }
//                 }
//                 $container.after($isotopePager);
//             }();
//         }
        // remove checks from all boxes and refilter
        function clearAll(){
            $checkboxes.each(function (i, elem) {
                if (elem.checked) {
                    elem.checked = null;
                }
            });
           currentFilter = '*';
           setPagination();
           goToPage(1);
        }
    
        setPagination();
        goToPage(1);
    
        //event handlers
        $checkboxes.change(function(){
            var filter = $(this).attr(filterAttribute);
            currentFilter = filter;
            setPagination();
            goToPage(1);
        });
        
        $('#clear-filters').click(function(){clearAll()});
    
        $(window).resize(function(){
            itemsPerPage = defineItemsPerPage();
            setPagination();
            goToPage(1);
        });         
  
  
  // filter items on button click
$('.isotope-pager a').click(function() {
  $('.isotope-pager a').removeClass('active');
  $(this).addClass('active');

});
  
</script>


{% end_require_js %}
 
{% endif %} 

{% if dynamic_page_route_level == 1 %}

    <div class="feature-section fullwidth">  
      <div class="content-wrapper">
        <div class="title-color text-center">
          <h2>{{ module.similar_product_title }}</h2>
        </div>
        <div class="feature-outer slick-arrow-dark">
                    {% set selectedType = [] %}
                    {% for type in dynamic_page_hubdb_row.types %}
                    {% if loop.first %}
                    {% do selectedType.append(type.name|urlencode) %}
                    {% endif %}
                    {% endfor %}
                    {% set query = "&orderBy=-date_published" ~ selectedType[0] %}
                    {% set relatedJobs = hubdb_table_rows(dynamic_page_hubdb_table_id, query) %}
                    {% for row in relatedJobs %}
          
                {% if dynamic_page_hubdb_row.hs_id != row.hs_id %}
            {% if row.display_on_site.name == "TRUE" %}
                <div class="product-block {{ row.types.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.inventory_type.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.manufacturer.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.model.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.condition.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.model.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.location.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.year.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">
                  <a href="{{ row.hs_path }}" class="pro-link-wrap"></a>
                  <div class="product-featured" style="background: url({{ row.product_image.url }}) no-repeat center top/contain;">
                  </div>
                  <div class="title-color">
                    <h3>{{ row.product_title }}</h3>
                  </div>
                  <div class="title-color text-yellow">
                    <h3><span>{{ row.price }}</span></h3>
                  </div> 
                  <div class="text-color">
                    {{ row.location.name }}
                  </div>  
                </div>
           {% endif %}
                {% endif %}
                {% endfor %}
        </div>  
      </div>  
    </div>  
   
{% endif %}

{% require_css %}
<style>
  
  
  {% if module.show_background_contain %}
	  #hs_cos_wrapper_{{ name }} .product-featured { background-size: contain !important; background-position: center !important; }
  {% endif %}
  
  
  {% if module.style.section_background.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: {{ module.style.section_background.css }}; }
  {% endif %}
  
  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .ui-group ul li a, #hs_cos_wrapper_{{ name }} .ui-group > span, #hs_cos_wrapper_{{ name }} .ess-ltd-block .text-color { color: rgba({{ module.style.color_settings.filters_text_color.color|convert_rgb }}, {{ module.style.color_settings.filters_text_color.opacity ~ '%' }}); }
  
   
  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}
  
  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
  
 /***  Responsive Media Query ***/
 @media(max-width: 991px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }
  
  @media(max-width: 767px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  
</style>  
{% end_require_css %}