<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

{% if module.style.section_show_hide_ %}
<header id="sticky-header" class="fullwidth site-header">
  <a href="#main-content" class="header__skip">Skip to content</a>
  <div class="header-top" id="stickyBG">
    <div class="content-wrapper">
      <div class="page-wrap align-center">
        <div class="header-logo page-wrap align-center">
          {% set href = module.logo_link.url.href %}
          {% if module.logo_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          <a href="{{ href }}"
             {% if module.logo_link.open_in_new_tab %}target="_blank"{% endif %}
             {% if module.logo_link.rel %}rel="{{ module.logo_link.rel }}"{% endif %}
             >
            {% if module.logo_image.src %}
            {% set sizeAttrs = 'width="{{ module.logo_image.width }}" height="{{ module.logo_image.height }}"' %}
            {% if module.logo_image.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ module.logo_image.width }}" height="{{ module.logo_image.height }}" style="max-width: 100%; height: auto;"' %}
            {% elif module.logo_image.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.logo_image.max_width }}" height="{{ module.logo_image.max_height }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
            {% set loadingAttr = module.logo_image.loading != 'disabled' ? 'loading="{{ module.logo_image.loading }}"' : '' %}
            <img src="{{ module.logo_image.src }}" alt="{{ module.logo_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
          </a>
          {% set href = module.logo_link_2.url.href %}
          {% if module.logo_link_2.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          {% if  module.logo_image_2.src %}
          <a href="{{ href }}"
             {% if module.logo_link_2.open_in_new_tab %}target="_blank"{% endif %}
             {% if module.logo_link_2.rel %}rel="{{ module.logo_link_2.rel }}"{% endif %}
             >
            {% if module.logo_image_2.src %}
            {% set sizeAttrs = 'width="{{ module.logo_image_2.width }}" height="{{ module.logo_image_2.height }}"' %}
            {% if module.logo_image_2.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ module.logo_image_2.width }}" height="{{ module.logo_image_2.height }}" style="max-width: 100%; height: auto;"' %}
            {% elif module.logo_image_2.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.logo_image_2.max_width }}" height="{{ module.logo_image_2.max_height }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
            {% set loadingAttr = module.logo_image_2.loading != 'disabled' ? 'loading="{{ module.logo_image_2.loading }}"' : '' %}
            <img src="{{ module.logo_image_2.src }}" alt="{{ module.logo_image_2.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
          </a>
          {% endif %}
       {#   <div class="tag-line-container">
            <p class="tag-line">
         {{ module.tag_line_ }}
          </p>
          </div> #}
          
        </div>  
        <div class="header-top-links text-upper">
          <div class="header-top-inner">
            <ul>
              {% for item in module.top_menu_items %}
              <li>
                {% set href = item.menu_link.url.href %}
                {% if item.menu_link.url.type is equalto "EMAIL_ADDRESS" %}
                {% set href = "mailto:" + href %}
                {% endif %}
                <a href="{{ href }}"
                   {% if item.menu_link.open_in_new_tab %}target="_blank"{% endif %}
                   {% if item.menu_link.rel %}rel="{{ item.menu_link.rel }}"{% endif %}
                   >
                  {% icon
                          name="{{ item.menu_icon.name }}"
                          style="{{ item.menu_icon.type }}"
                          unicode="{{ item.menu_icon.unicode }}"
                          icon_set="{{ item.menu_icon.icon_set }}"
                        %}
                  {{ item.menu_text }}
                </a>
              </li>
              {% endfor %}
               
            </ul>

          </div>
          <div id="google_translate_element"  class="header-swicther"></div>
          {#
          <div class="header-swicther">
            {% set href = module.xa_icon_link.url.href %}
            {% if module.xa_icon_link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
            {% endif %}
            <a href="{{ href }}"
               {% if module.xa_icon_link.open_in_new_tab %}target="_blank"{% endif %}
               {% if module.xa_icon_link.rel %}rel="{{ module.xa_icon_link.rel }}"{% endif %}
               >
              <img src="https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/xa-icon.png"> 
            </a>
          </div>  
          #}
        </div>  
      </div> 
    </div>  
  </div>
  <div class="header-menu-section sec-bg-color">
    <div class="content-wrapper">
      <div class="page-wrap align-center">
        <div class="header-menu">
          <div class="menu-trigger text-upper">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Menu
          </div>
          <div class="menu-popup menu-active-not text-upper">
            <span id="hs_cos_wrapper_module_16697887338649_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="menu"><div id="hs_menu_wrapper_module_16697887338649_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="default" data-menu-id="94595160942" aria-label="Navigation Menu">
 <ul role="menu">
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="javascript:;" aria-haspopup="true" aria-expanded="false" role="menuitem">Products Lines</a> 
   <ul role="menu" class="hs-menu-children-wrapper" style="overflow: hidden; display: none;">
     {% for row in hubdb_table_rows(module.header_table) %}
   {% if request.cookies.name == row.province.name %}
   {% for item in row.product_lines %}
    <li class="hs-menu-item hs-menu-depth-2 {{ row.province.name }}" role="none"><a href="{{ item.link }}" role="menuitem">{{ item.name }}</a></li>
       {% endfor %}
     {% elif not request.cookies.name  %}
     {% if row.province.name == "international" %}
   {% for item in row.product_lines %}
    <li class="hs-menu-item hs-menu-depth-2 {{ row.province.name }}" role="none"><a href="{{ item.link }}" role="menuitem">{{ item.name }}</a></li>
       {% endfor %} 
  {% endif %}
  {% endif %}
     {% endfor %}
    
   </ul></li>
   
  
   
  <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="{{ module.menu_item.used_equipment.link_field.url.href }}" role="menuitem">{{ module.menu_item.used_equipment.text }}</a></li>
  <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="{{ module.menu_item.parts_and_serive.link_field.url.href }}" role="menuitem">{{ module.menu_item.parts_and_serive.text }}</a></li>
  <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="{{ module.menu_item.financing.link_field.url.href }}" role="menuitem">{{ module.menu_item.financing.text }}</a></li>
  <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="{{ module.menu_item.about.link_field.url.href }}" role="menuitem">{{ module.menu_item.about.text }}</a></li>
  <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="{{ module.menu_item.career.link_field.url.href }}" role="menuitem">{{ module.menu_item.career.text }}</a></li>
  <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="{{ module.menu_item.contact.link_field.url.href }}" role="menuitem">{{ module.menu_item.contact.text }}</a></li>
  <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="{{ module.menu_item.browse_ess.link_field.url.href }}" role="menuitem">{{ module.menu_item.browse_ess.text }}</a></li>
 </ul>
</div></span>
          </div>  
        </div>
        <div class="header-search">
          <div class="search-btn"><img src="https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/search%20icon.png"></div>   
          <div class="hs-search-field"> 
            <div class="hs-search-field__bar"> 
              <form action="/{{ site_settings.content_search_results_page_path }}">
                {% if module.field_label %}
                <label for="term">{{ module.field_label }}</label>
                {% endif %}
                <input type="text" class="hs-search-field__input" name="term" autocomplete="off" aria-label="{{ module.field_label || "Search" }}" placeholder="{{ module.placeholder }}">

                {% if module.content_types.website_pages %}
                <input type="hidden" name="type" value="SITE_PAGE">
                {% endif %}
                {% if module.content_types.landing_pages %}
                <input type="hidden" name="type" value="LANDING_PAGE">
                {% endif %}
                {% if module.content_types.blog_posts %}
                <input type="hidden" name="type" value="BLOG_POST">
                <input type="hidden" name="type" value="LISTING_PAGE">
                {% endif %}
                {% if module.content_types.knowledge_articles %}
                <input type="hidden" name="type" value="KNOWLEDGE_ARTICLE">
                {% endif %}

                {% if module.include_search_button %}
                <button aria-label="Search"><img src="https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/search%20icon.png"></button>
                {% endif %}
              </form>
            </div>
            <ul class="hs-search-field__suggestions"></ul>
          </div>
        </div>  
      </div>  

    </div>  
  </div>  
</header>  
{% endif %}

{% require_css %}
<style>
  {% if module.style.section_background.gradient_color_1.color or module.style.section_background.gradient_color_2.color or module.style.section_background.gradient_color_3.color %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: linear-gradient(180deg, {{ module.style.section_background.gradient_color_1.color }} 0%, {{ module.style.section_background.gradient_color_2.color }} 16%, {{ module.style.section_background.gradient_color_3.color }} 100%); }
  {% endif %}

  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}

  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}

  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }

  /***  Responsive Media Query ***/
  @media(max-width: 991px){

  }

  @media(max-width: 767px){

  }

</style>  
{% end_require_css %}

{% require_js %}
<script>
$('.hs-search-field__bar button img').on('click', function(e) {
  e.preventDefault();
    $('.hs-search-field__bar form input').toggleClass('show');
});
  
  
  
 function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: 'en',
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
        multilanguagePage: false
      }, 'google_translate_element');
    } 
  
  
</script>  
{% end_require_js %}