.tag-line {
margin: 1rem -2rem 0rem;
}

.hs-search-field {
  position: relative;
}
.hs-search-field__input {
  box-sizing: border-box;
  width: 100%;
}
.hs-search-field__bar button svg {
  height: 10px;
}
.hs-search-field__suggestions {
  margin: 0;
  padding: 0;
  list-style: none;
}
.hs-search-field--open .hs-search-field__suggestions {
  border: 1px solid #000;
}
.hs-search-field__suggestions li {
  display: block;
  margin: 0;
  padding: 0;
}
.hs-search-field__suggestions #results-for {
  font-weight: bold;
}
.hs-search-field__suggestions a,
.hs-search-field__suggestions #results-for {
  display: block;
}
.hs-search-field__suggestions a:hover,
.hs-search-field__suggestions a:focus {
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
}
.hs-search-field__bar form input {width:0; -webkit-transition: all .25s linear; padding:0 !important; border:0 !important;	 transition: all .25s linear;}
.hs-search-field__bar form input.show {display:block; margin-right: 0; width:250px; padding:6px 10px !important; border: 1px solid #fff !important;}

body.menu-show .site-header.sticky{
overflow-y:scroll;
height:100%;
}

/*  sticky header*/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.stickybg{
background:#fff;
}
body.menu-show .site-header.sticky::-webkit-scrollbar {
    display: none;
}

@media (max-width: 370px){
.tag-line {
    font-size: 11px;
}
}
 @media(max-width:540px) { 
   .tag-line {
       margin: 6px 0 0 -1px !important;
}

}
 @media(max-width:767px) { 
 #google_translate_element{display:none;}
 .tag-line {
  margin: 24px 0px 0px;
}
    .page-wrap{
  display:-webkit-box !important;
      display:flex!important;
      max-width:767px!important;
}
}

 @media(max-width:1220px) { 
 .tag-line {
  margin: 0px 0px 0px;
}
   
   .header-logo{
   margin-bottom:0!important;
   }
}
.goog-te-gadget-simple {padding-left: 1px!important;padding-right:1px!important; border-radius:50px;}
.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed span{font-size:16px;} 

@media (max-width: 990px){
.header-top .content-wrapper{
    max-width: 900px !important;  
  }
}


@media (max-width: 1220px){
.header-top .content-wrapper{
    max-width: 1170px !important;  
  }
}


@media (max-width: 882px){
#google_translate_element{
       margin-top: 1rem;
    position: relative;
    right: 2rem;
  }
}