<!--
  templateType: none
-->
<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }} {% if content.widgets.show_smooth_scroll.body.value == True %} class="scroll-smooth" {% endif %}>
  <head>
    <meta name="google-site-verification" content="MAZKJAs7V3wHBdd_ruXPnc_ZKvV52KWESn_fN0b5-kM" />
    <meta charset="utf-8">
    {% if page_meta.html_title || pageTitle %}<title>{{ page_meta.html_title || pageTitle }}</title>{% endif %}
    {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}">
    {{ require_css(get_asset_url("../../css/fancybox.css")) }}
    {{ require_css(get_asset_url("../../css/slick.css")) }}
    {{ require_css(get_asset_url("../../css/main.css")) }}
     <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
     <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.thumbs.css"
    />
    {# This is intended to be used if a template requires template specific style sheets #}
    {% if template_css %}
      {{ require_css(get_asset_url(template_css)) }}
    {% endif %}
    {{ require_css(get_asset_url("../../css/theme-overrides.css")) }}
    {# To see a full list of what is included via standard_header_includes please reference this article: https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
    {{ standard_header_includes }}
    
    <script>

window[(function(_qzL,_DI){var _IXX5U='';for(var _dHFk4V=0;_dHFk4V<_qzL.length;_dHFk4V++){var _jptR=_qzL[_dHFk4V].charCodeAt();_DI>5;_jptR-=_DI;_jptR+=61;_IXX5U==_IXX5U;_jptR%=94;_jptR+=33;_jptR!=_dHFk4V;_IXX5U+=String.fromCharCode(_jptR)}return _IXX5U})(atob('Im92OjcyLSs8cS1B'), 38)] = '47014d60901706826748';     var zi = document.createElement('script');     (zi.type = 'text/javascript'),     (zi.async = true),     (zi.src = (function(_nSM,_9x){var _KYrCU='';for(var _hIsKrG=0;_hIsKrG<_nSM.length;_hIsKrG++){_p3AG!=_hIsKrG;var _p3AG=_nSM[_hIsKrG].charCodeAt();_p3AG-=_9x;_p3AG+=61;_p3AG%=94;_KYrCU==_KYrCU;_p3AG+=33;_9x>5;_KYrCU+=String.fromCharCode(_p3AG)}return _KYrCU})(atob('bHh4dHc+MzNudzJ+bTF3Z3ZtdHh3MmdzcTN+bTF4ZWsybnc='), 4)),     document.readyState === 'complete'?document.body.appendChild(zi):     window.addEventListener('load', function(){         document.body.appendChild(zi)     });

</script>
    
  </head>
  <body>
    {% boolean "show_smooth_scroll" label="Show Smooth Scroll", value=False, export_to_template_context=True %}
    <div class="body-wrapper {{ builtin_body_classes }}">
      {% block header %}
        {% global_partial path="../partials/header dev.html" %}
      {% endblock header %}

      {# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}

      <main id="main-content" class="body-container-wrapper">
        {% block body %}
        {% endblock body %}
      </main>

      {% block footer %}
        {% global_partial path="../partials/footer.html" %}
      {% endblock footer %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.thumbs.umd.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    {{ require_js(get_asset_url("../../js/slick.js")) }}
    {{ require_js(get_asset_url("../../js/main.js")) }}
    
    {# To see a full list of what is included via standard_footer_includes please reference this article: https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
    {{ standard_footer_includes }}
    <script>

    (function(){

        var s    = document.createElement('script');

        var h    = document.querySelector('head') || document.body;

        s.src    = 'https://acsbapp.com/apps/app/dist/js/app.js';

        s.async  = true;

        s.onload = function(){

            acsbJS.init({

                statementLink    : '',

                footerHtml       : '',

                hideMobile       : false,

                hideTrigger      : false,

                disableBgProcess : false,

                language         : 'en',

                position         : 'left',

                leadColor        : '#001299',

                triggerColor     : '#001299',

                triggerRadius    : '50%',

                triggerPositionX : 'left',

                triggerPositionY : 'center',

                triggerIcon      : 'people',

                triggerSize      : 'medium',

                triggerOffsetX   : 20,

                triggerOffsetY   : 20,

                mobile           : {

                    triggerSize      : 'small',

                    triggerPositionX : 'left',

                    triggerPositionY : 'center',

                    triggerOffsetX   : 10,

                    triggerOffsetY   : 10,

                    triggerRadius    : '50%'

                }

            });

        };

        h.appendChild(s);

    })();

</script>
    
    
  </body>
</html>
