{% if module.style.section_show_hide_ %}
<div class="fullwidth ts-section sec-space sec-bg-image ov-color">
  <div class="content-wrapper">
    <div class="ts-img">
      {% if module.background_image.src %}
      {% set sizeAttrs = 'width="{{ module.background_image.width }}" height="{{ module.background_image.height }}"' %}
      {% if module.background_image.size_type == 'auto' %}
      {% set sizeAttrs = 'width="{{ module.background_image.width }}" height="{{ module.background_image.height }}" style="max-width: 100%; height: auto;"' %}
      {% elif module.background_image.size_type == 'auto_custom_max' %}
      {% set sizeAttrs = 'width="{{ module.background_image.max_width }}" height="{{ module.background_image.max_height }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
      {% set loadingAttr = module.background_image.loading != 'disabled' ? 'loading="{{ module.background_image.loading }}"' : '' %}
      <img src="{{ module.background_image.src }}" alt="{{ module.background_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
      {% endif %}
    </div>
    <div class="ts-right">
      <div class="title-color text-yellow text-center">
        <h2>{{ module.title }}</h2>
      </div>
      <div class="ts-slider">
        <div class="ts-slide-bg">
          {% for item in module.slides %}
            <div class="ts-slide">
              <div class="text-color">
                {{ item.content }}
              </div>
              <div class="text-yellow">
                <span>{{ item.person_name }}</span>
              </div> 
            </div>
          {% endfor %}
        </div>  
      </div>  
    </div>  
    
  </div>  
</div>  
{% endif %}

{% require_css %}
<style>
  
  {% if module.style.section_background.background_image.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-image { {{ module.style.section_background.background_image.css }} }
  #hs_cos_wrapper_{{ name }} .ov-color:before { background: linear-gradient(268deg, {{ module.style.section_background.overlay_color.color }}  0%, rgba({{ module.style.section_background.overlay_color.color|convert_rgb }}, 65%) 51%, rgba({{ module.style.section_background.overlay_color.color|convert_rgb }}, 0%) 100%); }
  {% endif %}
  
  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}
  
  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}
  
  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .ts-slide .text-yellow > span { color: rgba({{ module.style.color_settings.name_text_color.color|convert_rgb }}, {{ module.style.color_settings.name_text_color.opacity ~ '%' }}); }
  
  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
  
  
  
  
 /***  Responsive Media Query ***/
 @media(max-width: 991px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }
  
  @media(max-width: 767px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  
</style>  
{% end_require_css %}