.icon-wrapper svg,
.icon-wrapper img {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.icon_text-section,
.icon-text_title-section,
.icon_container,
.icon_section,
.icon-wrapper {
    display: flex;
}

.icon_text-section {
    justify-content: space-between;
}

.icon-text_title-section {
    width: 50%;
}

.icon_section {
    width: 40%;
}

.title_wrapper h2 {
    margin: 0;
    text-wrap: balance;
}

.icon-text_title-section {
    justify-content: center;
}

.icon_container {
    gap: 20px;
    align-items: flex-start;
}

.icon_section,
.icon-text_title-section {
    gap: 15px;
    flex-direction: column;

}

.icon_des {
    font-size: 16px;
}
.icon-text_title-section .btn-yellow{
    margin-top: 10px;
}

.icon-wrapper {
    max-width: 70px;
    max-height: 60px;
    justify-content: center;
}

.icon-text span {
    font-weight: 900;
    font-size: 22px;
}




@media(max-width: 991px) {
    .icon_text-section {
        flex-direction: column !important;
        row-gap: 40px;
    }

    .icon-text_title-section,
    .icon_section {
        width: 100%;
    }
}