{% if module.styles.section_show_hide_ %}
<div class="fullwidth sec-space">
    <div class="content-wrapper">
        <div class="icon_text-section">
            <div class="icon-text_title-section">
                <div class="title_wrapper">
                    <h2>
                        {{ module.title }}
                    </h2>
                </div>
                <div class="it_des-container">
                    {{ module.description }}
                </div>
                {% if module.button.button_text %}
                <div class="btn-yellow btn-color">
                    {% set href = module.button.button_link.url.href %}
                    {% if module.button.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                    {% endif %}
                    <a href="{{ href }}" {% if module.button.button_link.open_in_new_tab %}target="_blank" {% endif %}
                        {% if module.button.button_link.rel %}rel="{{ module.button.button_link.rel }}" {% endif %}>
                        {{ module.button.button_text }}
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="icon_section">
                {% for item in module.icon_section %}
                <div class="icon_container">
                    <div class="icon-wrapper">
                        {% if item.icon_choice == "hubspot" %}
                        {% icon
                            name="{{ item.hs_icon.name }}"
                            style="{{ item.hs_icon.type }}"
                            unicode="{{ item.hs_icon.unicode }}"
                            icon_set="{{ item.hs_icon.icon_set }}"
                        %}

                        {% endif %}
                        {% if item.icon_choice == "normal" %}
                        {% if item.normal_icon.src %}
                        {% set sizeAttrs = 'width="{{ item.normal_icon.width }}" height="{{ item.normal_icon.height }}"' %}
                        {% if item.normal_icon.size_type == 'auto' %}
                        {% set sizeAttrs = 'width="{{ item.normal_icon.width }}" height="{{ item.normal_icon.height }}" style="max-width: 100%; height: auto;"' %}
                        {% elif item.normal_icon.size_type == 'auto_custom_max' %}
                        {% set sizeAttrs = 'width="{{ item.normal_icon.max_width }}" height="{{ item.normal_icon.max_height }}" style="max-width: 100%; height: auto;"' %}
                        {% endif %}
                        {% set loadingAttr = item.normal_icon.loading != 'disabled' ? 'loading="{{ item.normal_icon.loading }}"' : '' %}
                        <img src="{{ item.normal_icon.src }}" alt="{{ item.normal_icon.alt }}" {{ loadingAttr }}
                            {{ sizeAttrs }}>
                        {% endif %}

                        {% endif %}
                    </div>
                    <div class="icon-text">
                        <a href="{{ item.link_to_page.url.href }}">
                            <span>{{ item.icon_title }}</span>
                        </a>
                        <div class="icon_des">
                            {{ item.description }}
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endif %}


{% require_css %}
<style>
    {% scope_css %}
    .sec-space {
    {% if module.styles.background.background_type == "gradient" %}
       background: {{ module.styles.background.background_gradient.css }};
    {% elif module.styles.background.background_type == "color" %}
        background-color:rgb({{ module.styles.background.background_color.color |convert_rgb }}, {{ module.styles.background.background_color.opacity/100}});
    {% endif %}
    {{ module.styles.desktop_spacing.css }}
    
    }
    
    .icon_text-section{
       flex-direction:  {{ module.icon_direction }};
    }
    .icon-text_title-section .btn-yellow{
        {% if module.button_color_settings.button_default_state.button_background_color.color %}
        background-color: rgb({{module.button_color_settings.button_default_state.button_background_color.color |convert_rgb }},{{ module.button_color_settings.button_default_state.button_background_color.opacity/100}});
        {% endif %}
        {% if module.button_color_settings.button_default_state.button_text_color.color %}
        color: rgb({{module.button_color_settings.button_default_state.button_text_color.color | convert_rgb }},{{module.button_color_settings.button_default_state.button_text_color.opacity/100}});
        {% endif %}

    }

    .icon_container:hover .icon-wrapper svg{

        fill: rgb({{ module.styles.color_settings.icon_section_color_settings.icon_hover_color.color |convert_rgb }},{{ module.styles.color_settings.icon_section_color_settings.icon_hover_color.opacity/100 }});
    }

    .icon-text_title-section .btn-yellow:hover{
        {% if module.button_color_settings.button_hover_state.button_background_color.color %}
        background-color: rgb({{module.button_color_settings.button_hover_state.button_background_color.color | convert_rgb}},{{module.button_color_settings.button_hover_state.button_background_color.opacity/100}});
        {% endif %}
        {% if module.button_color_settings.button_hover_state.button_text_color.color %}
        color: rgb({{module.button_color_settings.button_hover_state.button_text_color.color | convert_rgb}},{{ module.button_color_settings.button_hover_state.button_text_color.opacity/100}});
        {% endif %}
    }

    .icon_des {
        {% if  module.styles.color_settings.icon_section_color_settings.content_color.color %}
        color:rgb({{ module.styles.color_settings.icon_section_color_settings.content_color.color |convert_rgb }},{{ module.styles.color_settings.icon_section_color_settings.content_color.opacity/100 }})
        {% endif %}
    }

    .icon-text a:hover {
        {% if module.styles.color_settings.icon_section_color_settings.title_hover_color.color %}
            color:rgb({{module.styles.color_settings.icon_section_color_settings.title_hover_color.color |convert_rgb}},{{ module.styles.color_settings.icon_section_color_settings.title_hover_color.opacity/100 }})
        {% endif %}
    }

    .it_des-container{
        {% if  module.styles.color_settings.title_color.color %}
        color:rgb({{ module.styles.color_settings.title_color.color |convert_rgb }},{{ module.styles.color_settings.title_color.opacity/100 }})
        {% endif %}
    }

    .icon-wrapper {
        {% if module.styles.color_settings.icon_section_color_settings.icon_bg_color.color %}
        background-color: rgb({{ module.styles.color_settings.icon_section_color_settings.icon_bg_color.color |convert_rgb }},{{ module.styles.color_settings.icon_section_color_settings.icon_bg_color.opacity/100 }});
        {% endif %}
    }

    .title_wrapper h2{
    {% if module.styles.color_settings.content_color.color %}
        color: rgb({{ module.styles.color_settings.content_color.color |convert_rgb }},{{ module.styles.color_settings.content_color.opacity /100 }})
    {% endif %}
    }

    .icon-text a {
        color: rgb({{module.styles.color_settings.icon_section_color_settings.title_color.color |convert_rgb }},{{ module.styles.color_settings.icon_section_color_settings.title_color.opacity/100}});
    }

    .icon-wrapper svg{
        fill:rgb({{ module.styles.color_settings.icon_section_color_settings.icon_color.color |convert_rgb }},{{ module.styles.color_settings.icon_section_color_settings.icon_color.opacity/100 }})
    }

    .icon-wrapper:hover svg {
        fill: rgb({{ module.styles.color_settings.icon_section_color_settings.icon_hover_color.color |convert_rgb }},{{ module.styles.color_settings.icon_section_color_settings.icon_hover_color.opacity/100 }});
    }

    @media(max-width: 991px){
   .sec-space { 
        {{ module.styles.tablet_spacing.css }}
    }
  }
  
  @media(max-width: 767px){
   .sec-space { 
    {{ module.styles.mobile_spacing.css }}
    }
  }
  

     {% end_scope_css %}
  </style>
{% end_require_css %}