<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: SELIX - 404 error
  
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "../layouts/base.html" %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Error 404 | Page not found" %}

{% block body %}
<div class="systemSec fullwidth">
  <div class="content-wrapper">
    <div class="error-page" data-error="404">
      {% module "content"
        path="@hubspot/rich_text",
        html="<h1>Page not found.</h1>"
      %}
      {% module "button"
        path="../../modules/button",
        button_text="Go Home"
        link={
          "url":
            {
              "type": "EXTERNAL",
              "href": "/"
            },
            "open_in_new_tab": false,
            "no_follow": false
        }
      %}
    </div>
  </div>
</div>

{% endblock body %}
