<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: SELIX - 500 error
  
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "../layouts/base.html" %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Error 500 | Server error" %}

{% block body %}
<div class="systemSec fullwidth">
  <div class="content-wrapper">
  <div class="error-page" data-error="500">
    {% module "content"
      path="@hubspot/rich_text",
      html="<h1>Something isn\'t quite right</h1><p>Sorry, an internal server error occurred. But have no fear, we\'re on the case!</p>"
    %}
  </div>
  </div>
</div>
{% endblock body %}
