<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  label: SELIX - password prompt
  
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "../layouts/base.html" %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "This page is private | Enter password" %}

{% block body %}
<div class="systemSec fullwidth">
  <div class="content-wrapper">
  <div class="systems-page">
    {% module "content"
      path="@hubspot/rich_text",
      html="<h1>Password Required</h1><p>Please enter the password required to view this page.</p>"
    %}
    {% module "password_prompt"
      extra_classes="password-prompt",
      path="@hubspot/password_prompt"
    %}
  </div>
</div>
</div>
{% endblock body %}
