<!--
  templateType: search_results_page
  isAvailableForNewContent: true
  label: SELIX - search results
  
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "../layouts/base.html" %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Search results" %}

{% block body %}
<div class="systemSec fullwidth">
  <div class="content-wrapper">
    <div class="systems-page systems-page--search-results fullwidth">
      {% module_block module "search_results_content"
        label="Search results heading",
        path="@hubspot/rich_text"
      %}
        {% module_attribute "html" %}
          <h1>Results for "{{ request.query_dict.term|escape }}"</h1>
        {% end_module_attribute %}
      {% end_module_block %}
      {% module "search_results"
        path="@hubspot/search_results"
      %}
    </div>
  </div>
</div>
{% endblock body %}
