<!--
  templateType: email_subscription_preferences_page
  isAvailableForNewContent: true
  label: Boilerplate - email subscription preferences
  screenshotPath: ../../images/template-previews/subscription-preferences.png
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "../layouts/base.html" %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Subscription preferences" %}

{% block body %}
<div class="systemSec fullwidth">
  <div class="content-wrapper">
  <div class="systems-page">
    {% module "subscription_preferences"
      path="@hubspot/email_subscriptions"
    %}
  </div>
</div>
</div>
{% endblock body %}
