<!--
  templateType: email_subscriptions_confirmation_page
  isAvailableForNewContent: true
  label: SELIX - email subscriptions confirmation
  
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "../layouts/base.html" %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Confirm subscriptions" %}

{% block body %}
<div class="systemSec fullwidth">
  <div class="content-wrapper">
    <div class="systems-page">
      {% module "subscriptions_confirmation"
        path="@hubspot/email_subscriptions_confirmation"
      %}
    </div>
  </div>
</div>
{% endblock body %}
