{% if module.style.section_show_hide_ %}
<div class="fullwidth sec-space sec-bg-color wss-section finsec">
  <div class="content-wrapper">
    {% if module.show_hide_title %}
    {% if module.title %}
    <div class="title-color text-yellow">     
		<h2>{{ module.title }}</h2>	     
    </div>
    {% endif %}
    {% endif %}
    {% if module.show_hide_subtitle %}
    {% if module.subtitle_content %}
    <div class="text-color">
      {{ module.subtitle_content }}
    </div>
    {% endif %} 
    {% endif %}
    
    <div class="page-wrap fullwidth wss-outer wss-new {{ module.select_column }}">
      {% for item in module.columns %}
      <div class="wss-col">
        {% if item.icon.src %}
        <div class="wss-icon">
          {% set sizeAttrs = 'width="{{ item.icon.width }}" height="{{ item.icon.height }}"' %}
          {% if item.icon.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ item.icon.width }}" height="{{ item.icon.height }}" style="max-width: 100%; height: auto;"' %}
          {% elif item.icon.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ item.icon.max_width }}" height="{{ item.icon.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = item.icon.loading != 'disabled' ? 'loading="{{ item.icon.loading }}"' : '' %}
          <img src="{{ item.icon.src }}" alt="{{ item.icon.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        </div>
        {% endif %}
        <a href="{{ href }}"
		{% if item.title_link.open_in_new_tab %}target="_blank"{% endif %}
		{% if item.title_link.rel %}rel="{{ item.title_link.rel }}"{% endif %}>
          <h3>{{ item.column_title }}</h3>
        </a>
        {% if item.hide_show_content %}
        <div class="wss-text">
          {{ item.content }}
        </div>  
        	{% endif %}
      </div> 
      {% endfor %}
    </div>  
  </div>  
</div>  
{% endif %}

{% require_css %}
<style>
  
  {% if module.style.section_background.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: {{ module.style.section_background.css }}; }
  {% endif %}
  
  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}
  
  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}
  
  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
  
 /***  Responsive Media Query ***/
 @media(max-width: 991px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }
  
  @media(max-width: 767px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  .wss-three-col .wss-col { background: url(https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/lines-featured.png) no-repeat bottom center #E9951B;
    background-size: contain;}
  .wss-three-col .wss-col:hover { background-color: #000;}
  .wss-icon img {margin:20px 0 20px;}
  .wss-three-col h3 {color:#000 !important; margin-bottom:0;}
   .wss-three-col .wss-col:hover h3 {color:#fff !important; margin-bottom:0;}
  .wss-col {padding:40px 30px 80px;}
  .wss-text p {color:#fff;}
  .header-top {padding:15px 0 0;}
  .header-logo>a:first-child>img {max-width:100% !important;}
  .header-logo {margin-bottom:-22px;}
  .finsec .text-yellow {padding-bottom:20px; text-align:center;}
  .finsec h3 {padding-bottom:20px;}
  
</style>  
{% end_require_css %}