.image-container {
    width: 40%;

}

.fr-description_container {
    font-size: 16px;
    padding-bottom: 15px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    aspect-ratio: 2.2/2;
}

.fr-title_wrapper h2 {
    line-height: 0.9;
}

.form-container form .form-columns-2 {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;

}


.form-container form .form-columns-2 div {
    margin: 0;
}

.form-container form .input .hs-input::placeholder,
.form-container form .input .hs-fieldtype-textarea::placeholder {
    color: #7A7676 !important;
}

.form-container form input[type=email]:focus,
.form-container form input[type=file]:focus,
.form-container form input[type=number]:focus,
.form-container form input[type=password]:focus,
.form-container form input[type=tel]:focus,
.form-container form input[type=text]:focus,
.form-container form select:focus,
.form-container form textarea:focus {
    outline: none;
}

.form-container form input[type=email],
.form-container form input[type=file],
.form-container form input[type=number],
.form-container form input[type=password],
.form-container form input[type=tel],
.form-container form input[type=text],
.form-container form select,
.form-container form textarea {
    color: #000;

}

.form-container form .form-columns-2 .input input,
.form-container form select,
.form-container form .input .hs-fieldtype-textarea {
    background-color: #F0F2FF;
    border-radius: 2px;
    border: none;
}

.form-container form .hs-fieldtype-intl-phone select.hs-input:not([type=checkbox]):not([type=radio]) {
    width: 32% !important;
}


.form-container form .hs-fieldtype-intl-phone input[type="tel"] {
    width: 64% !important;
}

.form-container form .input .hs-fieldtype-textarea {
    height: 43px;
}

.form-container form .hs-submit {
    margin-top: 25px;
}

.form-container form input[type=submit] {
    font-size: 22px;
    border-radius: 4px;
    position: relative;
    padding: 15px 35px;

}

.form-container form .form-columns-2 .hs-form-field:last-child {
    margin-left: 0 !important;
}

@media(max-width: 767px) {
    .form-container form .form-columns-2 {
        flex-direction: column;
        margin: 0;
    }

    .form-container form .form-columns-2 .hs-form-field {
        width: 100% !important;
    }

    .form-container form .hs-fieldtype-intl-phone {
        padding: 0 !important;
    }

    .form-container form .form-columns-2 .input {
        margin-bottom: 15px;
    }
}