<div class="contactSection fullwidth">
  <div class="content-wrapper">
<!--     <a class="mc" data-value="abc" data-direction=[-70.8665374,60.1743427]>Click here</a> -->
    <div class="mapInfos fullwidth">
      <div class="mapTop fullwidth">
        <h3>Branch Locations</h3>
        <div class="mapSearch fullwidth">
          <input id="filter" type="text" name="Search">
          <a class="msBtn"></a>
        </div>
        <div class="mapChoose fullwidth">
          Choose my location
        </div>
        <div class="mapGeneralbtn fullwidth">
          <a href="javascript:;">General Enquiry</a>
        </div>
      </div>
      <div class="mapWrap fullwidth">
        {% for row in hubdb_table_rows(module.hubdb_table) %}
          <div class="mapInfo fullwidth" data-lng="{{ row.direction_latlng }}" data-number="pop{{ loop.index }}">
            <h3>{{ row.name }}</h3>
            <div class="miAddress fullwidth">
              {{ row.address }}             
            </div>
            <div class="miPhone fullwidth">
             <span>Toll Free:</span> {{ row.phone }}
            </div>
            <div class="miLink fullwidth">
              <a class="mc" data-direction=[{{ row.direction_latlng }}]>Get Directions</a>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="popWrap fullwidth">
        {% for row in hubdb_table_rows(module.hubdb_table) %}
          <div class="map-loc-box" data-lng="{{ row.direction_latlng }}" data-number="pop{{ loop.index }}">
            <a class="mapClose"><i></i></a>
            <div class="map-loc-city text-upper">
              <span>{{ row.city }}</span>
            </div>
            <div class="map-city-address">
              {{ row.address }}
            </div>
            <div class="map-hours">
              <span>Hours:</span> {{ row.hours }}
            </div>  

            <div class="maploc-nums">
              <div class="map-cn-num">
                <span>Toll-Free:</span> <a href="tel:{{ row.toll_free|lower|regex_replace("[^a-zA-Z]", "") }}">{{ row.toll_free }}</a>
              </div>
              <div class="map-cn-num">
                <span>Phone:</span> <a href="tel:{{ row.phone|regex_replace("[^a-zA-Z]", "") }}">{{ row.phone }}</a>
              </div>  
            </div> 
            <div class="map-btn-yellow">
              {% if row.button_1_text %}
                <div class="btn-yellow">
                  <a href="{{ row.button_1_link }}">{{ row.button_1_text }}</a>
                </div>
              {% endif %}
              {% if row.button_2_text %}
                <div class="btn-yellow">
                  <a href="{{ row.button_2_link }}">{{ row.button_2_text }}</a>
                </div>
              {% endif %}
            </div>

          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="map"></div>
</div>

{% require_css %}
<script>
  $(document).ready(function(){
    mapboxgl.accessToken = 'pk.eyJ1IjoicmVtZWRheSIsImEiOiJjbDE1MzZqZ2gyYWx6M2RvMHRmdjZwbHd1In0.D1UBCNLbIVXcKxXiGplMOA';
			const map = new mapboxgl.Map({
			container: 'map', // container ID
			style: 'mapbox://styles/mapbox/streets-v11', // style URL
			center: [-86.3665387,32.7674316], // starting position [lng, lat]
			zoom: 2 // starting zoom
		});
    
    var markers_data = [];
		var counter = 0;
		$(".mapInfo").each(function() { 
			var monument = $(this).data('lng');
      // var icon_type_marker = $(this).data('icon_type');
      // var marker_title = $(this).data('title');
			// var marker_title2 = $(this).data('title').toLowerCase().replace(" ", "").replace(" ", "").replace(" ", "").replace(" ", "").replace(" ", "").replace(" ", "").replace("/", "").replace("/", "").replace("-", "").replace("-", "").replace("-", "").replace("-", "");
      var marker_id = $(this).data('number'); 
			// var offValue = $(this).data('offering').toLowerCase().replace(" ", "").replace(" ", "").replace(" ", "").replace(" ", "").replace(" ", "").replace(" ", "").replace("/", "").replace("/", "").replace("-", "").replace("-", "").replace("-", "").replace("-", "");
			var match = monument.split(',');
      
			markers_data.push(
			    {
			        // feature for Mapbox DC
			        'type': 'Feature',
			        'geometry': {
			            'type': 'Point',
			            'coordinates': [
			                parseFloat(match[1]), parseFloat(match[0])
			            ]
			        },
			        'properties': {
			            'markerId': marker_id
			        }
			    }
			);
			counter++;
      
		});
    
    const geojson = {
      'type': 'FeatureCollection',
      'features': markers_data
    };

    for (const marker of geojson.features) {
      // Create a DOM element for each marker.
      const el = document.createElement('div');
      // 			const width = marker.properties.iconSize[0];
      // 			const height = marker.properties.iconSize[1];
      el.id = marker.properties.markerId; 
      el.style.backgroundImage = 'url(https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/icon.png)';
      el.addEventListener('click', () => {
        // window.alert('Clicked');
      });

      // const popup = new mapboxgl.Popup({ offset: 25 }).setHTML(marker.properties.description);

      // Add markers to the map.
      new mapboxgl.Marker(el)
        .setLngLat(marker.geometry.coordinates)
      // .setPopup(popup)
        .addTo(map);
    }

    $('.mc').on('click',function(){
      var myv = $(this).attr('data-direction');
      map.flyTo({
        center: JSON.parse(myv)
      });
    });
    
    $('.mapboxgl-marker').on('click',function(){
      $('.popWrap .map-loc-box').removeClass('loc-active-pop');
      $('.popWrap .map-loc-box[data-number="'+$(this).attr('id')+'"]').addClass('loc-active-pop');
    });
    
    $('.mapClose').on('click',function(){
      $(this).parent().removeClass('loc-active-pop');
    });
    
    $("#filter").keyup(function(){
 
        // Retrieve the input field text and reset the count to zero
        var filter = $(this).val(), count = 0;
 
        // Loop through the comment list
        $(".mapInfo").each(function(){
 
            // If the list item does not contain the text phrase fade it out
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).hide();
 
            // Show the list item if the phrase matches and increase the count by 1
            } else {
                $(this).show();
                count++;
            }
        });
 
        // Update the count
        // var numberItems = count;
        // $("#filter-count").text("Number of Comments = "+count);
    });
    
    
  });
</script>
{% end_require_css %}