#map { height:760px; }
.mapboxgl-marker { width: 30px; height: 30px; background-size: contain; background-position: center top; background-repeat: no-repeat; }
.contactSection { position:relative; } 
.contactSection .content-wrapper { z-index:1; position: absolute; height: calc(100% - 50px); left: 50%; top: 50%; transform: translate(-50%,-50%); max-width: 646px; margin-left: -436px !important; }
.mapInfos { color:#FFFFFF; background: #000000; box-shadow: 0px 0px 12px #484848; opacity: 1; height: 100%; max-width: 566px; padding: 10px; overflow:hidden; }
.mapWrap { background:#fff; padding:16px 40px; max-height: 320px; overflow-y: auto; } 
.mapInfo { padding:20px 0; border-bottom:#FFFFFF solid 1px; }
.mapInfo h3 { font-family: 'Roboto',sans-serif; color: #E9951B; margin: 0; font-weight: 700; padding-bottom:30px; }
.miLink a, .map-cn-num a { color:#E9951B; }
.miPhone {color:#000; font-weight:700; padding-top: 15px;  padding-bottom: 10px;}
.miPhone span, .miAddress span {color:#808080; font-weight:700;}
.miAddress { max-width:250px; color:#000; font-weight:700; }
.mapTop { padding: 58px 50px 40px; } 
.mapTop h3 { font-size: 30px; line-height: 47px; margin: 0 0 15px; }
.mapSearch input { outline: none; border: none; padding: 15px 60px 15px 20px; width: 100%; border-radius: 4px; line-height: 27px; margin: 0 0 17px; }
.mapChoose { font-size: 15px; line-height: 22px; padding: 5px 0 5px 40px; background:url(https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/icon.png) no-repeat top left/24px auto; }
.mapGeneralbtn a { background: #E9951B; color: #fff; border-radius:5px; font-weight: 700; text-transform: uppercase; padding: 15px 30px; line-height: 27px; min-width: 300px; text-align: center; margin: 18px 0; font-family: Roboto Condensed,sans-serif; font-size: 22px; } 
.popWrap .map-loc-box { color:#000000; left: 165%; top: 40%; }
.mapClose { position: absolute; right: 0; top: 0; width: 30px; height: 30px; }
.mapClose i { width:20px; height:1px; background:#000000; display:inline-block; transform:rotate(45deg); }
.mapClose i:after { position:absolute; content:''; width:20px; height:1px; background:inherit; transform:rotate(90deg); }


