{% if module.style.section_show_hide_ %}
<div class="fullwidth sec-space sec-bg-color hero-others">
  <div class="content-wrapper">
   <div class="hs-blog-max"> 
    <div class="title-color text-yellow">
      {% if is_listing_view && tag %}
      {% set mt =  group.public_title  %}
      {% set topicName = page_meta.html_title|replace(mt, '')|replace('|', '') %} 
        <h1> 
          <span>{{ topicName }}</span>
        </h1> 
      {% elif is_listing_view && blog_author %}  
        <h1><span>{{ blog_author.display_name }}</span></h1> 
      {% elif is_listing_view %}
        <h1><span>{{ module.title }}</span></h1>
      {% else %}
      {% endif %} 
 
    </div> 
     
    {% if is_listing_view && tag or is_listing_view && blog_author %} 
    {% elif is_listing_view %} 
     <div class="text-color">
       {{ module.content }}
     </div>
    {% else %} 
    {% endif %} 
     
    {% if module.select_button_type == "btn_link" %}
    <div class="btn-yellow btn-color text-upper btn-check-icon">
      {% set href = module.button_link.url.href %}
      {% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
      {% endif %}
      <a href="{{ href }}"
         {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
         {% if module.button_link.rel %}rel="{{ module.button_link.rel }}"{% endif %}
         >
        {{ module.button_text }}
      </a>
    </div> 
    {% elif module.select_button_type == "btn_form" %}
      <div class="btn-yellow btn-color text-upper btn-check-icon">
        <a href="#hs_cos_wrapper_{{ name }}_form" class="btn-form-link">
          {{ module.button_text }}
        </a>
      </div>
    {% else %}
    {% endif %}
  </div>  
  </div> 
</div>  
{% if module.select_button_type == "btn_form" %}
<div class="form-popup fullwidth fm-act-not" id="hs_cos_wrapper_{{ name }}_form">
  <div class="content-wrapper">
    <div class="form-outer">
      <div class="form-header">
        <h2>{{ module.pop_form_title }}</h2>
        <div class="form-close">
          Close
        </div>  
      </div> 
      <div class="form-main">
        {% form
            form_to_use="{{ module.form_field.form_id }}"
            response_response_type="{{ module.form_field.response_type }}"
            response_message="{{ module.form_field.message }}"
            response_redirect_id="{{ module.form_field.redirect_id }}"
            response_redirect_url="{{module.form_field.redirect_url}}"
            gotowebinar_webinar_key="{{ module.form_field.gotowebinar_webinar_key }}"
          %}
      </div>  
    </div>  
  </div>  
</div>  
{% endif %}

{% endif %}

 



{% require_css %}
<style>
  
  {% if module.style.section_background.background_image.src %}  
    {% if module.style.section_background.overlay_show_hide_ %}
    #hs_cos_wrapper_{{ name }} .sec-bg-color { background: linear-gradient(91deg, #000000 0%, #090909 51%, #00000000 100%), url({{ module.style.section_background.background_image.src }}) no-repeat center top/cover;  }
    {% else %}
     #hs_cos_wrapper_{{ name }} .sec-bg-color { background: url({{ module.style.section_background.background_image.src }}) no-repeat center top/cover;  }
    {% endif %}
  {% endif %}
  
  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}
  
  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .form-header { background: rgba({{ module.style.color_settings.header_background_color_popup_form_.color|convert_rgb }}, {{ module.style.color_settings.header_background_color_popup_form_.opacity ~ '%' }}); }
  #hs_cos_wrapper_{{ name }} .form-header h2, .form-close { color: rgba({{ module.style.color_settings.title_color_popup_form_.color|convert_rgb }}, {{ module.style.color_settings.title_color_popup_form_.opacity ~ '%' }}); }
  
  
  /* Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
  
 /***  Responsive Media Query ***/
  
 @media(max-width: 991px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }
  
  @media(max-width: 767px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  
</style>  
{% end_require_css %}