<!-- module html  -->
<div class="fullwidth space-section">
<div class="content-wrapper">
<div class="text--rich">
{{ module.text }}
</div>
{% if module.button.button_text %}
    <div class="btn-yellow btn-color">
    {% set href = module.button.button_link.url.href %}
    {% if module.button.button_link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
        {% endif %}
        <a href="{{ href }}"
        {% if module.button.button_link.open_in_new_tab %}target="_blank"{% endif %}
        {% if module.button.button_link.rel %}rel="{{ module.button.button_link.rel }}"{% endif %}
    >
    {{ module.button.button_text }}
    </a>
    </div>
    {% endif %}
</div>
</div>


{% require_css %}
<style>

#hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
#hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
#hs_cos_wrapper_{{ name }} .btn-color a {border-color: {{ module.button_color_settings.button_default_state.button_background_color.color }} }
#hs_cos_wrapper_{{ name }} .btn-color a:hover {border-color: {{ module.button_color_settings.button_hover_state.button_background_color.color }} }


{% if module.styles.desktop_spacing.css %}
#hs_cos_wrapper_{{ name }} .space-section { {{ module.styles.desktop_spacing.css }} }
{% endif %}

@media(max-width: 992px){
#hs_cos_wrapper_{{ name }} .space-section { {{ module.styles.tablet_spacing.css }} }
}  

@media(max-width: 768px){
#hs_cos_wrapper_{{ name }} .space-section { {{ module.styles.mobile_spacing.css }} }
}

</style>
{% end_require_css %}

