<div class="fullwidth sec-space sec-bg-color adbnrimage"> 
{% set href = module.image_link.url.href %}
{% if module.image_link.url.type is equalto "EMAIL_ADDRESS" %}
	{% set href = "mailto:" + href %}
{% endif %}
<a href="{{ href }}"
	{% if module.image_link.open_in_new_tab %}target="_blank"{% endif %}
	{% if module.image_link.rel %}rel="{{ module.image_link.rel }}"{% endif %}
	>
	<img src="{{ module.ad_image.src }}" alt="{{ module.ad_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
</a>
 </div>  

