.dnd-section .dnd-column {
    padding: 0 0rem;
}

.card_container--lp {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.card_container--lp a {
    text-decoration: none;
    color: inherit;
    width: calc(30% - 10px);
    transition: 0.3s;
    border-radius: 10px;
    height: 430px;  
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

.card_container--lp a:hover {
    background: #f1efef;
    border-radius: 10px;
    box-shadow: 0 0 11px #93939380;
}

.card_container--image {
    height: 60%;  
    border-radius: 10px;
    overflow: hidden;
}

.card_container--image img {
    width: 100%;
    object-fit: cover; 
    border-radius: 10px;
}

.card_container--description {
    padding: 15px 10px;
    height: 40%; 
}

@media (min-width: 1220px) {
    .card_container--lp a {
        width: calc(30% - 10px);
    }
    .card_container--image {
    height: 55%;
}
}

@media (min-width: 750px) and (max-width: 1220px) {
    .card_container--lp a {
        width: calc(45% - 10px);
    }
    .card_container--image {
        height: 50%;
    }
}


@media (max-width: 749px) {
    .card_container--lp a {
        width: calc(90% - 10px);
    }
    .card_container--image {
        height: 60%;
    }
    .card_container--lp{gap:40px;}
}

@media(max-width:435px){
    .card_container--image {
    height: 44%;
}
.card_container--lp a{height: 380px;}
}