<header class="fullwidth site-header">
     <div class="header_top--container">
    <div class="content-wrapper">  
      <div class="header_top--wrapper">
      <div class="header_top--text">
        {{ module.text_field }}  
      </div>
      <div class="header_top--button">
        {% set href = module.button.button_link.url.href %}
        {% if module.button.button_link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
        {% endif %}
        <a href="{{ href }}"
           {% if module.button.button_link.open_in_new_tab %}target="_blank"{% endif %}
           {% if module.button.button_link.rel %}rel="{{ module.button.button_link.rel }}"{% endif %}
           >
          {{ module.button.button_text }}
        </a>
      </div>
      </div>
    </div>
  </div>
</header>

