{% if module.style.section_show_hide_ %}
<div class="fullwidth om-sec sec-space sec-bg-color{% if module.style.content_align_center_ %} text-center{% endif %}{% if module.style.section_background.overlay_show_hide_ %} ov-color{% endif %}">
  <div class="content-wrapper">
    <div class="hs-max-content">
      {% if module.title %}
        <div class="title-color text-yellow">
          <h2>{{ module.title }}</h2>
        </div>
      {% endif %}
      {% if module.content %}
        <div class="text-color">
          {{ module.content }}
        </div>
      {% endif %}
      {% if module.button_text %}
        <div class="btn-yellow btn-color">
          {% set href = module.button_link.url.href %}
          {% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          <a href="{{ href }}"
             {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
             {% if module.button_link.rel %}rel="{{ module.button_link.rel }}"{% endif %}
             >
            {{ module.button_text }}
          </a>
        </div>  
      {% endif %}
    </div>  
  </div>  
</div>  
{% endif %}

{% require_css %}
<style>
  
  {% if module.style.section_background.background_image.src %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: url({{ module.style.section_background.background_image.src }}) no-repeat center top/cover; }
  {% endif %}
   
  {% if module.style.section_background.section_overlay.css %}
  #hs_cos_wrapper_{{ name }} .ov-color:before { background: {{ module.style.section_background.section_overlay.css }}; backdrop-filter: blur(0px); }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .hs-max-content { max-width: {{ module.style.content_max_width_ ~ 'px' }}; }
  
  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}
  
  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}
  
  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
  
 /***  Responsive Media Query ***/
 @media(max-width: 991px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }
  
  @media(max-width: 767px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  
</style>  
{% end_require_css %}