{% if module.style.section_show_hide_ %}
<footer class="footer fullwidth sec-space sec-bg-color">
  <div class="content-wrapper">
    <div class="fullwidth page-wrap footer-outer">
      <div class="footer-col">
        <div class="footer-logo">
          {% set href = module.column_1.logo_link.url.href %}
          {% if module.column_1.logo_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          <a href="{{ href }}"
             {% if module.column_1.logo_link.open_in_new_tab %}target="_blank"{% endif %}
             {% if module.column_1.logo_link.rel %}rel="{{ module.column_1.logo_link.rel }}"{% endif %}
             >

            {% if module.column_1.logo_image.src %}
            {% set sizeAttrs = 'width="{{ module.column_1.logo_image.width }}" height="{{ module.column_1.logo_image.height }}"' %}
            {% if module.column_1.logo_image.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ module.column_1.logo_image.width }}" height="{{ module.column_1.logo_image.height }}" style="max-width: 100%; height: auto;"' %}
            {% elif module.column_1.logo_image.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.column_1.logo_image.max_width }}" height="{{ module.column_1.logo_image.max_height }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
            {% set loadingAttr = module.column_1.logo_image.loading != 'disabled' ? 'loading="{{ module.column_1.logo_image.loading }}"' : '' %}
            <img src="{{ module.column_1.logo_image.src }}" alt="{{ module.column_1.logo_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
          </a>
        </div>
        <div class="footer-address">
          <div class="title-color">
            {{ module.column_1.title }}
          </div> 
          <div class="text-color pt-10">
            {{ module.column_1.address }}
          </div> 
          <div class="footer-call-us">
            <a href="tel:{{ module.column_1.phone }}">
              <img src="https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/Group%201483.svg" alt="phone_icon">
              {{ module.column_1.phone }}
            </a>
          </div>  
           <div class="title-color pt-10">
             <a href="tel:{{ module.column_1.toll_free_text }}">
           TOLL-FREE:{{ module.column_1.toll_free_text }}
             </a>
          </div> 
        </div> 
      </div>
      <div class="footer-col">
        <div class="title-color">
          {{ module.column_2.title }}
        </div> 
        <div class="footer-menu-links">
          {% simple_menu menu_tree="{{ module.column_2.menu }}" %}
        </div>  
      </div>  
      <div class="footer-col">
        <div class="title-color">
          {{ module.column_3.title }}
        </div> 
        <div class="footer-menu-links text-color">
          {% simple_menu menu_tree="{{ module.column_3.menu }}" %}
        </div> 
      </div>
        <div class="footer-col">
        <div class="footer-logo o2">
          {% if module.column_4.logo_image.src %}
          {% set sizeAttrs = 'width="{{ module.column_4.logo_image.width }}" height="{{ module.column_4.logo_image.height }}"' %}
          {% if module.column_4.logo_image.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ module.column_4.logo_image.width }}" height="{{ module.column_4.logo_image.height }}" style="max-width: 100%; height: auto;"' %}
          {% elif module.column_4.logo_image.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ module.column_4.logo_image.max_width }}" height="{{ module.column_4.logo_image.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = module.column_4.logo_image.loading != 'disabled' ? 'loading="{{ module.column_4.logo_image.loading }}"' : '' %}
          <img src="{{ module.column_4.logo_image.src }}" alt="{{ module.column_4.logo_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
          <p>{{ module.column_4.logo_bottom_text }}</p>
        </div>  
         
        <div class="footer-social-links">
          <ul>
            {% for item in module.column_4.social_links %}
            <li>
              {% set href = item.social_link.url.href %}
              {% if item.social_link.url.type is equalto "EMAIL_ADDRESS" %}
              {% set href = "mailto:" + href %}
              {% endif %}
              <a href="{{ href }}"
                 {% if item.social_link.open_in_new_tab %}target="_blank"{% endif %}
                 {% if item.social_link.rel %}rel="{{ item.social_link.rel }}"{% endif %}
                 >
                {% if item.image_field.src %}
                {% set sizeAttrs = 'width="{{ item.image_field.width }}" height="{{ item.image_field.height }}"' %}
                {% if item.image_field.size_type == 'auto' %}
                {% set sizeAttrs = 'width="{{ item.image_field.width }}" height="{{ item.image_field.height }}" style="max-width: 100%; height: auto;"' %}
                {% elif item.image_field.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ item.image_field.max_width }}" height="{{ item.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading }}"' : '' %}
                  <img src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                {% endif %}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div> 
        <div class="title-color">
          {{ module.column_4.title }}
        </div>
        <div class="text-color">
          {{ module.column_4.privacy_text }}
        </div>
      </div>
    </div>  
 
  </div>  
</footer>  
{% endif %}

{% require_css %}
<style>

  {% if module.style.section_background.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: {{ module.style.section_background.css }}; }
  {% endif %}

  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}

  /*  Title Color */ 
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color,
  #hs_cos_wrapper_{{ name }} .title-color a,
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}

  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color, #hs_cos_wrapper_{{ name }} .footer-menu-links ul li a, #hs_cos_wrapper_{{ name }} .footer-call-us a { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  #hs_cos_wrapper_{{ name }} .footer-menu-links ul li a:hover, #hs_cos_wrapper_{{ name }} .footer-call-us a:hover { color: rgba(255, 200, 47, 100%); }
  {% endif %}

  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }

  /***  Responsive Media Query ***/
  @media(max-width: 991px){
    #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }

  @media(max-width: 767px){
    #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  .pt-10 {padding-top:10px;}

</style>  
{% end_require_css %}