
{% for item in module.rows %}
{% if item.section_show_hide_ %}
  <div class="fullwidth zigzag-section {% if item.section_reverse %}zz-reverse{% endif %}">
    <div class="content-wrapper">
      <div class="fullwidth page-wrap align-center j-end zz-outer">
        <div class="zz-img" style="background: url({{ item.image_field.src }}) no-repeat center top/cover;">
        </div>
        <div class="zz-content">
          {% if item.title %} 
          <div class="title-color text-yellow">
            <h2>{{ item.title }}</h2>
          </div>
          {% endif %} 
          {% if item.content %}
          <div class="text-color">
            {{ item.content }}
          </div>
          {% endif %}
          {% if item.button_text %}
            <div class="btn-yellow btn-color">
              {% set href = item.button_link.url.href %}
              {% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
              {% set href = "mailto:" + href %}
              {% endif %}
              <a href="{{ href }}"
                 {% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
                 {% if item.button_link.rel %}rel="{{ item.button_link.rel }}"{% endif %}
                 >
                {{ item.button_text }}
              </a>
            </div> 
          {% endif %}
        </div>
      </div>   
    </div>  
  </div>  
{% endif %}
{% endfor %}


{% require_css %}
<style>
  {% for item in module.rows %}
  {% if item.color_settings.background_color.color %}
  #hs_cos_wrapper_{{ name }} .zigzag-section:nth-child({{ loop.index }}) { background: rgba({{ item.color_settings.background_color.color|convert_rgb }}, {{ item.color_settings.background_color.opacity ~ '%' }}); }
  {% endif %}

  /*  Title Color */
  {% if item.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .zigzag-section:nth-child({{ loop.index }}) .title-color h1,
  #hs_cos_wrapper_{{ name }} .zigzag-section:nth-child({{ loop.index }}) .title-color h2,
  #hs_cos_wrapper_{{ name }} .zigzag-section:nth-child({{ loop.index }}) .title-color h3,
  #hs_cos_wrapper_{{ name }} .zigzag-section:nth-child({{ loop.index }}) .title-color h4,
  #hs_cos_wrapper_{{ name }} .zigzag-section:nth-child({{ loop.index }}) .title-color h5,
  #hs_cos_wrapper_{{ name }} .zigzag-section:nth-child({{ loop.index }}) .title-color h6 { color: rgba({{ item.color_settings.title_color.color|convert_rgb }}, {{ item.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}

  /*  Paragraph Text Color */
  {% if item.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .zigzag-section:nth-child({{ loop.index }}) .text-color { color: rgba({{ item.color_settings.paragraph_text_color.color|convert_rgb }}, {{ item.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .zigzag-section:nth-child({{ loop.index }}) .btn-color a { {% if item.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ item.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ item.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if item.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ item.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ item.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} {% if item.button_radius_px_  %}border-radius: {{ item.button_radius_px_ ~ 'px' }};{% endif %} {% if item.button_color_settings.button_default_state.button_background_color.color %} border-color: rgba({{ item.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ item.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .zigzag-section:nth-child({{ loop.index }}) .btn-color a:hover { {% if item.button_color_settings.button_hover_state.button_background_color.color %} background: rgba({{ item.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ item.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if item.button_color_settings.button_hover_state.button_text_color.color %} color: rgba({{ item.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ item.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} {% if item.button_color_settings.button_hover_state.button_background_color.color %}border-color: rgba({{ item.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ item.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} }
 
 {% endfor %}

  /***  Responsive Media Query ***/

</style>  
{% end_require_css %}