.dnd-section .dnd-column {
    padding: 0 0rem;
}

.tabs_buttons {
    display: flex;
}

.tab-button {
    cursor: pointer;
    padding: 10px 20px;
    border:none;
}

.tabs-content {
    display: flex;
    flex-direction: column;
}

.tab-content {
    display: none;
    padding: 20px;
}

.tab-content.active {
    display: flex;
}

.left--side,
.right--side {
    width: 50%;
    padding: 10px;
}

.right--side img {
    max-width: 500px;
    max-height: 400px;
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.right--side{ text-align: center;}


@media(max-width:992px){

.tabs_buttons {
    display: flex;
    flex-wrap: wrap;
}

.tab-button {
    flex-grow: 1;
}
.tabs-content,.tabs-content .active {
    flex-direction: column;
    padding: 0px;
}

.left--side,
.right--side {
    width: 100%;
}
}