{% if module.style.section_show_hide_ %}
<div class="fullwidth sec-space sec-bg-color req-form-section">
  <div class="content-wrapper">
    {% if module.title %}
      <div class="title-color text-yellow text-center">
        <h2>{{ module.title }}</h2>
      </div>
    {% endif %}
    <div class="text-color text-center">
      {{ module.content }}
    </div>  
    <div class="page-wrap sq-outer">
      <div class="sq-left">
        {% if module.left_content %}
        <div class="text-color title-color">
          {{ module.left_content }}
        </div>
        {% endif %}
        {% if module.button_text %}
          <div class="btn-yellow btn-color">
            {% set href = module.button_link.url.href %}
            {% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
            {% endif %}
            <a href="{{ href }}"
               {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
               {% if module.button_link.rel %}rel="{{ module.button_link.rel }}"{% endif %}
               >
              {{ module.button_text }}
            </a>
          </div>
        {% endif %}
      </div>
      <div class="sq-right">
        {% if module.form_title_text %}
        <div class="title-color">
          <h2>{{ module.form_title_text }}</h2>
        </div>
        {% endif %}
        <div class="sq-form-block">
          {% form
              form_to_use="{{ module.right_form.form_id }}"
              response_response_type="{{ module.right_form.response_type }}"
              response_message="{{ module.right_form.message }}"
              response_redirect_id="{{ module.right_form.redirect_id }}"
              response_redirect_url="{{module.right_form.redirect_url}}"
              gotowebinar_webinar_key="{{ module.right_form.gotowebinar_webinar_key }}"
            %}
        </div>  
      </div>
    </div>
    
  </div>  
</div>  
{% endif %}

{% require_css %}
<style>
  
  {% if module.style.section_background.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: {{ module.style.section_background.css }}; }
  {% endif %}
  
  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}
  
  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}
  
  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
  
 /***  Responsive Media Query ***/
 @media(max-width: 991px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }
  
  @media(max-width: 767px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  
</style>  
{% end_require_css %}