<!-- module html  -->
<div class="fullwidth space-section--sm">
<div class="overlay--sm"></div>
<div class="content-wrapper">
<div class="sm--container">
<div class="small_banner_text text-yellow">
{% if module.small_banner_text %}
<h2>{{ module.small_banner_text }}
<div class="sm-image_icon">
{% if module.icon_image.icon_type == "image" %}

{% if module.icon_image.icon_image.src %}
    {% set sizeAttrs = 'width="{{ module.icon_image.icon_image.width }}" height="{{ module.icon_image.icon_image.height }}"' %}
    {% if module.icon_image.icon_image.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ module.icon_image.icon_image.width }}" height="{{ module.icon_image.icon_image.height }}" style="max-width: 100%; height: auto;"' %}
    {% elif module.icon_image.icon_image.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.icon_image.icon_image.max_width }}" height="{{ module.icon_image.icon_image.max_height }}" style="max-width: 100%; height: auto;"' %}
    {% endif %}
        {% set loadingAttr = module.icon_image.icon_image.loading != 'disabled' ? 'loading="{{ module.icon_image.icon_image.loading }}"' : '' %}
    <img src="{{ module.icon_image.icon_image.src }}" alt="{{ module.icon_image.icon_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
{% endif %}

{% elif module.icon_image.icon_type == "icon" %}
    {% icon
    name="{{ module.icon_image.icon_field.name }}"
    style="{{ module.icon_image.icon_field.type }}"
    unicode="{{ module.icon_image.icon_field.unicode }}"
    icon_set="{{ module.icon_image.icon_field.icon_set }}"
%}

{% endif %}
</div>
</h2>
{% endif %}
</div>
{% if module.button.button_text %}
<div class="btn-yellow btn-color sm-btn">
{% set href = module.button.button_link.url.href %}
{% if module.button.button_link.url.type is equalto "EMAIL_ADDRESS" %}
{% set href = "mailto:" + href %}
{% endif %}
<a href="{{ href }}"
{% if module.button.button_link.open_in_new_tab %}target="_blank"{% endif %}
{% if module.button.button_link.rel %}rel="{{ module.button.button_link.rel }}"{% endif %}
>
{{ module.button.button_text }}
</a>
</div>
{% endif %}
</div>
</div>
</div>


{% require_css %}
<style>

{% if module.styles.background_setting.image_field.src %}
#hs_cos_wrapper_{{ name }} .space-section--sm{ background: url({{ module.styles.background_setting.image_field.src }}) no-repeat center center/cover; }
#hs_cos_wrapper_{{ name }} .space-section--sm .overlay--sm { 
          {# background: rgba(0, 0, 0, {{ module.styles.background_setting.overlay_opacity ~ '%' }} );  #}
          background: linear-gradient( 91deg, rgba(0, 0, 0, {{ module.styles.background_setting.overlay_opacity ~ '%' }} ), 
                                              rgba(2, 2, 2, {{ module.styles.background_setting.overlay_opacity ~ '%' }} ), 
                                              rgba(1, 1, 1, {{ module.styles.background_setting.overlay_opacity ~ '%' }} ), 
                                              rgba(0, 0, 0, 0)
 );
}
          }
{% elif module.styles.background_setting.background_color.color %}
#hs_cos_wrapper_{{ name }} .space-section--sm{ background:  rgba({{ module.styles.background_setting.background_color.color|convert_rgb }}, {{ module.styles.background_setting.background_color.opacity ~ '%' }}); }  
{% endif %}

.small_banner_text h2{justify-content: {{ module.text_alignment }}}

/*  Title Color */
{% if module.styles.title_color.color %}
#hs_cos_wrapper_{{ name }} .small_banner_text h1,
#hs_cos_wrapper_{{ name }} .small_banner_text h2,
#hs_cos_wrapper_{{ name }} .small_banner_text h3,
#hs_cos_wrapper_{{ name }} .small_banner_text h4,
#hs_cos_wrapper_{{ name }} .small_banner_text h5,
#hs_cos_wrapper_{{ name }} .small_banner_text h6 { color: rgba({{ module.styles.title_color.color|convert_rgb }}, {{ module.styles.title_color.opacity ~ '%' }}); }
{% endif %}

/*** Button Color ***/
#hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
#hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
#hs_cos_wrapper_{{ name }} .btn-color a {border-color: {{ module.button_color_settings.button_default_state.button_background_color.color }} }
#hs_cos_wrapper_{{ name }} .btn-color a:hover {border-color: {{ module.button_color_settings.button_hover_state.button_background_color.color }} }

{% if module.styles.spacing_field.desktop_spacing.css %}
#hs_cos_wrapper_{{ name }} .space-section--sm{ {{ module.styles.spacing_field.desktop_spacing.css }} }
{% endif %}

/***  Responsive Media Query ***/
@media(max-width: 991px){
#hs_cos_wrapper_{{ name }} .space-section--sm { {{ module.styles.spacing_field.tablet_spacing.css }} }
}

@media(max-width: 767px){
#hs_cos_wrapper_{{ name }} .space-section--sm  { {{ module.styles.spacing_field.mobile_spacing.css }} }
}

#hs_cos_wrapper_{{ name }}  .small_banner_text{max-width:{{ module.styles.content_max_width_px_ ~ 'px'}}}

#hs_cos_wrapper_{{ name }} .sm-image_icon svg{fill:{{module.styles.icon_color.color }}}

</style>
{% end_require_css %}
