{% if module.style.section_show_hide_ %}
<div class="fullwidth ts-section sec-space sec-bg-image ov-color">
  <div class="content-wrapper ts_form-slider">
    <!-- <div class="ts_form-slider"> -->
    <div class="ts-right">
        <div class="ts-slider">
          <div class="title-color text-yellow">
            <h2>{{ module.title }}</h2>
          </div>
        <div class="ts-slide-bg ts-slide-form" id="ts-slide-form">
          {% for item in module.slides %}
          <div class="ts-align">            
            <div class="ts-slide">
              <div class="text-color">
                {{ item.content }}
              </div>
              <div class="text-yellow">
                <span>{{ item.person_name }}</span>
                <div class="ts-avtar {{item.choose_logo_image }}">
                    {% if item.client_image_logo.src %}
                    {% set sizeAttrs = 'width="{{ item.client_image_logo.width }}" height="{{ item.client_image_logo.height }}"' %}
                    {% if item.client_image_logo.size_type == 'auto' %}
                        {% set sizeAttrs = 'width="{{ item.client_image_logo.width }}" height="{{ item.client_image_logo.height }}" style="max-width: 100%; height: auto;"' %}
                    {% elif item.client_image_logo.size_type == 'auto_custom_max' %}
                        {% set sizeAttrs = 'width="{{ item.client_image_logo.max_width }}" height="{{ item.client_image_logo.max_height }}" style="max-width: 100%; height: auto;"' %}
                    {% endif %}
                     {% set loadingAttr = item.client_image_logo.loading != 'disabled' ? 'loading="{{ item.client_image_logo.loading }}"' : '' %}
                    <img src="{{ item.client_image_logo.src }}" alt="{{ item.client_image_logo.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                {% endif %}
                </div>
              </div> 
            </div>
          </div>
          {% endfor %}
        </div>  
      </div>  
    </div>  
    <div class="ts-left">
        <div class="bg_form-container">
            <div class="bg_title-container">
                {% if module.form_title %}
                <div class="bg-title_wrapper">
                    <h2>{{ module.form_title }}</h2>
                </div>
                {% endif %}
                {% if module.form_description %}
                <div class="bg-description_container">
                   {{ module.form_description }}
                </div>
                {% endif %}
            </div>
            <div class="bg_form-conatiner">
                {% form
                    form_to_use="{{ module.form.form_id }}"
                    response_response_type="{{ module.form.response_type }}"
                    response_message="{{ module.form.message }}"
                    response_redirect_id="{{ module.form.redirect_id }}"
                    response_redirect_url="{{module.form.redirect_url}}"
                    gotowebinar_webinar_key="{{ module.form.gotowebinar_webinar_key }}"
                %}
            </div>
        </div>
        </div>
    </div>
  <!-- </div>   -->
</div>  
{% endif %}


{% require_css %}
<style>
{% scope_css %}
  .sec-space {
    {% if module.style.background.background_type == "color" and module.style.background.color.color %}
    background-color: rgb({{ module.style.background.color.color|convert_rgb }}, {{ module.style.background.color.opacity ~ '%' }});
    {% elif module.style.background.background_type == "gradient" %}
    background: {{ module.style.background.gradient_field.css }};
    {% elif module.style.background.background_type == "image" %}
    {{ module.style.background.gradient_field.css}}
    {% endif %}
    {{ module.style.desktop_spacing.css }} 

  }

  .ts-avtar.image {
    width: 40px;
    height: 40px;
    clip-path: circle(50%);
}

.ts-avtar.logo {
    width: 100px;
    height: 70px;

}


  .ts_form-slider {
    flex-direction: {{ module.form_direction }};  
}

  .bg-description_container{
    padding: 20px 0;
    {% if module.style.color_settings.form_description_color.color %}
    color: rgb({{ module.style.color_settings.form_description_color.color |convert_rgb }},{{ module.style.color_settings.form_description_color.opacity/100 }});
   {% endif %}
  }

  .bg-title_wrapper h2{
    {% if module.style.color_settings.form_title_color.color %}
    color: rgb({{ module.style.color_settings.form_title_color.color |convert_rgb }},{{ module.style.color_settings.form_title_color.opacity/100 }});
   {% endif %}
    margin: 0;
  }



  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
 .title-color h1,
 .title-color h2,
 .title-color h3,
 .title-color h4,
 .title-color h5,
 .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}

  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
   .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}

  .ts-slide .text-yellow > span { color: rgba({{ module.style.color_settings.name_text_color.color|convert_rgb }}, {{ module.style.color_settings.name_text_color.opacity ~ '%' }}); }

  .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }


  .ts_form-slider .ts-left {
    background: rgb({{ module.style.color_settings.form_background_color.color |convert_rgb }},{{ module.style.color_settings.form_background_color.opacity/100 }});

    }



  /***  Responsive Media Query ***/
  @media(max-width: 991px){
    .sec-space { {{ module.style.tablet_spacing.css }} }
  }

  @media(max-width: 767px){
  
      .sec-space { 
    {% if module.style.mobile_spacing.css %}
    {{ module.style.mobile_spacing.css }}
    {% endif %}
      padding: 35px;
 
}
  }

  @media (max-width: 422px) {
    .sec-space { 
      padding: 25px 0;
}
    
}

    
  {% end_scope_css %}
</style>  
{% end_require_css %}