.ts_form-slider {
    display: flex;
    justify-content: space-between;
}

.ts_form-slider .ts-right {
    width: 40%;
}

.ts_form-slider .ts-left {
    width: 50%;
    padding: 40px;
    border-radius: 10px;
}

.ts_form-slider .ts-slide {
    background: transparent !important;
    width: 100%;
    padding: 64px 10px;
}

.ts_form-slider .ts-slide:after {
    display: none !important;
}

.ts_form-slider .ts-slide-bg:before  {
    left: 10px !important;
    top: -22px;
}


.ts-slide-form .text-yellow {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.ts-avtar img {
    width: 100%;
    object-fit: cover;
    height: 100% !important;
}

.ts_form-slider .ts-slider {
    padding: 0;
}

.ts_form-slider .slick-arrow.slick-next {
    right: 15% !important;
    top: 100% !important;
}

.ts_form-slider .slick-arrow.slick-prev {
    left: 65% !important;
    top: 100% !important;
}

.ts_form-slider .ts-right .title-color h2 {
    margin: 0 0 45px;
}


.bg_form-conatiner form .form-columns-2 {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;

}


.bg_form-conatiner form .form-columns-2 div {
    margin: 0;
}

.bg_form-conatiner form .input .hs-input::placeholder,
.bg_form-conatiner form .input .hs-fieldtype-textarea::placeholder {
    color: #7A7676 !important;
}

.bg_form-conatiner form input[type=email]:focus,
.bg_form-conatiner form input[type=file]:focus,
.bg_form-conatiner form input[type=number]:focus,
.bg_form-conatiner form input[type=password]:focus,
.bg_form-conatiner form input[type=tel]:focus,
.bg_form-conatiner form input[type=text]:focus,
.bg_form-conatiner form select:focus,
.bg_form-conatiner form textarea:focus {
    outline: none;
}

.bg_form-conatiner form input[type=email],
.bg_form-conatiner form input[type=file],
.bg_form-conatiner form input[type=number],
.bg_form-conatiner form input[type=password],
.bg_form-conatiner form input[type=tel],
.bg_form-conatiner form input[type=text],
.bg_form-conatiner form select,
.bg_form-conatiner form textarea {
    color: #000;

}

.bg_form-conatiner form .form-columns-2 .input input,
.bg_form-conatiner form select,
.bg_form-conatiner form .input .hs-fieldtype-textarea {
    background-color: #F0F2FF;
    border-radius: 2px;
    border: none;
}

.bg_form-conatiner form .hs-fieldtype-intl-phone select.hs-input:not([type=checkbox]):not([type=radio]) {
    width: 32% !important;
}


.bg_form-conatiner form .hs-fieldtype-intl-phone input[type="tel"] {
    width: 64% !important;
}

.bg_form-conatiner form .input .hs-fieldtype-textarea {
    height: 43px;
}

.bg_form-conatiner form .hs-submit {
    margin-top: 25px;
}

.bg_form-conatiner form input[type=submit] {
    font-size: 22px;
    border-radius: 4px;
    position: relative;
    padding: 15px 35px;

}

.bg_form-conatiner form .form-columns-2 .hs-form-field:last-child {
    margin-left: 0 !important;
}
.ts_form-slider .ts-slide-bg {
    background: transparent !important;
    padding: 0 30px 0 0;
}
.ts_form-slider .ts-slide-bg:after{
    display: none !important;

}

@media(max-width:1220px) {
    .ts_form-slider .slick-arrow.slick-prev {
        left: 62% !important;
        top: 100% !important;
    }
}

@media(max-width:992px) {
    .ts_form-slider .ts-slide-bg {
        background: transparent !important;
        padding: 0 30px 0 0;
    }

    .ts_form-slider .ts-slide-bg:after,
    .ts_form-slider .ts-slide-bg::before {
        display: none !important;

    }

    .ts_form-slider {
        flex-direction: column !important;
        row-gap: 100px;
    }

    .ts_form-slider .ts-right .title-color h2 {
        margin: 0 0 20px;
    }

    .ts_form-slider .slick-arrow.slick-prev {
        left: 72% !important;
    }

    .ts_form-slider .ts-right,
    .ts_form-slider .ts-left {
        width: 100%;
    }

    .ts_form-slider .ts-slide {
        padding: 30px 10px;
        margin: 0;
    }
}


@media(max-width: 767px) {
    .bg_form-conatiner form .form-columns-2 {
        flex-direction: column;
        margin: 0;
    }

    .bg_form-conatiner form .form-columns-2 .hs-form-field {
        width: 100% !important;
    }

    .bg_form-conatiner form .hs-fieldtype-intl-phone {
        padding: 0 !important;
    }

    .bg_form-conatiner form .form-columns-2 .input {
        margin-bottom: 15px;
    }
}

@media (max-width: 640px) {
    .ts_form-slider .slick-arrow.slick-prev {
        left: 63% !important;
    }

}

@media (max-width: 463px) {
    .ts_form-slider .slick-arrow.slick-prev {
        left: 57% !important;
    }

    .ts_form-slider .ts-slide-bg {
        padding: 0 10px 0;
    }
}

@media (max-width: 422px) {
    .ts_form-slider .slick-arrow.slick-prev {
        left: 53% !important;
    }

    .ts_form-slider .ts-slide-bg {
        padding: 0 10px 0;
    }
    
}
